<div class="modal-card">
  <!-- Header -->
  <div class="modal-header">
    <h3 class="nalej-form-title">{{title}}</h3>
    <button 
      (click)="discardChanges(f)"
      type="button" 
      aria-label="Close"
      class="close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Body -->
  <div class="modal-body">
    <form [formGroup]="editUserForm" (ngSubmit)="saveUserChanges(f)">
      <div class="form-group">
        <label>Name*</label>
        <input 
          formControlName="userName"
          type="text" 
          placeholder="{{userName}}"
          pattern="[a-zA-Z0-9]+"
          value="{{userName}}"
          appAutofocus="true"
          [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
          class="form-control">
        <div *ngIf="!submitted && f.userName.errors" class="error-message"></div>
        <div class="error-h">
          <div *ngIf="submitted && f.userName.errors" class="error-message">
            <div *ngIf="f.userName.errors.minlength">Name is too short</div>
            <div *ngIf="f.userName.errors.pattern">Cannot contain special characters</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input 
          formControlName="email" 
          type="text" 
          placeholder="{{email}}"
          class="form-control">
        <div class="error-h"></div>
      </div>
      <div *ngIf="profileRole === 'Owner'" class="form-group form-group-drop">
        <label>Role*</label>
        <ngx-select-dropdown 
          formControlName="role" 
          [multiple]="false" 
          [ngClass]="{ 'ngx-error': submitted && !userRole }"
          [config]="selectConfig" 
          [options]="roleOptions">
          {{userRole}}
        </ngx-select-dropdown>
        <div class="form-group-drop-arrow"> 
          <i class="material-icons">arrow_drop_down</i>
        </div>
        <div class="error-h">
          <div *ngIf="submitted" class="error-message">
            <div *ngIf="!userRole">A roles is required</div>
          </div>
        </div>
      </div>
      <div *ngIf="profileRole !== 'Owner'" class="form-group">
        <label>Role</label>
        <input 
          placeholder="{{userRole}}"
          type="text" 
          disabled
          class="form-control">
        <div class="error-h"></div>
      </div>
        <!-- Change password -->
      <div (click)="openChangePassword()" class="change-password">
        <p>Change password</p>
      </div>
      <!-- Save new user -->
      <div class="form-group-btn">
        <button class="nalej-form-btn-blue" [disabled]="loading">
          <span class="align-bottom">Save changes</span>
        </button>
      </div>
    </form>
  </div>
</div>