<div class="card">
  <!-- Instance buttons -->
  <div *ngIf="!isOpenFromRegistered && loadedData" class="a-btns-box a-btns-box-big">
    <button 
      (click)="openAddNewConnection()"
      class="a-btn-blue add-connections-btn">
      <i class="material-icons-round a-i-blue">link</i>
      <p>{{'buttons.addNewConnections' | translate}}</p>
    </button>
    <button 
      (click)="undeploy(app)" 
      class="a-btn-grey">
      <i class="material-icons a-i-red">close</i>
      {{'buttons.undeploy' | translate}}
    </button>
  </div>
  <!-- Registered buttons -->
  <div *ngIf="isOpenFromRegistered && loadedData" class="a-btns-box a-btns-box-sm">
    <button 
      (click)="deployRegistered(app)"
      class="a-btn-blue">
      <i class="material-icons a-i-blue">play_arrow</i>
      {{'buttons.deploy' | translate}}
    </button>
    <button 
      (click)="deleteApp(app)" 
      class="a-btn-grey">
      <i class="material-icons a-i-red">delete</i>
      {{'buttons.delete' | translate}}
    </button>
  </div>
</div>
