<!-- Action buttons card-->
<div class="card">
  <!-- Instance buttons -->
  <div *ngIf="openFromInstance" class="apps-options">
    <button 
      class="apps-actions-btn">
      <i class="material-icons-round i-options">link</i>
      Add new connection
    </button>

    <button (click)="undeploy(instance)" class="btn-undeploy">
      <i class="material-icons i-options">close</i>
        {{'apps.instance.undeployInstance'|translate}}
    </button>
  </div>
  <!-- Registered buttons -->
  <div *ngIf="openFromRegistered" class="apps-options">
    <button 
      (click)="deployInstance()"
      class="apps-actions-btn mr-3">
      <i class="material-icons i-options">play_arrow</i>
      Deploy
    </button>
    <button (click)="deleteApp(app)" class="btn-undeploy">
      <i class="material-icons i-options">delete</i>
      Delete
    </button>
  </div>
</div>
