<div class="logs-display-box">
	<div class="logs">
		<span class="logs-display-title">
			<span class="logs-display-date">[Thu Oct 24 13:43:01 2019]</span> [<em>DESCRIPTOR</em>-<code>DescriptorName</code>][<em>INSTANCE</em>-<code>InstanceName</code>][<em>SERVICE GROUP</em> - <code>Service Group Name</code>][<em>SERVICE</em> -
			<code>ServiceName</code>]:
		</span>
		<span class="logs-display-text">
			rqst=track&tv=2.3.1.3&b=ZTE4ZjFlY2VhYQ__&pc=MzE1&i=NWQwNjE4ODc2ZQ__&rf=aHR0cDovL2xvY2FsaG9zdDo0MjAwLw__&di=dcca48101505dd86b703689a604fe3c4&dc=TmFsZWo_&ue=YUhSMGNEb3ZMMnh2WTJGc2FHOXpkRG8wTWpBd0x5TXZiRzluYVc0Xw__&ovlts=MA__&ovlv=djI_&ovlapo=MQ__&ovlc=MQ__&ovlmr=NDA_&full=1&eg=support
		</span>
  </div>
</div>
