@import '../../scss/variables/colors';
@import '../../scss/variables/mixins';

/* - - - Services graph / tables - - - */
/* - - -  Graph - - - */
.graph {
    height: 96%;
    width: 100%;
}
@media screen and (max-height: 780px) {
    .hide-title-sm {
        display: none;
    }
}
/* - - - Tables - - - */
.search-box {
    width: 237px;
    margin-right: 1em;
    margin-right: 0;
}
.card-title-name {
    color: $super-dark-grey;
    margin-bottom: 0;
}
.info-icon {
    font-size: 30px;
}
.label-nalej-table {
    .label-thead {
        margin-bottom: 0px;
    }
    .label-tbody {
        .label-td-flex {
            align-items: flex-end;
        }
    }
}
.accordion-box {
    .label-nalej-table {
        .label-tbody {
            .label-td {
                align-self: center;
            }
        }
    }
}
.services-card-box {
    height: 96%;
    width: 100%;
    .services-table-box {
        height: 50%;
        overflow: hidden;
    }
    .label-thead {
        background-color: $super-light-grey;
    }
}
