
<div class="card">
  <div class="row">
    <div class="col-9 card-title-name-mb">
      <h5>{{'apps.instance.servicesTitle'|translate}}</h5>
    </div>
    <div class="col-3 show-graph-icons">
      <i 
        (click)="selectDisplayMode('list')"
        tooltip="{{'apps.instance.servicesTitle'|translate}}" 
        placement="left"
        [ngClass]="!showGraph ? 'blue' : 'grey'"
        class="material-icons">
        view_list
      </i>
      <i 
        (click)="selectDisplayMode('graph')"
        tooltip="{{'graph.title'|translate}}" 
        placement="left"
        [ngClass]="showGraph ? 'blue' : 'grey'"
        class="material-icons mr-bars">
        bar_chart
      </i>
    </div> 
  </div>
</div>


