<div class="modal-card">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">Install agent</h3>
      <button 
        (click)="discardChanges(f)"
        type="button" 
        aria-label="Close"
        class="close" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <form 
        *ngIf="!loading"
        [formGroup]="installAgentForm" 
        (ngSubmit)="installAgent(f)">
      <div class="scroll-modal-form">
        <div class="form-group form-group-drop">
          <label>Agent type*</label>
          <ngx-select-dropdown 
            formControlName="type" 
            [multiple]="false" 
            [ngClass]="{ 'ngx-error': submitted && f.type.errors && !agentType }"
            [config]="agentTypeSelectConfig" 
            [options]="agentTypeOptions">
          </ngx-select-dropdown>
          <div class="form-group-drop-arrow"> 
            <i class="material-icons">arrow_drop_down</i>
          </div>
          <div class="error-h">
            <div *ngIf=
              "submitted &&
              f.type.errors &&
              !agentType" 
              class="error-message">
              <div *ngIf="f.type.errors.required">An agent type is required</div>
            </div>
          </div>
        </div>
        <div *ngIf="!openFromEc" class="form-group form-group-drop">
          <label>Edge inventory Controller*</label>
          <ngx-select-dropdown 
            formControlName="edgeController" 
            [multiple]="false" 
            [ngClass]="{ 'ngx-error': submitted && f.edgeController.errors && !edgeControllerId }"
            [config]="edgeControllerSelectConfig" 
            [options]="getControllersList()">
            {{edgeControllerId}}
          </ngx-select-dropdown>
          <div class="form-group-drop-arrow"> 
            <i class="material-icons">arrow_drop_down</i>
          </div>
          <div class="error-h">
            <div *ngIf=
              "submitted &&
              f.edgeController.errors &&
              !edgeControllerId" 
              class="error-message">
              <div *ngIf="f.edgeController.errors.required">An Edge Controller is required</div>
            </div>
          </div>
        </div>
        <div *ngIf="openFromEc" class="form-group">
          <label>Edge inventory Controller</label>
          <input 
            formControlName="edgeControllerFromEC" 
            type="text" 
            placeholder="{{name}}"
            class="form-control">
          <div class="error-h"></div>
        </div>
        <div class="form-group">
          <label>SSH username*</label>
          <input 
            formControlName="sshUsername" 
            type="text" 
            placeholder="SSH username"
            [ngClass]="{ 'is-invalid': submitted && f.sshUsername.errors }" 
            required
            class="form-control">
          <div class="error-h">
            <div *ngIf="submitted && f.sshUsername.errors" class="error-message">
              <div *ngIf="f.sshUsername.errors.required">SSH username is required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>SSH password*</label>
          <input 
            formControlName="sshPassword" 
            type="password" 
            placeholder="Type the SSH password here"
            [ngClass]="{ 'is-invalid': submitted && f.sshPassword.errors }"
            required
            class="form-control">
          <div class="error-h">
            <div *ngIf="submitted && f.sshPassword.errors" class="error-message">
              <div *ngIf="f.sshPassword.errors.required">SSH password is required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Target host*</label>
          <input 
            formControlName="target" 
            type="text" 
            placeholder="Target host"
            [ngClass]="{ 'is-invalid': submitted && f.target.errors }"
            required
            class="form-control">
          <div class="error-h">
            <div *ngIf="submitted && f.target.errors" class="error-message">
              <div *ngIf="f.target.errors.required">Target is required</div>
            </div>
          </div>
        </div>
      </div>
        <!-- Install agent -->
        <div class="form-group-btn">
          <button 
            class="nalej-form-btn-blue" 
            [disabled]="loading">
            <span class="align-bottom">Install</span>
          </button>
        </div>
      </form>
      <!-- Loader -->
      <div *ngIf="loading" class="nalej-loader-box">
        <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle 
            class="path" 
            cx="50" 
            cy="50" 
            r="20" 
            fill="none" 
            stroke-width="2" 
            stroke-miterlimit="10"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>