.btn-md {
    border: 0px;
    border-radius: 5px;
    width: 120px;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    padding: 11px;
    height: 47px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.btn-primary {
    text-indent: -7px;
}
.buttons {
    padding: 1em 0;
}

.dev-group-content {
    padding: 2em 1em;
    .dev-group-modal-header{
        text-align: center;
        padding: 1rem;
        font-size: 1em;
        .nalej-form-title {
            font-size: 1.2em;
            padding: 0 1em;
        }
    }
    .modal-body {
        text-align: center;
    }
    .dev-group-api {
        padding: 2em 1em;
        span {
            text-align: center;
            font-size: .7em;
            display: block;
        }
    } 
}


@media screen and (max-width: 1300px) {
    .buttons {
        padding: 0;
    }
}

