@mixin for-desktop-only {
    @media all and (max-width: 1440px), all and  (max-height: 900px) { @content; }
}

$base-grey: #828282;
$super-light-grey: #F8F8F8;
$light-grey: #EEEEEE;
$super-dark-grey: #151515;
$base-light-grey: #BFBFBF;

.summary-instance-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#summary-status {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    @include for-desktop-only {
        font-size: 1em;
    }
}
.info-icon {
    font-size: 32px;
}
.big-status-dot-nalej, 
.big-status-dot:before, 
.big-status-dot-error:before, 
.big-status-dot-process:before, 
.modal-body .big-status-dot:before, 
.modal-body .big-status-dot-error:before, 
.modal-body .big-status-dot-process:before {
    content: '\A';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 1px;
}
.tabs-box {
    margin-top: 22px;
}
.search-box {
    width: 100%;
    float: none;
    margin-bottom: 24px;
}
.app-info-button {
    display: inline;
    float: right;
}
.summary-info-box {
    width: 100%;
}
.scroll-app-info {
    margin: 0;
    max-height: 120px;
    font-size: 12px;
}
.label-nalej-table .label-thead .label-th {
    font-size: 13px;
}
.tabs-box li {
    margin: 0 auto;
}
.accordion-box {
    width: 100%;
    .form-group {
        margin: 0;
        overflow-y: scroll;
        height: 100px;
        padding: 0 24px;
        input {
            &::placeholder {
                color:$super-dark-grey;
                font-size: 12px;
            }
        }
    }
    .form-control:disabled {
        background-color: $light-grey;
        border-color: $light-grey;
    }
    .form-group label, .form-group-btn label {
        font-size: 12px;
    }
    .action-btn-red {
        height: 25px;
        width: 25px;
        .i-red {
            font-size: 16px;
            font-weight: 500;
            position: absolute;
            top: 5px;
            left: 5px;
        }
    }
    .accordion-foot {
        color: $base-light-grey;
        text-transform: lowercase;
        font-size: 10px;
        &::first-letter {
            text-transform: capitalize;
        }
    }
}
