.blue {
    color: #0937FF;
}
.grey {
    color: #949494;
}
.dark-grey {
    color: #707070;
}
.light-grey {
    color: #d2d2d2;
}
.red {
    color: #F25272;
}
.teal {
    color: #03D7E8;
}
.bg-light-grey {
    background-color: #ededed;
}