<div class="modal-card">
  <!-- Header -->
  <div class="modal-header">
    <h3 class="nalej-form-title">{{title}}</h3>
    <button 
      (click)="bsModalRef.hide()"
      type="button" 
      aria-label="Close"
      class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Body -->
  <div class="modal-body">
    <div class="avatar-frame">
      <i class="material-icons">person</i>
    </div>
    <form [formGroup]="userInfoForm">
      <div class="form-group">
        <label>{{'organization.users.name' | translate}}</label>
        <input 
          formControlName="userName"
          type="text" 
          placeholder="{{userName}}"
          class="form-control">
        <div class="error-h"></div>
      </div>
      <div class="form-group">
        <label>{{'organization.users.email' | translate}}</label>
        <input 
          formControlName="email" 
          type="text" 
          placeholder="{{email}}"
          class="form-control">
          <div class="error-h"></div>
      </div>
      <div class="form-group">
        <label>{{'organization.users.role' | translate}}</label>
        <input 
          formControlName="role" 
          type="text" 
          placeholder="{{role}}"
          class="form-control">
          <div class="error-h"></div>
      </div>
      <!-- Change password -->
      <div (click)="openChangePassword()" class="change-password">
        <p>{{'buttons.changePassword' | translate}}</p>
      </div>
      <!-- Delete user -->
      <div class="form-group-btn">
        <button (click)="deleteUser()" class="nalej-form-btn-red">
          <i class="material-icons delete-icon">delete</i>
          <span class="align-bottom">{{buttonDeleteUser}}</span>
        </button>
      </div>
    </form>
  </div>
</div>
