@import '../../scss/variables/colors';
@import '../../scss/variables/mixins';

.avatar-frame {
  border: 2px solid $white;
  background-color: $dark-grey;
  margin: 0 auto;
  width: 112px;
  height: 112px;
  position: relative;
  border-radius: 50%;
  margin-bottom: 1em;
  > i {
    font-size: 100px;
    margin: 0 auto;
    margin-left: 4px;
    color: $white;
  }
  @include for-sm-desktop-up { 
    display: none;
  }
}
.change-password {
  color: $base-violet;
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2em;
}
