<div class="modal-card">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">{{name}} configuration</h3>
      <button 
        type="button" 
        class="close" 
        aria-label="Close"
        (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <!-- Option checkboxes -->
      <div class="check-options">
        <p class="grey">Group device availability</p>
        <div class="add-dev-checkbox">
          <span 
            *ngIf="!enabled" 
            (click)="enabled = true">
            <i class="material-icons grey">check_box_outline_blank</i>
          </span>
          <span 
            *ngIf="enabled" 
            (click)="enabled = false"
            class="devices-checkbox">
            <i class="material-icons blue">check_box</i>
          </span>
        </div>
        <br>
        <p class="grey">Devices enabled by default</p>
        <div class="add-dev-checkbox">
          <span 
            *ngIf="!defaultConnectivity" 
            (click)="defaultConnectivity = true">
            <i class="material-icons grey">check_box_outline_blank</i>
          </span>
          <span 
            *ngIf="defaultConnectivity" 
            (click)="defaultConnectivity = false"
            class="devices-checkbox">
            <i class="material-icons blue">check_box</i>
          </span>
        </div>   
      </div>
      <!-- Option buttons -->
      <div class="buttons d-flex flex-row justify-content-between">
        <button 
          class="btn btn-primary btn-md" 
          (click)="saveGroupChangesl()">
          <span class="align-bottom">Save</span>
        </button>
        <button 
          class="btn btn-red btn-md" 
          (click)="closeModal()">
          <span class="align-bottom">Discard</span>
        </button>
      </div>
    </div>
  </div>
</div>