.check-options {
    padding-top: 2em;
    padding-bottom: 1em;
    p {
        font-size: .9em;
        display: inline-block;
    }
    .add-dev-checkbox {
        float: right;
    }
}
@media screen and (max-width: 1440px) {
    .check-options {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}
.devices-checkbox {
    cursor: pointer;
}