.btn-md {
    border: 0px;
    border-radius: 5px;
    width: 120px;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    padding: 11px;
    height: 47px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.btn-primary {
    text-indent: -7px;
}
.buttons {
    padding: 1em 0;
}
.check-options {
    p {
        font-size: .9em;
        display: inline-block;
    }
    .add-dev-checkbox {
        float: right;
    }
}

@media screen and (max-width: 1300px) {
    .buttons {
        padding: 0;
    }
    .group-config-small {
        padding: 2.5em 2em;
    }
}