// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

@import  'app/scss/variables/mixins';
@import  'app/scss/variables/colors';

/* - - - Basic buttons styles- - - */
.btn-primary {
    width: 257px;
    color: #fff;
    background-color: $base-purple;
    border: 0px;
    border-radius: 5px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &:hover {
        color: #fff;
        transition: 0.3s;
        background-color: #4f71fd;
    }
}
.nalej-btn-lg {
    @extend .btn-primary;
    padding: 15px;
    font-size: 14px;
}
button[type="submit"]:disabled {
    background: #949494;
    background: -moz-linear-gradient(left, #949494 0%, #444444 100%); 
    background: -webkit-linear-gradient(left, #949494 0%,#444444 100%);
    background: linear-gradient(to right, #949494 0%,#444444 100%);
}
.btn-p-fix {
    padding-top: 10px !important;
}

 /* - - - Actions btns styles - - - */
.action-btn {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    border: 0;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
}
.action-btn-blue {
    @extend .action-btn;
    color: #fff;
    background-color: $base-purple;
    &:hover {
      color: #fff;
      transition: 0.3s;
      background-color: #4f71fd;
    }
    @include for-desktop-up {
        height: 25px;
        width: 25px;
        min-height: 25px;
        min-width: 25px;
    }
}
.action-btn-red {
    @extend .action-btn;
    color: $base-pink;
    background-color: #E8E8E8;
    &:hover {
      color: #fff;
      transition: 0.3s;
      background-color: $base-pink;
    }
    @include for-desktop-up {
        height: 25px;
        width: 25px;
        min-height: 25px;
        min-width: 25px;
    }
}
.action-btn-grey {
    @extend .action-btn;
    color: #404040;
    background-color: #E8E8E8;
    &:hover {
      color: #fff;
      transition: 0.3s;
      background-color:#404040
    }
    @include for-desktop-up {
        height: 25px;
        width: 25px;
        min-height: 25px;
        min-width: 25px;
    }
}
.action-btn-grey-selected {
    @extend .action-btn;
    color: #E8E8E8;
    background-color:  #404040;
    @include for-desktop-up {
        height: 25px;
        width: 25px;
        min-height: 25px;
        min-width: 25px;
    }
}
.i-white {
    font-size: 1.2em;
    position: absolute;
    top: 7px;
    left: 8px;
    @include for-desktop-up {
        font-size: 1em;
        top: 5px;
        left: 6px;
    }
}
.i-red {
    font-size: 1.2em;
    font-weight: 700;
    position: absolute;
    top: 8px;
    left: 7px;
    @include for-desktop-up {
        font-size: 1em;
        top: 6px;
        left: 5px;
    }
}
.i-black {
    font-size: 1.8em;
    position: absolute;
    top: 4px;
    left: 3px;
    @include for-desktop-up {
        font-size: 1.5em;
        top: 2px;
        left: 2px;
    }
}

.info-icon {
    color: $base-purple;
    cursor: pointer;
    font-size: 39px;
    @include for-desktop-up {
        font-size: 31px;
    }
    &:hover {
       color: #4f71fd;
    }
}

//  Action buttons when there are two in a column
.actions-col {
    justify-content: center;
    display: flex !important;
    flex-direction: row;
}
.action-btn-blue-2 {
    @extend .action-btn-blue;
    margin: 3px 6px;
}
.action-btn-red-2 {
    @extend .action-btn-red;
    margin: 3px 6px;
}
.action-btn-grey-2 {
    @extend .action-btn-grey;
    margin: 3px 6px;
}
.i-white-2 {
    @extend .i-white;
    top: 7px;
    left: 8px;
    @include for-desktop-up {
        font-size: 1em;
        top: 5px;
        left: 6px;
    }
}
.i-red-2 {
    @extend .i-white;
    top: 7px;
    left: 8px;
    @include for-desktop-up {
        font-size: 1em;
        top: 5px;
        left: 6px;
    }
}
.i-black-2 {
    @extend .i-black;
    font-size: 1.4em;
    top: 6px;
    left: 6px;
    @include for-desktop-up {
        font-size: 1em;
        top: 5px;
        left: 6px;
    }
}

/* - - -  Label buttons - - - */

// Normal label style
.btn-outline-primary {
    margin:1px;
    text-align: left;
    max-width: -webkit-fill-available;
    border-color: $base-purple;
    color: $base-purple;
    &:hover:enabled{
        background-color: #707070;
        border-color: #707070;
        color: white;
    }
    &:hover:disabled{
        border-color: $base-purple;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        color: $base-purple;
        background-color: transparent;   
    }
}

// Selected label style
.label-btn-selected {
    text-align: left;
    max-width: -webkit-fill-available;
    margin: 1px;
    color: #fff;
    background-color: $base-purple;
    border-radius: 5px;
    -webkit-box-shadow: -4px 6px 13px -2px rgba(148,148,148,0.52);
    -moz-box-shadow: -4px 6px 13px -2px rgba(148,148,148,0.52);
    box-shadow: -4px 6px 13px -2px rgba(148,148,148,0.52);
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

// To be selected label style
.btn-label-grey {
    margin: 1px;
    text-align: left;
    max-width: -webkit-fill-available;
    border-color: #949494;
    color: #949494;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

// Add and delete label container
.label-btns {
    width: 30px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.label-btn {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin: .3em;
    position: relative;
    cursor: pointer;
    &:hover {
        color: #fff;
        transition: 0.3s;
    }
}
.label-btn-red {
    @extend .label-btn;
    background-color: $base-pink;
    &:hover {
        background-color: #ff8eb1;
    }
}
.i-delete{
    font-size: 1em;
    position: absolute;
    top: 4px;
    left: 4px;
    color: white;
}
.label-btn-blue {
    @extend .label-btn;
    background-color: $base-purple;
    &:hover {
        background-color: #4f71fd;
    }
}
.i-add{
    font-size: 1.4em;
    position: absolute;
    top: 1px;
    left: 1px;
    color: white;
}
  