// -----------------------------------------------------------------------------
// Cards
// -----------------------------------------------------------------------------

@import  'app/scss/variables/mixins';


/* - - - Main row styles- - - */
.row-title {
    margin-bottom: 15px;
    @include for-desktop-only  { 
    }
    @include for-desktop-h {
        display: none;
    }
}
.no-gutters-fix {
    @include for-desktop-h {
        margin-right: -10px;
        margin-left: -10px;
    
        > .col,
        > [class*="col-"] {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}
.row-info {
    height: 29%;
    margin-bottom: 30px;
    @extend .no-gutters-fix;
    @include for-desktop-h {
        margin-bottom: 20px;
    }
}
.row-main {
    height: 61%;
    @extend .no-gutters-fix;
    @include for-desktop-h {
        height: 67%;
    }
} 
/* - - - App instances / registered row styles- - - */

.row-app-main {
    height: 97%; 
    @extend .no-gutters-fix;
    @include for-desktop-h {
        height: 100%;
    }
}
.flex-col-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 96%;
    @include for-desktop-h {
        height: 100%;
    }
}
.row-info-app {
    margin-bottom: 30px;
    @include for-desktop-h {
        margin-bottom: 20px;
    }
}
.row-app-services {
    margin-bottom: 30px;
    @include for-desktop-h {
        margin-bottom: 20px;
    }
}
.row-app-rules {
    max-height: 40%;
    flex-wrap: nowrap;
    @extend .no-gutters-fix;
}

/* - - - Basic card styles- - - */
.card {
  -webkit-box-shadow: 0px 16px 50px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 16px 50px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 16px 50px 2px rgba(0,0,0,0.16);
  border-radius: 10px;
  border: 0;
  overflow: hidden;
  padding: 1.5rem;
  height: 100%;
}
.card-title-name {
    @include for-desktop-only {
        h5 {
            font-size: 1em;
        }
    }
}
.card-title-name-mb {
    margin-bottom: 1em;
    @include for-desktop-only {
        margin-bottom: 0em;
        h5 {
            font-size: 1em;
        }
    }
}

/* - - - Summary card styles- - - */
.summary-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    @include for-desktop-only {
        margin-top: 0em;
    }
    @include for-sm-desktop-only {
        margin-top: 0em;
        height: 82%;
    }
}
.summary-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    min-height: 129px;
    min-width: 50%;
}

/* - - - Summary circles styles - - - */
.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 6vw;
    border: 1px solid #949494;
    border-radius: 100%;
    min-width: 65px;
    min-height: 65px;
    @include for-desktop-only {
        max-width: 90px;
        max-height: 90px;
    }
    @include for-sm-desktop-only {
        max-width: 65px;
        max-height: 65px;
    }
    @include for-big-desktop-up {
        max-height: 140px;
        max-width: 140px;
    }   
    span {
        color: black;
        font-size: 1.7em;
        margin-top: .25em;
        @include for-desktop-only {
            font-size: 1.2em;
        }
        @include for-sm-desktop-only {
            font-size: 1em;
        }
    }
    span.circle-measure {
        margin-top: -.7em;
        font-size: 1.1em;
        @include for-desktop-only {
            font-size: .9em;
        }
        @include for-sm-desktop-only {
            font-size: .7em;
        }
    }
}
.circle-name {
    margin-top: 1em;
    margin-bottom: 0;
    color: #949494;
    font-size: 1.2em;
    @include for-desktop-only {
        font-size: .8em;
        margin-top: .4em;
    }
}
.circle-name-sm {
    font-size: .9em;
    color: #949494;
    line-height: .7;
    margin-top: 1em;
    @include for-desktop-only {
        font-size: .7em;
    }
}
.circle-name-mt {
    margin-top: 0em;
    @include for-desktop-up {
        font-size: .8em;
        margin-top: -.5em;
    }
}
