// -----------------------------------------------------------------------------
// Tabs
// -----------------------------------------------------------------------------

/* - - - Nalej tabs - - - */
.nalej-tab-box {
    margin: 0em 3em 2em 1em;
    font-size: .6em;
    border-bottom: 1px solid $super-light-grey;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    li {
        font-size: 1em;
        float: left;
        padding: 0.5rem 2.5rem;
        cursor: pointer;
        position: relative;
        @media screen and (max-width: 1570px) {
            padding: 0.5rem .9rem;
        }
        @media screen and (max-width: 1779px) {
            padding: 0.5rem 1.2rem;
        }
    }
    .tabs-arrow {
        color: $base-grey;
        padding: 0rem 2rem;
    }
    .nalej-tab-title {
        cursor: default;
        padding-right: 8em;
        > span {
            font-weight: 700;
        }
    }
    span {
        font-weight: 500;
        color: $base-grey;
        display: block;
        text-decoration: none;
        transition: .3s background-color;
        &.active {
            color: $base-violet;
            &::before {
            content: "";
            height: 5px;
            width: 100%;
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            background-color: $base-violet;
            }
        }
    }
}
.accordion-box {
    overflow: scroll;
    height: 100%;
    width: 80%;
    display: block;
    border: 3px dotted greenyellow;
}

.accordion-tabs {
    // border: 1px solid orange;
    .customClass {
        padding: 0;

        // &:first-child {
        //     border-radius:5px;
        // }
        .card-header {
            padding: 0;
            margin-bottom: 0;
            background-color: #EEEEEE;
            border-radius: 15px;
            min-height: 42px;
            border-bottom: none;
        }
        .btn-link {
            font-weight: 400;
            color: $base-violet;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            padding-left: 3em;
        }
        // &:before {
        //     font-family: "Font Awesome 5 Free";
        //     content: "\f095";
        //     display: inline-block;
        //     padding-right: 3px;
        //     vertical-align: middle;
        //     font-weight: 900;
        // }

    }
}
