// -----------------------------------------------------------------------------
// Tabs
// -----------------------------------------------------------------------------

/* - - - Nalej tabs - - - */
.nalej-tab-box {
    margin: 0em 3em 2em 1em;
    font-size: .6em;
    border-bottom: 1px solid $super-light-grey;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    li {
        font-size: 1em;
        float: left;
        padding: 0.5rem 2.5rem;
        cursor: pointer;
        position: relative;
        @media screen and (max-width: 1570px) {
            padding: 0.5rem .9rem;
        }
        @media screen and (max-width: 1779px) {
            padding: 0.5rem 1.2rem;
        }
    }
    .tabs-arrow {
        color: $base-grey;
        padding: 0rem 2rem;
    }
    .nalej-tab-title {
        cursor: default;
        padding-right: 8em;
        > span {
            font-weight: 700;
        }
    }
    span {
        font-weight: 500;
        color: $base-grey;
        display: block;
        text-decoration: none;
        transition: .3s background-color;
        &.active {
            color: $base-violet;
            &::before {
            content: "";
            height: 5px;
            width: 100%;
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            background-color: $base-violet;
            }
        }
    }
}
.accordion-box {
    overflow-y: scroll;
    height: 100%;
    width: 80%;
    .accordion-tabs {
        .card-body {
            flex: 1 1 auto;
            padding: 1.25rem .6em;
        }
        .card {
            box-shadow: none;
            border-radius: 10px;
            border: 0;
            overflow: hidden;
            padding: 1.5rem;
            height: 100%;
        }
        // border: 1px solid orange;
        .nalejAccordion {
            padding: 0;
            .card-header {
                padding: 0;
                margin-bottom: 3px;
                background-color: #EEEEEE;
                border-radius: 15px;
                min-height: 42px;
                border-bottom: none;
                position: relative;
            }
             .btn-link {
                color: $base-violet;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                margin-left: 54px;
            }
            .accordion-icons-box {
                .action-btn-grey, .action-btn-grey-2 {
                    background-color: #BFBFBF;
                }
                .accordion-arrow {
                    color: #707070;
                    font-size: 27px;
                    position: absolute;
                    top: 8px;
                    left: 27px;
                }
                .accordion-btn {
                    color: #707070;
                    font-size: 27px;
                    position: absolute;
                    top: 5px;
                    right: 27px;
                    @include for-desktop-up {
                        top: 1px;
                        right: 27px;
                    }
                }
            }
        }
    }
}
