// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------

@import  'app/scss/variables/mixins';

.col-center-lowercase {
    text-align: center;
    text-transform: lowercase;
}
.col-right-low {
    text-align: right;
    text-transform: lowercase;
}
.nalej-table-box {
    height: 80%;
    width: 100%;
    overflow: hidden;
}

/* - - -  Nalej big table - - - */
.nalej-table {
    height: 100%;
    display: block;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    thead, tbody, tr, td, th {
        display: block;
    }
    thead {
        background-color: white;
        th {
            float: left;
            border: none;
            font-size: .9em;
            font-weight: 200;
            cursor: pointer;
            &.default{
                color: #212529;
                i {
                color: #212529;
                }
            }
            &.enabled {
                i {
                color: #0937FF;
                }
                span i{
                visibility: visible;
                }
            }
            &.disabled {
                color: #949494;
                i {
                color: #949494;
                }
            }
        }
        .expand-chevron {
            position: relative;
            cursor: pointer;
            top: 3px;
            right: 3px;
            i {
                font-size: 1.1em;
            }
        }
    }   

    .nalej-thead {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
        min-height: 26px;
    }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }
    tbody {
        tr:first-child td {
            border: none;
        }
        td {
            float: left;
            padding: 0.75rem;
            font-size: .9em;
            border-top: .8px solid #f6f6f6;
            color: #949494;
        }
    }
}

/* - - -  Nalej flex table fot 4 adn 5 cols - - - */
.nalej-flex-table-box {
    display: block;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    div {
        box-sizing: border-box;
    }
}
.nalej-flex-table {
  display: flex;
  flex-flow: row wrap;
  transition: 0.5s;
  margin-right: 0;
  margin-left: 0;
}
.nalej-flex-th {
    color: #212529;
    font-size: .9em;
    font-weight: 200;
    border-bottom: none;
}
.nalej-flex-td {
    font-size: .9em;
    color: #949494;
    border-bottom: .8px solid #f6f6f6;
    padding: .75em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    button {
        margin: 2px auto;
    }
}
.nalej-flex-row-4 {
    width: calc(100% / 4);
    text-align: center;
    cursor: pointer;
    &.default{
        color: #212529;
        i {
        color: #212529;
        }
    }
    &.enabled {
        i {
            color: #0937FF;
        }
        span i{
            visibility: visible;
        }
    }
    &.disabled {
            color: #949494;
        i {
            color: #949494;
        }
    }
    .expand-chevron {
        position: relative;
        cursor: pointer;
        top: 3px;
        right: 0;
        i {
            font-size: 1.1em;
        }
    }
}
.nalej-flex-row-5 {
    width: calc(100% / 5);
    text-align: center;
    cursor: pointer;
    &.default{
        color: #212529;
        i {
        color: #212529;
        }
    }
    &.enabled {
        i {
            color: #0937FF;
        }
        span i {
            visibility: visible;
        }
    }
    &.disabled {
        color: #949494;
        i {
            color: #949494;
        }
    }
    .expand-chevron {
        position: relative;
        cursor: pointer;
        top: 3px;
        right: 0;
        i {
            font-size: 1.1em;
        }
    }
}
.rowspan {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}
.nalej-flex-column {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    padding: 0;
    .nalej-flex-row-4, .nalej-flex-row-5 {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: 0;
        border: 0;
    }
}

@media all and (max-width: 1440px) {
    .nalej-flex-row-4 {
        border-bottom: none;
        width: calc(100% / 3); //1px = border right
        &.wider-cell{
            justify-content: center;
            display: flex;
            border-radius: 7px;
            flex-direction: row;
            width: 100%;
            background-color: #f6f6f6;
        }
    }
    .nalej-flex-row-5 {
        border-bottom: none;
        width: calc(100% / 4); //1px = border right
        &.wider-cell{
            justify-content: center;
            display: flex;
            border-radius: 7px;
            flex-direction: row;
            width: 100%;
            background-color: #f6f6f6;
        }

    }
    .nalej-flex-column  {
        width: 100%;
    }
}

@media all and (max-width: 1000px) {
    .nalej-flex-table {
        .nalej-flex-row-4, .nalej-flex-row-5 {
        border-bottom: 0;
        }
    }
    .nalej-flex-row-4, .nalej-flex-row-5 {
        width: 100%; //1px = border right
        &.wider-cell{
            position: relative;
            width: 100%;
        }
    }
    .nalej-flex-column {
        width: 100%;
        .nalej-flex-row-4, .nalej-flex-row-5 {
            border-bottom: solid 1px purple;
        }
    }
    .nalej-flex-cell {
        width: 100%; //1px = border right
    }
    .nalej-flex-td {
        padding: .2em;
    }
}
.rules-info-sm-table-box {
    height: 100%;
    overflow-y: scroll;
    display: none;
    @include for-xs-desktop-h  {
        display: block;
        .rules-info-sm-table {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .5em;
        }
        .rules-info-sm-text {
            font-size: .8em;
            color: #949494;
        }
    }
}

/* - - -  Search and sort in tables - - - */

// Sorting styles
.sorting-message {
    color: #949494;
    font-size: .9em;
    padding: .55rem;
    margin-bottom: 0;
    .reset-search{
        cursor: pointer;
        color: #0937FF
    }
    @include for-sm-desktop-up {
        padding: .4rem .75rem;
    }
}
  
// Search box
.search-box {    
    width: 325px;
    position: relative; 
    font-size: 1rem;
    float: right;
    margin-right: 2em;
    @include for-sm-desktop-up {
        margin-bottom: .2rem;
        margin-right: 0;
    }
    .form-control {
        font-size: 1rem;
        padding: .375rem 2.1rem .375rem 0rem;
    }
    > input {
        border: 2px solid #ededed;
        border-radius: 5px;
        text-indent: 1em;
        text-align: left;
        background-color: transparent;
        &::placeholder {
            font-size: .9em;
            color: #ccc;
        }
        &:focus {
            z-index: 2;
            border-color: #0937FF;
            outline: none;
            box-shadow: none;
            &::placeholder {
            color: white;
            }
        }
    }
    .search-icon i {
        position: absolute;
        top: 7px;
        right: 23px;
        color: #ccc;
        cursor: pointer;
    }
    .close-icon i {
        position: absolute;
        top: 11px;
        right: 23px;
        font-size: 16px;
        font-weight: bold;
        color: #0937FF;
        cursor: pointer;
    }
}

/* - - - Status dots for tables - - - */
.status-dot-nalej {
    content:'\A';
    width:10px;
    height:10px;
    border-radius:50%;
    display:inline-block;
    margin: 0 5px 0 0;
}
.status-dot {
    @include for-desktop-up {
        text-align: center;
    }
    &:before {
        @extend .status-dot-nalej;
        background: #0937FF;
        @include for-desktop-up {
            margin: 0 23px;
        }
    }
}
.status-dot-error{
    @include for-desktop-up {
        text-align: center;
    }
    &:before {
        @extend .status-dot-nalej;
        background: #F25272;
        @include for-desktop-up {
            margin: 0 23px;
        }
    }
}
.status-dot-process {
    @include for-desktop-up {
        text-align: center;
    }
    &:before {
        @extend .status-dot-nalej;
        background: #03D7E8;
        @include for-desktop-up {
            margin: 0 23px;
        }
    }
}
  
