// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------

@import  'app/scss/variables/mixins';

.col-center-lowercase {
    text-align: center;
    text-transform: lowercase;
}
.col-right-low {
    text-align: right;
    text-transform: lowercase;
}
.nalej-table-box {
    height: 80%;
    width: 100%;
    overflow: hidden;
}
.nalej-table {
    height: 100%;
    display: block;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    thead, tbody, tr, td, th {
        display: block;
    }
    thead {
        background-color: white;
        th {
            float: left;
            border: none;
            font-size: .9em;
            font-weight: 200;
            cursor: pointer;
            &.default{
                color: black;
                i {
                color: black;
                }
            }
            &.enabled {
                i {
                color: #0937FF;
                }
                span i{
                visibility: visible;
                }
            }
            &.disabled {
                color: #949494;
                i {
                color: #949494;
                }
            }
        }
        .expand-chevron {
            position: relative;
            cursor: pointer;
            top: 3px;
            right: 3px;
            i {
                font-size: 1.1em;
            }
        }
    }   

    .nalej-thead {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
        min-height: 26px;
    }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }
    tbody {
        tr:first-child td {
            border: none;
        }
        td {
            float: left;
            padding: 0.75rem;
            font-size: .9em;
            border-top: .8px solid #EEEEEE;
            color: #949494;
        }
    }
}

.tomato-table-box {
    width: 100%;
    overflow: scroll;
    height: 100%;
    .tomato-table { 
        width: 100%;
    }
    .tomato-table tr { 
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: .8px solid #EEEEEE;
    }
    .tomato-table th {
        font-size: .9em;
        font-weight: 200;
        border: 1px dotted purple;
        flex: 1 1 150px;
    }
    .tomato-table td { 
        flex: 1 1 150px;
        padding: 0.75rem;
        font-size: .9em;
        // border-top: .8px solid #EEEEEE;
        color: #949494;
        width: 100%;
        // border: 1px dotted red;
    }
    .tomato-table th, .tomato-table td { 
        // text-align: left; 
        // padding: 0.25em;
        // border: 1px dotted red;
    }

    // @media screen and (max-width: 1440px) {
    //     tr { 
    //         display: flex; 
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //         // margin: 0.5em 0;
    //         border: 1px solid orange;
            
    //     }
    //     td{
    //         flex: 1 1 150px;
    //         border: 0.5px solid green;
    //     }
    //     th {
    //         flex: 1 1 150px;
    //         border: 0.5px solid green;
    //     }
    //     td.edit-buttons {
    //         /*flex: 1 0 90%;
    //         text-align: center;*/
    //     }
    // }
}
.tomato-table-span {
    background-color: pink;
}


/* - - -  Search and sort in tables - - - */

// Sorting styles
.sorting-message {
    color: #949494;
    font-size: .9em;
    padding: .55rem;
    margin-bottom: 0;
    .reset-search{
        cursor: pointer;
        color: #0937FF
    }
    @include for-sm-desktop-up {
        padding: .4rem .75rem;
    }
}
  
// Search box
.search-box {    
    width: 325px;
    position: relative; 
    font-size: 1rem;
    float: right;
    margin-right: 2em;
    @include for-sm-desktop-up {
        margin-bottom: .2rem;
        margin-right: 0;
    }
    .form-control {
        font-size: 1rem;
        padding: .375rem 2.1rem .375rem 0rem;
    }
    > input {
        border: 2px solid #ededed;
        border-radius: 5px;
        text-indent: 1em;
        text-align: left;
        background-color: transparent;
        &::placeholder {
            font-size: .9em;
            color: #ccc;
        }
        &:focus {
            z-index: 2;
            border-color: #0937FF;
            outline: none;
            box-shadow: none;
            &::placeholder {
            color: white;
            }
        }
    }
    .search-icon i {
        position: absolute;
        top: 7px;
        right: 23px;
        color: #ccc;
        cursor: pointer;
    }
    .close-icon i {
        position: absolute;
        top: 11px;
        right: 23px;
        font-size: 16px;
        font-weight: bold;
        color: #0937FF;
        cursor: pointer;
    }
}

/* - - - Status dots for tables - - - */
.status-dot-nalej {
    content:'\A';
    width:10px;
    height:10px;
    border-radius:50%;
    display:inline-block;
    margin: 0 5px 0 0;
}
.status-dot {
    @include for-desktop-up {
        text-align: center;
    }
    &:before {
        @extend .status-dot-nalej;
        background: #0937FF;
        @include for-desktop-up {
            margin: 0 23px;
        }
    }
}
.status-dot-error{
    @include for-desktop-up {
        text-align: center;
    }
    &:before {
        @extend .status-dot-nalej;
        background: #F25272;
        @include for-desktop-up {
            margin: 0 23px;
        }
    }
}
.status-dot-process {
    @include for-desktop-up {
        text-align: center;
    }
    &:before {
        @extend .status-dot-nalej;
        background: #03D7E8;
        @include for-desktop-up {
            margin: 0 23px;
        }
    }
}
  
