.nalej-form {
  height: 100%;
  margin-bottom: 2em;
}

form label {
  font-size: .8em;
  color: #949494;
  margin-bottom: 0;
}
.error-message {
  font-size: 0.8em;
  color: #F25272;
  // margin-top: .6em;
}
.form-group {
  margin-bottom: .5rem;
}
.form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    font-size: .8em;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #EEEEEE;
    caret-color: #0937FF;
    &:focus {
      z-index: 2;
      border-color: #0937FF;
      outline: none;
      box-shadow: none;
      &::placeholder {
        color: white;
      }
    }
  }
.form-control:disabled, .form-control[readonly] {
   background-color: white; 
}
input {

    &:checked {
      outline: none;
    }
    &::placeholder {
      color: #d2d2d2;

    }
    &:-webkit-autofill {
      background-color: #fff !important;
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
  }
.btn-md {
  border: 0px;
  border-radius: 5px;
  width: 232px;
  font-size: 0.8em;
  text-align: center;
  color: #fff;
  height: 51px;
  &:focus {
      outline: none;
      box-shadow: none;
  }
}

.dropdown-menu {
  width: 100% !important;
  padding: 0em;
}
.dropdown-toggle {
  width: 100%;
  font-size: 0.9em;
  border-radius: 5px;
  border: 2px solid #EEEEEE;
  color: #949494;
  caret-color: #0937FF;
  margin: -3px 0;
  height: 40px;
  text-align: center;
  font-size: .8em;
  &:focus {
      box-shadow: none;
      z-index: 2;
      border-color: #0937FF;
      outline: none;
      box-shadow: none;
      &::placeholder {
          color: white;
      }
  }
  &::after {
    position: absolute;
    right: 25px;
    top: 17px;
  }
}
.dropdown-item {
  color: #949494;
  text-align: inherit;
  font-size: 0.8em;
  text-align: center;
  padding: .6rem 1.5rem;
  &:hover {
      background-color: #ECECEC;
  }
}   