<div class="modal-card">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">Add user</h3>
      <button 
        (click)="discardChanges(f)"
        type="button" 
        aria-label="Close"
        class="close" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <form [formGroup]="addUserForm" (ngSubmit)="addUser(f)">
        <div class="form-group">
          <label>Name*</label>
          <input 
            formControlName="userName"
            type="text" 
            placeholder="e.g. John"
            pattern="[a-zA-Z0-9]+"
            appAutofocus="true"
            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
            required
            class="form-control" >
          <div *ngIf="!submitted && f.userName.errors" class="error-message"></div>
          <div class="error-h">
            <div *ngIf="submitted && f.userName.errors" class="error-message">
              <div *ngIf="f.userName.errors.required">Name is required</div>
              <div *ngIf="f.userName.errors.minlength">Name is too short</div>
              <div *ngIf="f.userName.errors.pattern">Cannot contain spectial characters</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label >Email*</label>
          <input 
            formControlName="email" 
            type="text" 
            placeholder="e.g. john@nalej.com"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$"
            required
            class="form-control">
          <div class="error-h">
            <div *ngIf="submitted && f.email.errors" class="error-message">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label >Password*</label>
          <input 
            formControlName="password" 
            type="password" 
            placeholder="Type your password here"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            required
            class="form-control">
          <div class="error-h">
            <div *ngIf="submitted && f.password.errors" class="error-message">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Confirm password*</label>
          <input 
            formControlName="passwordConfirm" 
            type="password" 
            placeholder="Type your password again"
            [ngClass]="{ 'is-invalid': submitted && !samePasswords(addUserForm) }"
            required
            class="form-control">
          <div class="error-h">
            <div *ngIf="submitted && !samePasswords(addUserForm)" class="error-message">
              Set passwords do not match
            </div>
          </div>
        </div>
        <div class="form-group form-group-drop">
          <label>Role*</label>
          <ngx-select-dropdown 
            formControlName="role" 
            [multiple]="false" 
            [ngClass]="{ 'ngx-error': submitted && f.role.errors && !userRole }"
            [config]="selectConfig" 
            [options]="roleOptions">
            {{userRole}}
          </ngx-select-dropdown>
          <div class="form-group-drop-arrow"> 
            <i class="material-icons">arrow_drop_down</i>
          </div>
          <div class="error-h">
            <div *ngIf=
              "submitted &&
              f.role.errors &&
              !userRole" 
              class="error-message">
              <div *ngIf="f.role.errors.required">A role is required</div>
            </div>
          </div>
        </div>
        <!-- Save new user -->
        <div class="form-group-btn">
          <button class="nalej-form-btn-blue" [disabled]="loading">
            <span class="align-bottom">Add user</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>