<!-- Component title -->
<div class="row row-title">
  <div class="col-lg-12">
    <h2 class="section-title">Resources</h2>
  </div>
</div>
<div class="row row-info">
  <!-- Summary info card -->
  <div class="col-lg-4 h-100">
    <div class="card">
      <div class="card-title-name">
        <h5>SUMMARY</h5>
      </div>
      <div class="summary-card">
        <div class="summary-box">
          <div class="circle">
            <span>{{clustersCount}}</span>
          </div>
          <p class="circle-name">CLUSTER</p>
        </div>
        <div class="summary-box">
          <div class="circle">
            <span>{{nodesCount}}</span>
          </div>
          <p class="circle-name">NODES</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Clusters info card -->
  <div class="col-lg-4 h-100">
    <div class="card cluster-card">
      <div class="card-title-name">
        <h5 class="d-inline">CLUSTERS</h5>
        <p class="cluster-availability">{{clustersCount}} available</p>
      </div>
      <!-- Carousel big -->
      <carousel *ngIf="clusters.length > 0" class="carousel-big"> 
        <slide *ngFor="let clusterGroup of chunckedClusters; let i = index">
          <div class="d-block w-100">
            <div class="slide-box animated fadeIn">
              <div *ngIf="clusterGroup[0]">
                <div class="donut-chart">
                  <ngx-charts-pie-chart
                    [scheme]="colorScheme" 
                    [results]="pieChartsData[0+i*3]" 
                    [doughnut]= "doughnut"
                    [gradient]="gradient"
                    [schemeType]="schemeType"
                    [explodeSlices]="false">
                  </ngx-charts-pie-chart>
                  <div class="donut-number">{{clusterGroup[0].running_nodes}}/{{clusterGroup[0].total_nodes}}</div>
                </div>
                <p *ngIf="clusterGroup[0].running_nodes === clusterGroup[0].total_nodes"              
                  [routerLink]="['cluster', clusterGroup[0].cluster_id]" 
                  routerLinkActive="active"
                  class="nodes-run">
                  <span class="hide-all-word">All</span> nodes running
                </p>
                <p *ngIf="clusterGroup[0].running_nodes !== clusterGroup[0].total_nodes" class="nodes-run">
                  {{clusterGroup[0].running_nodes}} nodes running
                </p>
                <p class="cluster-name">{{clusterGroup[0].name | abbreviate}}</p>
              </div>
              <div *ngIf="clusterGroup[1]">
                <div class="donut-chart">
                  <ngx-charts-pie-chart
                    [scheme]="colorScheme" 
                    [results]="pieChartsData[1+i*3]" 
                    [doughnut]= "doughnut"
                    [gradient]="gradient"
                    [schemeType]="schemeType"
                    [explodeSlices]="false">
                  </ngx-charts-pie-chart>
                  <div class="donut-number">{{clusterGroup[1].running_nodes}}/{{clusterGroup[1].total_nodes}}</div>
                </div>
                <p *ngIf="clusterGroup[1].running_nodes === clusterGroup[1].total_nodes"
                  [routerLink]="['cluster', clusterGroup[1].cluster_id]" 
                  routerLinkActive="active"
                  class="nodes-run">
                  <span class="hide-all-word">All</span> nodes running
                </p>
                <p *ngIf="clusterGroup[1].running_nodes !== clusterGroup[1].total_nodes" class="nodes-run">
                  {{clusterGroup[1].running_nodes}} nodes running
                </p>
                <p class="cluster-name">{{clusterGroup[1].name | abbreviate}}</p>
              </div>
              <div *ngIf="clusterGroup[2]">
                <div class="donut-chart">
                  <ngx-charts-pie-chart
                    [scheme]="colorScheme" 
                    [results]="pieChartsData[2+i*3]" 
                    [doughnut]= "doughnut"
                    [gradient]="gradient"
                    [schemeType]="schemeType"
                    [explodeSlices]="false">
                  </ngx-charts-pie-chart>
                  <div class="donut-number">{{clusterGroup[2].running_nodes}}/{{clusterGroup[2].total_nodes}}</div>
                </div>
                <p *ngIf="clusterGroup[2].running_nodes === clusterGroup[2].total_nodes"
                  [routerLink]="['cluster', clusterGroup[2].cluster_id]" 
                  routerLinkActive="active"
                  class="nodes-run">
                  <span class="hide-all-word">All</span> nodes running
                </p>
                <p *ngIf="clusterGroup[2].running_nodes !== clusterGroup[2].total_nodes" class="nodes-run">
                  {{clusterGroup[2].running_nodes}} nodes running
                </p>
                <p class="cluster-name">{{clusterGroup[2].name | abbreviate}}</p>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
      <!-- Carousel small -->
      <carousel *ngIf="clusters && clusters.length > 0" class="carousel-small">
        <slide *ngFor="let cluster of clusters; let i = index" class="animated fadeIn">
          <div class="d-block w-100">
            <div class="slide-box">
              <div class="donut-chart-box">
                <div class="donut-chart">
                  <ngx-charts-pie-chart
                    [scheme]="colorScheme" 
                    [results]="pieChartsData[i]" 
                    [doughnut]= "doughnut"
                    [gradient]="gradient"
                    [schemeType]="schemeType">
                  </ngx-charts-pie-chart>
                  <div class="donut-number">
                    {{cluster.running_nodes}}/{{cluster.total_nodes}}
                  </div>
                </div>
                <div class="cluster-info">
                  <p *ngIf="cluster.running_nodes === cluster.total_nodes"
                    [routerLink]="['cluster', cluster.cluster_id]" 
                    routerLinkActive="active"
                    class="nodes-run mb-0">
                    All nodes running
                  </p>
                  <p *ngIf="cluster.running_nodes !== cluster.total_nodes" 
                    [routerLink]="['cluster', cluster.cluster_id]" 
                    routerLinkActive="active"
                    class="nodes-run mb-0">
                    {{cluster.running_nodes}} nodes running
                  </p>
                  <p *ngIf="cluster.name.length > 26" class="cluster-name">
                    {{cluster.name | slice: 0:25}}...
                  </p>
                  <p *ngIf="cluster.name.length < 26" class="cluster-name">
                    {{cluster.name}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
      <div *ngIf="clusters.length === 0" class="no-elements">
        No available clusters detected
      </div>
    </div>
  </div>
  <!-- Node status timeline info card -->
  <div class="col-lg-4 h-100">
    <div class="card">
      <div class="card-title-name">
        <h5>NODE STATUS TIMELINE</h5>
      </div>
      <div *ngIf="nodesCount === 0" class="no-elements">
        No available nodes detected
      </div>
      <div *ngIf="nodesCount > 0" class="line-chart-box">
        <ngx-charts-line-chart
          [scheme]="colorScheme"
          [results]="nodesChart"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [gradient]="gradient" 
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [yScaleMin]="0"
          [yScaleMax]="100"
          [showGridLines]="showGridLines"
          [showRefLines]="showRefLines"
          [schemeType]="schemeType"
          [customColors]="customColors"
          [rangeFillOpacity]="rangeFillOpacity"
          [referenceLines]="referenceLines"
          [showRefLabels]="showRefLabels"
          >
        </ngx-charts-line-chart>
        <div class="line-chart-y-axis">
          <span class="grey">100%</span>
          <span class="grey mb-4">0%</span>
        </div>  
      </div>
    </div>
  </div>
</div>
<!-- Clusters panel card-->
<div class="row row-main">
  <div class="col-lg-12 h-100">
    <div class="card">
      <div class="card-title-name-mb">
        <h5>CLUSTERS</h5>
      </div>
      <div class="row mb-3">
        <!-- Sorting mesages -->
        <div class="col">  
          <p *ngIf="searchTerm && !filterField" class="sorting-message">
            Filtered by term "{{ searchTerm }}".
            <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
          </p>
          <p *ngIf="filterField && !searchTerm" class="sorting-message">
            Sorted by {{ sortedBy }},
            <span *ngIf="reverse">ascendant. </span>
            <span *ngIf="!reverse">descendant. </span>
            <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
          </p>
          <p *ngIf="filterField && searchTerm" class="sorting-message">
            Sorted by {{ sortedBy }}
            <span *ngIf="reverse">ascendant </span>
            <span *ngIf="!reverse">descendant </span>
            and filtered by term "{{ searchTerm }}".
            <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
          </p> 
        </div>
        <!-- Search input -->
        <div class="col-4">
          <form>
            <div class="search-box">
              <input 
                name="searchTerm" 
                [(ngModel)]="searchTerm"
                type="text" 
                placeholder="Search..."
                class="form-control"> 
                <div *ngIf="searchTerm === ''" class="search-icon">
                  <i class="material-icons">search</i>
                </div>     
                <div *ngIf="searchTerm !== ''" class="close-icon">
                  <i (click)="resetFilters(filterField)" class="material-icons">close</i>
                </div>
            </div>
          </form>
        </div>      
      </div>
      <div *ngIf=
        "loadedData && 
        clusters && 
        clusters.length > 0 && 
        !requestError" 
        class="nalej-table-box">
        <table class="nalej-table">
          <thead class="nalej-thead">
            <tr>
              <th 
                (click)="setOrder('name')"            
                [ngClass]="getCategoryCSSClass('name')"
                scope="col" 
                class="col-2">
                Name 
                <span *ngIf="sortedBy === 'name' && !reverse" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span *ngIf="sortedBy === 'name' && reverse" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </th>
              <th 
                (click)="setOrder('id')"
                [ngClass]="getCategoryCSSClass('id')"
                scope="col" 
                class="col-2">
                ID
                <span *ngIf="sortedBy === 'id' && !reverse" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span *ngIf="sortedBy === 'id' && reverse" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </th>
              <th 
                (click)="setOrder('total_nodes')"
                [ngClass]="getCategoryCSSClass('total_nodes')"
                scope="col" 
                class="col-1 text-center">
                Nodes 
                <span *ngIf="sortedBy === 'total_nodes' && !reverse" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span *ngIf="sortedBy === 'total_nodes' && reverse" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </th>
              <th 
                (click)="setOrder('description')" 
                [ngClass]="getCategoryCSSClass('description')"
                scope="col" 
                class="col-3">
                Labels
                <span *ngIf="sortedBy === 'labels' && !reverse" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span class="expand-chevron" *ngIf="sortedBy === 'labels' && reverse" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </th>
              <th 
                (click)="setOrder('cluster_type_name')" 
                [ngClass]="getCategoryCSSClass('cluster_type_name')"
                scope="col" 
                class="col-1">
                Types
                <span *ngIf="sortedBy === 'cluster_type_name' && !reverse" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span *ngIf="sortedBy === 'cluster_type_name' && reverse" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </th>
              <th 
                (click)="setOrder('status_name')" 
                [ngClass]="getCategoryCSSClass('status_name')"
                scope="col" 
                class="col-1 text-center">
                Status
                <span *ngIf="sortedBy === 'status_name' && !reverse" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span *ngIf="sortedBy === 'status_name' && reverse" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </th>
              <th 
                (click)="setOrder('multitenant_support')" 
                [ngClass]="getCategoryCSSClass('multitenant_support')"
                scope="col" 
                class="col-1 text-center multitenant-th">
                Multitenant
                <span *ngIf="sortedBy === 'multitenant_support' && !reverse" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span *ngIf="sortedBy === 'multitenant_support' && reverse" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </th>
              <th scope="col" class="col-1 text-center">
                Edit
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=
              "let cluster of clusters |
              sortBy : sortedBy : reverse : 'case-insensitive' |
              filter : searchTerm">
              <td class="col-2">
                <a 
                  [routerLink]="['cluster', cluster.cluster_id]" 
                  routerLinkActive="active" 
                  class="blue">
                  {{cluster.name}}
                </a>
              </td>
              <td class="col-2">{{cluster.cluster_id}}</td>
              <td class="col-1 text-center">
                <a 
                  [routerLink]="['cluster', cluster.cluster_id]" 
                  routerLinkActive="active" 
                  class="blue">{{cluster.total_nodes}}
                </a>
              </td>  
              <td *ngIf="!cluster.labels" class="col-3"> 
                <div 
                (click)="addLabel(cluster)"
                tooltip="Add" 
                placement="right"
                class="label-btn-blue">
                  <i class="material-icons i-add">add</i>  
                </div>
              </td>
                <td *ngIf="cluster.labels" class="col-3">
                  <button 
                    *ngFor="let label of labelsToString(cluster.labels)"
                    (click)="onLabelClick(cluster.cluster_id, label[0], label[1])"
                    [ngClass]=
                    "{
                      'label-btn-selected': indexOfLabelSelected(cluster.cluster_id, label[0], label[1]) >= 0 ,
                      'btn-outline-primary': indexOfLabelSelected(cluster.cluster_id, label[0], label[1]) === -1
                    }" 
                    class="btn-sm btn-outline-primary">
                    {{label[0]}}: {{label[1]}} 
                  </button>
                  <div class="label-btns">
                    <div 
                      *ngIf="isAnyLabelSelected(cluster.cluster_id) === false"
                      (click)="addLabel(cluster)"
                      tooltip="Add" 
                      placement="right"
                      class="label-btn-blue">
                      <i class="material-icons i-add">add</i>
                    </div>
                    <div 
                      *ngIf="isAnyLabelSelected(cluster.cluster_id) === true"
                      (click)="deleteLabel(cluster)"
                      tooltip="Delete" 
                      placement="right"
                      class="label-btn-red">
                      <i class="material-icons i-delete">delete</i>
                    </div>
                  </div>
                </td>
              <td class="col-1 text-lowercase">
                {{cluster.cluster_type_name}}
              </td>
              <td [ngClass]=
                  "{
                    'status-dot': classStatusCheck (cluster.status_name, 'running'),
                    'status-dot-error': classStatusCheck (cluster.status_name, 'error'),
                    'status-dot-process': classStatusCheck (cluster.status_name, 'process')
                  }"
                  class="col-1 col-center-lowercase">
                <span 
                  tooltip= "{{cluster.status_name | lowercase}}" 
                  placement="auto" 
                  class="tooltip-fix">
                </span>
                <span class="hide-lg">
                  {{cluster.status_name}}
                </span>
              </td>
              <td class="col-1 col-center-lowercase">
                {{cluster.multitenant_support}}
              </td>
              <td class="col-1 text-center">
                <button (click)="openEditCluster(cluster)" class="action-btn-blue">
                  <i class="material-icons i-white">edit</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- No info to show -->
      <div *ngIf=
        "loadedData &&
        clusters.length === 0 &&
        !requestError" 
        class="no-elements">
        No available clusters detected
      </div>
      <!-- Requested error -->
      <div *ngIf="loadedData && requestError" class="no-elements">
        <p>{{requestError}}</p>
      </div>
      <!-- Loader -->
      <div *ngIf="!loadedData" class="nalej-loader-box" >
        <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle 
              class="path" 
              cx="50" 
              cy="50" 
              r="20" 
              fill="none" 
              stroke-width="2" 
              stroke-miterlimit="10"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

