<!-- Component title -->
<div class="row row-title mb-4">
  <div class="col-lg-12">
    <h2>Resources</h2>
  </div>
</div>
<div class="row row-info">
  <!-- Summary info card -->
  <div class="col-lg-4 h-100">
    <div class="card p-4 h-100">
      <div class="card-title-c">
        <h5 class="text-uppercase">Summary</h5>
      </div>
      <div class="d-flex flex-col justify-content-around align-center">
        <div>
          <div class="circle d-flex flex-row justify-content-center align-center">
            <span class="align-self-center mt-1">{{clustersCount}}</span>
          </div>
          <p class="circle-name text-center text-uppercase mt-3">Cluster</p>
        </div>
        <div>
          <div class="circle d-flex flex-row justify-content-center align-center">
            <span class="align-self-center mt-1">{{nodesCount}}</span>
          </div>
          <p class="circle-name text-center text-uppercase mt-3">Nodes</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Clusters info card -->
  <div class="col-lg-4 h-100">
    <div class="card card-clus p-4 h-100">
      <div class="card-title-c">
        <h5 class="text-uppercase d-inline">Clusters</h5>
        <p class="d-inline cluster-number">{{clustersCount}} available</p>
      </div>
      <!-- Carousel big -->
      <carousel class="h-75 carousel-big"> 
        <slide *ngFor="let clusterGroup of chunckedClusters; let i = index">
            <div class="slide-box">
                <div class="box" *ngIf="clusterGroup[0]">
                  <div class="donut-chart">
                    <ngx-charts-pie-chart
                      [scheme]="colorScheme" 
                      [results]="pieChartsData[0+i*3]" 
                      [doughnut]= "doughnut"
                      [gradient]="gradient"
                      [schemeType]="schemeType"
                      [explodeSlices]="false"
                      >
                    </ngx-charts-pie-chart>
                    <div class="donut-number">{{clusterGroup[0].runningNodes}}/{{clusterGroup[0].totalNodes}}</div>
                  </div>
                  <p *ngIf="clusterGroup[0].runningNodes === clusterGroup[0].totalNodes" class="blue nodes-run mb-0">All nodes running</p>
                  <p *ngIf="clusterGroup[0].runningNodes !== clusterGroup[0].totalNodes" class="blue nodes-run mb-0">{{clusterGroup[0].runningNodes}} nodes running</p>
                  <p class="text-uppercase grey">{{clusterGroup[0].name}}</p>
                </div>
                <div class="box" *ngIf="clusterGroup[1]">
                  <div class="donut-chart">
                    <ngx-charts-pie-chart
                      [scheme]="colorScheme" 
                      [results]="pieChartsData[1+i*3]" 
                      [doughnut]= "doughnut"
                      [gradient]="gradient"
                      [schemeType]="schemeType"
                      [explodeSlices]="false"
                      >
                    </ngx-charts-pie-chart>
                    <div class="donut-number">{{clusterGroup[1].runningNodes}}/{{clusterGroup[1].totalNodes}}</div>
                  </div>
                  <p
                    *ngIf="clusterGroup[1].runningNodes === clusterGroup[1].totalNodes"
                    class="blue nodes-run mb-0">
                    All nodes running
                  </p>
                  <p
                    *ngIf="clusterGroup[1].runningNodes !== clusterGroup[1].totalNodes"
                    class="blue nodes-run mb-0">
                    {{clusterGroup[1].runningNodes}} nodes running
                  </p>
                  <p class="text-uppercase grey">{{clusterGroup[1].name}}</p>
                </div>
                <div
                  class="box"
                  *ngIf="clusterGroup[2]">
                  <div class="donut-chart">
                    <ngx-charts-pie-chart
                      [scheme]="colorScheme" 
                      [results]="pieChartsData[2+i*3]" 
                      [doughnut]= "doughnut"
                      [gradient]="gradient"
                      [schemeType]="schemeType"
                      [explodeSlices]="false"
                      >
                    </ngx-charts-pie-chart>
                    <div class="donut-number">{{clusterGroup[2].runningNodes}}/{{clusterGroup[2].totalNodes}}</div>
                  </div>
                  <p
                    *ngIf="clusterGroup[2].runningNodes === clusterGroup[2].totalNodes"
                    class="blue nodes-run mb-0">
                    All nodes running
                  </p>
                  <p
                    *ngIf="clusterGroup[2].runningNodes !== clusterGroup[2].totalNodes"
                    class="blue nodes-run mb-0">
                    {{clusterGroup[2].runningNodes}} nodes running
                  </p>
                  <p class="text-uppercase grey">{{clusterGroup[2].name}}</p>
                </div>
            </div>
        </slide>
      </carousel>
      <!-- Carousel small -->
      <carousel class="h-75 carousel-small">
          <slide *ngFor="let cluster of clusters; let i = index">
            <div class="slide-box">
              <div class="box">
                <div class="donut-chart">
                  <ngx-charts-pie-chart
                    [scheme]="colorScheme" 
                    [results]="pieChartsData[i]" 
                    [doughnut]= "doughnut"
                    [gradient]="gradient"
                    [schemeType]="schemeType"
                    >
                  </ngx-charts-pie-chart>
                  <div class="donut-number">{{cluster.runningNodes}}/{{cluster.totalNodes}}</div>
                </div>
                <div class="cluster-info">
                  <p
                    *ngIf="cluster.runningNodes === cluster.totalNodes"
                    class="nodes-run mb-0 blue">
                    All nodes running
                  </p>
                  <p
                    *ngIf="cluster.runningNodes !== cluster.totalNodes" 
                    class="nodes-run mb-0 blue">
                    {{cluster.runningNodes}} nodes running
                  </p>
                  <p class="text-uppercase grey">{{cluster.name}}</p>
                </div>
              </div>
            </div>
          </slide>
        </carousel>
    </div>
  </div>
  <!-- Node status timeline info card -->
  <div class="col-lg-4 h-100">
    <div class="card p-4 h-100">
      <div class="card-title-c">
        <h5 class="text-uppercase">Node status timeline</h5>
      </div>
      <div class=" h-100 box-line-chart">
        <div class="line-chart h-100">
          <div class="bottom-line"></div>
          <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="mockNodesChart"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [gradient]="gradient" 
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [autoScale]="autoScale"
            [showGridLines]="showGridLines"
            [showRefLines]="showRefLines"
            [schemeType]="schemeType"
            [customColors]="customColors"
            [rangeFillOpacity]="rangeFillOpacity"
            [referenceLines]="referenceLines"
            [showRefLabels]="showRefLabels"
            >
          </ngx-charts-line-chart>
        </div>
        <div class="y-axis-line-chart">
          <span class="grey">100%</span>
          <span class="grey mb-4">0%</span>
        </div>  
      </div>
    </div>
  </div>
</div>
<!-- Clusters panel card-->
<div class="row row-main">
  <div class="col-lg-12 col-md-12 col-sm-12 h-100">
    <div class="card h-100 p-4">
      <div class="card-title-h">
        <h5 class="text-uppercase">Clusters</h5>
      </div>
      <div class="table-h">
        <table *ngIf="clusters && clusters.length > 0" class="table">
          <thead>
            <tr>
              <th scope="col" class="row-name">
                Name
              </th>
              <th scope="col" class="row-id">
                ID
              </th>
              <th scope="col" class="row-nodes">
                Nodes
              </th>
              <th scope="col" class="row-description">
                Description
              </th>
              <th scope="col" class="row-types">
                Types
              </th>
              <th scope="col" class="row-status">
                Status
              </th>
              <th scope="col" class="row-tags">
                Tags
              </th>
              <th scope="col" class="row-multitenant">
                Multitenant
              </th>
              <th scope="col" class="row-edit">
                Edit
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cluster of clusters">
              <td><a routerLink="/{{cluster.id}}/cluster" routerLinkActive="active" class="blue">{{cluster.name}}</a></td>
              <td>{{cluster.id}}</td>
              <td><a routerLink="/{{cluster.id}}/cluster" routerLinkActive="active" class="blue">{{cluster.totalNodes}}</a></td>  
              <td>{{cluster.description}}</td>
              <td>{{cluster.type}}</td>
              <td 
                [ngClass]=
                "{'status-dot':cluster.status === 'Running',
                'status-dot-error':cluster.status === 'Error'}">
                {{cluster.status}}
              </td>
              <td>{{cluster.tags}}</td>
              <td>{{cluster.multitenant}}</td>
              <td>
                <button class="btn info-btn btn-primary" (click)="editCluster()">
                  <i class="material-icons i-info">
                    edit
                  </i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>