
/* - - - Cluster card Slider - - - */
// slide animations
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1 1s ease-in-out;
    }
  }
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1 1s ease-in-out;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

// slide boxes
.cluster-card { 
    padding: 1.5rem 1.5rem 0 1.5rem;
    height: 100%;
} 
.cluster-availability {
    margin-bottom: 0;
    float: right;
    color: #949494;
}
.slide-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%!important;
}
.donut-chart-box {
    width: 27%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.donut-chart {
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
}
.cluster-name {
    text-transform: uppercase;
    color: #949494;
    text-align: center;
}
.nodes-run {
    font-size: .8em;
    cursor: pointer;
    text-align: center;
    color: #0937FF;
}
.carousel-big {
    .nodes-run {
        position: absolute;
        bottom: 2.5em;
        margin-bottom: 0.3em;
    }
}

/* - - - Media Cluster card Slider - - - */
@media screen and (max-width: 1440px) {
    .cluster-availability {
        font-size: 0.8em;
    }
    .slide-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 269px;
      max-height: 124px;
    }
    .donut-chart-box {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .nodes-run {
        display: inline;
    }
}
@media screen and (min-width:2560px) {
    .donut-chart-box {
        width: 31%;
    }
    .slide-box {
        padding-top: 2em;
    }
}
/* - - - Node Status card - - - */
.line-chart-box {
    width: 92%;
}
@media screen and (max-width:1440px) {
    .line-chart-box {
        width: 100%;
    }
}
@media screen and (max-width:1686px){
    .hide-all-word {
        display: none;
    }
}
