<!-- Component title -->
<div class="row row-title mb-4">
  <div class="col-lg-12">
    <h2>Resources</h2>
  </div>
</div>
<div class="row row-info">
  <!-- Summary info card -->
  <div class="col-lg-4 h-100">
    <div class="card p-4 h-100">
      <div class="card-title-c">
        <h5 class="text-uppercase">Summary</h5>
      </div>
      <div class="summary-card">
        <div>
          <div class="circle summary-box">
            <span class="align-self-center mt-1">{{clustersCount}}</span>
          </div>
          <p class="circle-name text-center text-uppercase mt-3">Cluster</p>
        </div>
        <div>
          <div class="circle summary-box">
            <span class="align-self-center mt-1">{{nodesCount}}</span>
          </div>
          <p class="circle-name text-center text-uppercase mt-3">Nodes</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Clusters info card -->
  <div class="col-lg-4 h-100">
    <div class="card card-clus h-100">
      <div class="card-title-c">
        <h5 class="text-uppercase d-inline">Clusters</h5>
        <p class="d-inline cluster-number">{{clustersCount}} available</p>
      </div>
      <!-- Carousel big -->
      <carousel 
        *ngIf="clusters.length > 0" 
        class="h-75 carousel-big"> 
        <slide *ngFor="let clusterGroup of chunckedClusters; let i = index">
          <div class="slide-box animated fadeIn">
            <div class="box" *ngIf="clusterGroup[0]">
              <div class="donut-chart">
                <ngx-charts-pie-chart
                  [scheme]="colorScheme" 
                  [results]="pieChartsData[0+i*3]" 
                  [doughnut]= "doughnut"
                  [gradient]="gradient"
                  [schemeType]="schemeType"
                  [explodeSlices]="false"
                  >
                </ngx-charts-pie-chart>
                <div class="donut-number">{{clusterGroup[0].running_nodes}}/{{clusterGroup[0].total_nodes}}</div>
              </div>
              <p 
                *ngIf="clusterGroup[0].running_nodes === clusterGroup[0].total_nodes" 
                class="blue nodes-run mb-0"                   
                [routerLink]="['cluster', clusterGroup[0].cluster_id]" 
                routerLinkActive="active"
              >All nodes running</p>
              <p 
                *ngIf="clusterGroup[0].running_nodes !== clusterGroup[0].total_nodes" 
                class="blue nodes-run mb-0"
              >{{clusterGroup[0].running_nodes}} nodes running</p>
              <p class="text-uppercase grey">{{clusterGroup[0].name}}</p>
            </div>
            <div class="box" *ngIf="clusterGroup[1]">
              <div class="donut-chart">
                <ngx-charts-pie-chart
                  [scheme]="colorScheme" 
                  [results]="pieChartsData[1+i*3]" 
                  [doughnut]= "doughnut"
                  [gradient]="gradient"
                  [schemeType]="schemeType"
                  [explodeSlices]="false"
                  >
                </ngx-charts-pie-chart>
                <div class="donut-number">{{clusterGroup[1].running_nodes}}/{{clusterGroup[1].total_nodes}}</div>
              </div>
              <p
                *ngIf="clusterGroup[1].running_nodes === clusterGroup[1].total_nodes"
                class="blue nodes-run mb-0"
                [routerLink]="['cluster', clusterGroup[1].cluster_id]" 
                routerLinkActive="active">
                All nodes running
              </p>
              <p
                *ngIf="clusterGroup[1].running_nodes !== clusterGroup[1].total_nodes"
                class="blue nodes-run mb-0">
                {{clusterGroup[1].running_nodes}} nodes running
              </p>
              <p class="text-uppercase grey">{{clusterGroup[1].name}}</p>
            </div>
            <div
              class="box"
              *ngIf="clusterGroup[2]">
              <div class="donut-chart">
                <ngx-charts-pie-chart
                  [scheme]="colorScheme" 
                  [results]="pieChartsData[2+i*3]" 
                  [doughnut]= "doughnut"
                  [gradient]="gradient"
                  [schemeType]="schemeType"
                  [explodeSlices]="false"
                  >
                </ngx-charts-pie-chart>
                <div class="donut-number">{{clusterGroup[2].running_nodes}}/{{clusterGroup[2].total_nodes}}</div>
              </div>
              <p
                *ngIf="clusterGroup[2].running_nodes === clusterGroup[2].total_nodes"
                class="blue nodes-run mb-0"
                [routerLink]="['cluster', clusterGroup[2].cluster_id]" 
                routerLinkActive="active">
                All nodes running
              </p>
              <p
                *ngIf="clusterGroup[2].running_nodes !== clusterGroup[2].total_nodes"
                class="blue nodes-run mb-0">
                {{clusterGroup[2].running_nodes}} nodes running
              </p>
              <p class="text-uppercase grey">{{clusterGroup[2].name}}</p>
            </div>
          </div>
        </slide>
      </carousel>
      <!-- Carousel small -->
      <carousel 
        *ngIf="clusters && clusters.length > 0" 
        class="carousel-small">
        <slide 
          class="animated fadeIn"
          *ngFor="let cluster of clusters; let i = index">
          <div class="slide-box">
            <div class="box">
              <div class="donut-chart">
                <ngx-charts-pie-chart
                  [scheme]="colorScheme" 
                  [results]="pieChartsData[i]" 
                  [doughnut]= "doughnut"
                  [gradient]="gradient"
                  [schemeType]="schemeType"
                  >
                </ngx-charts-pie-chart>
                <div class="donut-number">{{cluster.running_nodes}}/{{cluster.total_nodes}}</div>
              </div>
              <div class="cluster-info">
                <p
                  *ngIf="cluster.running_nodes === cluster.total_nodes"
                  class="nodes-run mb-0 blue"
                  [routerLink]="['cluster', cluster.cluster_id]" 
                  routerLinkActive="active" >
                  All nodes running
                </p>
                <p
                  *ngIf="cluster.running_nodes !== cluster.total_nodes" 
                  class="nodes-run mb-0 blue"
                  [routerLink]="['cluster', cluster.cluster_id]" 
                  routerLinkActive="active" >
                  {{cluster.running_nodes}} nodes running
                </p>
                <p class="text-uppercase grey">{{cluster.name}}</p>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
      <div 
        *ngIf="clusters.length === 0"
        class="no-clusters d-flex justify-content-center align-items-center">
        No available clusters detected
      </div>
    </div>
  </div>
  <!-- Node status timeline info card -->
  <div class="col-lg-4 h-100">
    <div class="card p-4 h-100">
      <div class="card-title-c">
        <h5 class="text-uppercase">Node status timeline</h5>
      </div>
      <div class=" h-100 box-line-chart">
        <div class="line-chart">
          <div class="bottom-line"></div>
          <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="mockNodesChart"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [gradient]="gradient" 
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [autoScale]="autoScale"
            [showGridLines]="showGridLines"
            [showRefLines]="showRefLines"
            [schemeType]="schemeType"
            [customColors]="customColors"
            [rangeFillOpacity]="rangeFillOpacity"
            [referenceLines]="referenceLines"
            [showRefLabels]="showRefLabels"
            >
          </ngx-charts-line-chart>
        </div>
        <div class="y-axis-line-chart">
          <span class="grey">100%</span>
          <span class="grey mb-4">0%</span>
        </div>  
      </div>
    </div>
  </div>
</div>
<!-- Clusters panel card-->
<div class="row row-main">
  <div class="col-lg-12 col-md-12 col-sm-12 h-100">
    <div class="card h-100 p-4">
      <div class="card-title-h">
        <h5>CLUSTERS</h5>
      </div>
      <div class="table-h">
        <table *ngIf="loadedData && clusters && clusters.length > 0" class="table">
          <thead>
            <tr>
              <th scope="col" class="row-name">
                Name
              </th>
              <th scope="col" class="row-id">
                ID
              </th>
              <th scope="col" class="row-nodes">
                Nodes
              </th>
              <th scope="col" class="row-description">
                Description
              </th>
              <th scope="col" class="row-types">
                Types
              </th>
              <th scope="col" class="row-status">
                Status
              </th>
              <th scope="col" class="row-tags">
                Tags
              </th>
              <th scope="col" class="row-multitenant">
                Multitenant
              </th>
              <th scope="col" class="row-edit">
                Edit
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cluster of clusters">
              <td>
                <a 
                  [routerLink]="['cluster', cluster.cluster_id]" 
                  routerLinkActive="active" 
                  class="blue">{{cluster.name}}
                </a>
              </td>
              <td>{{cluster.cluster_id}}</td>
              <td>
                <a 
                  [routerLink]="['cluster', cluster.cluster_id]" 
                  routerLinkActive="active" 
                  class="blue">{{cluster.total_nodes}}
                </a>
              </td>  
              <td>{{cluster.description}}</td>
              <td>{{cluster.cluster_type}}</td>
              <td 
                [ngClass]=
                "{'status-dot':cluster.status === 'Running',
                'status-dot-error':cluster.status === 'Error'}">
                {{cluster.status}}
              </td>
              <td>{{cluster.labels}}</td>
              <td>{{cluster.multitenant}}</td>
              <td>
                <button 
                  class="btn info-btn btn-primary" 
                  (click)="openEditCluster(cluster)">
                    <i class="material-icons i-info">
                      edit
                    </i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div 
          *ngIf="loadedData && clusters.length === 0"
          class="no-clusters d-flex justify-content-center align-items-center">
            No available clusters detected
        </div>
        <!-- Loader -->
        <div class="nalej-loader-container" *ngIf="!loadedData">
          <div class="loader">
            <svg 
              class="circular" 
              viewBox="25 25 50 50">
              <circle 
                class="path" 
                cx="50" 
                cy="50" 
                r="20" 
                fill="none" 
                stroke-width="2" 
                stroke-miterlimit="10"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

