<div class="login">
    <!-- Login form -->
    <div>
    <h2 class="form-login-heading" style="visibility:hidden" (click)="openDebugPanel()">NALEJ</h2>
    <div class="login-card">
        <!-- Header -->
        <div class="modal-header">
            <h3 class="nalej-form-title">Log in</h3>
        </div>
        <!-- Body -->
        <div class="modal-body">
            <form [formGroup]="loginForm" >
                <div class="form-group">
                    <label>Email</label>
                    <input 
                        formControlName="email" 
                        placeholder="{{email}}"
                        type="text" 
                        appAutofocus="true"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$"
                        class="form-control"
                        required>
                    <div class="error-h">
                        <div *ngIf="submitted && f.email.errors" class="error-message">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password*</label>
                    <input 
                        formControlName="password" 
                        placeholder=""
                        type="password" 
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        required>
                    <div class="error-h">
                        <div *ngIf="submitted && f.password.errors" class="error-message">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>
                <div class="btn-h">
                    <div *ngIf="!loginRequest" class="form-group-btn mt-3">
                        <button class="nalej-btn-form-blue" (click)="onSubmit(f)">
                            <span class="align-bottom">Log in</span>
                        </button>
                    </div>
                </div>
                <div class="btn-h">
                    <div class="nalej-loader-container" *ngIf="loginRequest" >
                        <div class="loader loader-position">
                            <svg 
                                class="circular" 
                                viewBox="25 25 50 50">
                                <circle 
                                class="path" 
                                cx="50" 
                                cy="50" 
                                r="20" 
                                fill="none" 
                                stroke-width="2" 
                                stroke-miterlimit="10"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>