.login {
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    background-image: linear-gradient(-85deg, #151515, #505050);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-login {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
    .form-login-heading {
    color: white;
    letter-spacing: 1.9em;
    text-indent: 35px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 19px;
    }
    .form-control {
      margin: 0 auto;
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 14px;
      font-size: 12px;
      text-align: center;
      border-radius: 5px;
      &:focus {
        z-index: 2;
        border-color: #0937FF;
        outline: none;
        box-shadow: none;
        &::placeholder {
          color: white;
        }
      }
    }
    input {
      width: 257px;
      border: 2px solid #EEEEEE;
      color: #949494;
      caret-color: #0937FF;
      
      &::placeholder {
        color: #949494;
      }
      &[type="email"] {
        margin-bottom: -2px;
      }
    }
  }
  .btn-primary {
    width: 257px;
    color: #fff;
    background-color: #0937FF;
    background-image: linear-gradient(-85deg, #051C80, #0937FF);
    border-color: #051C80;
    border: 0px;
    border-radius: 5px;
    
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  button[type="submit"]:disabled {
    background: #949494; /* Old browsers */
    background: -moz-linear-gradient(left, #949494 0%, #444444 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #949494 0%,#444444 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #949494 0%,#444444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#444444',GradientType=1 ); /* IE6-9 */
}
  .btn-group-lg > .btn, .btn-lg {
    // margin-top: 58px;
    margin: 58px auto;
    background-color: aquamarine;
    padding: 15px;
    font-size: 14px;
  }
  .card {
    background: white;
    height: 371px;
    width: 320px;
    border-radius: 10px;
    padding: 0;

    .card-title {
      font-size: 18px;
      text-align: center;
      margin-top: 70px;
      padding-bottom: 10px;
    }

  }
  .loader-position{
    top: 85% !important;
}
.error-message {
  padding: 10px 0;
}


  