
<div class="modal-card modal-card-info">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="modal-info-title mb-4">Service instances info</h3>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <h3 class="modal-info-h3-title">{{name}}</h3>
      <p class="modal-info-image">{{image}}</p>
      <p class="modal-info-title-sm">{{serviceId}}</p>
      <div class="scroll-app-info">
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Status</div>
          <h3 class="modal-info-h3-title col-sm text-right">
            <span 
              [ngClass]=
              "{
                'big-status-dot': classStatusCheck(statusName, 'service_running'),
                'big-status-dot-error': classStatusCheck(statusName, 'service_error'),
                'big-status-dot-process': classStatusCheck(statusName, 'service_waiting') || classStatusCheck (statusName, 'service_scheduled')
              }"
              tooltip="{{statusName}}" 
              placement="bottom"
              class="big-status-dot">
              <span class="fw-black">
                {{getBeautyStatusName(statusName)}}
              </span>
            </span>
          </h3>
        </div>
        <div class="row">
          <div class="col-sm modal-info-table-title">Replicas</div>
          <h3 class="modal-info-h3-title col-sm text-right">{{specs.replicas}}</h3>
        </div>
        <br>
        <div *ngIf="endpoints">
          <div class="row">
            <div class="col-sm modal-info-table-title mb-3">Endpoints</div>
          </div>
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-9 text-right blue mb-2">
              <span *ngFor="let endpoint of endpoints">
                <a 
                  *ngIf="endpoint" 
                  href="{{getEndpointHref(endpoint)}}" 
                  target="_blank">
                  {{endpoint}}
                </a>
              </span>
            </div>
          </div>
        </div>
        <span *ngIf="exposedPorts">
          <div class="row">
            <div class="col-sm modal-info-table-title mb-3">Exposed ports</div>
          </div>
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm">Name</div>
              <div class="col-sm text-right">Internal</div>
              <div class="col-sm text-right">External</div>
            </div>
          </span>
          <div *ngFor="let exposedPort of exposedPorts">
            <span *ngIf="exposedPorts">
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm grey">{{exposedPort.name}}</div>
              <div class="col-sm text-right grey">{{exposedPort.internal_port}}</div>
              <div class="col-sm text-right grey">{{exposedPort.exposed_port}}</div>
            </div>
          </span>
          <span *ngIf="!exposedPorts">
            <div class="row">
              <div class="col-sm text-right">No</div>
            </div>
          </span>
          <br>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Type</div>
          <div class="col-sm text-right">{{typeName}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Credentials</div>
        </div>
        <div *ngFor="let credential of credentials | keyvalue" class="row">
          <div *ngIf="credentials" class="col-sm text-right">
            <div class="text-right grey">{{credential.key}}</div>
            <div class="text-right">{{credential.value}}</div>
          </div>
          <div *ngIf="!credentials" class="col-sm text-right">No</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Environment variables</div>
        </div>
        <div *ngFor="let environmentVariable of environmentVariables | keyvalue" class="row">
          <div *ngIf="environmentVariables" class="col-sm text-right">
            <div class="text-right grey">{{environmentVariable.key}}</div>
            <div class="text-right">{{environmentVariable.value}}</div>
          </div>
          <div *ngIf="!environmentVariables" class="col-sm text-right">No</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Labels</div>
        </div>
        <div *ngFor="let label of labels | keyvalue" class="row">
          <div *ngIf="labels" class="col-sm text-right">
            <button class="label-content" disabled>
              {{label.key}}: {{label.value}}
            </button>
          </div>
          <div *ngIf="!labels" class="col-sm text-right">No</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Service group ID</div>
          <div class="col-sm text-right">{{groupId}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">App descriptor ID</div>
          <div class="col-sm text-right">{{appDescriptorId}}</div>
        </div>
        <br>
        <span *ngIf="instanceId">
          <div class="row">
            <div class="col-sm modal-info-table-title mb-3">Instance ID</div>
            <div class="col-sm text-right">{{instanceId}}</div>
          </div>
          <br>
        </span>
        <span *ngIf="deployAfter">
          <div class="row">
            <div class="col-sm modal-info-table-title mb-3">Deploy after</div>
            <div class="col-sm text-right">{{deployAfter}}</div>
          </div>
          <br>
        </span>
        <span *ngIf="deployedOnCluster">
          <div class="row">
            <div class="col-sm modal-info-table-title mb-3">Deployed on cluster ID</div>
            <div class="col-sm text-right">{{deployedOnCluster}}</div>
          </div>
          <br>
        </span>
      </div>      
      <!-- Option button -->
      <div class="form-group-btn">
        <button (click)="bsModalRef.hide()" class="nalej-form-btn-blue">
          <span class="align-bottom">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>

    