.modal-card {
    padding: 2rem;
}
#scroll-app-info {
    margin: 3.5em 0;
    max-height: 475px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size:  .9em;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 8px;
      margin-left: 2px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
}
.service-h3-title {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
}
.service-status {
    font-size: 1.2em;
}
.service-image {
    font-size: .9em;
    color:  #707070;
    margin-bottom: .2em;
}
.service-title {
    font-size: .9em;
    color:  #949494;
    margin-bottom: 0;
}
.service-title-sm {
    font-size: .8em;
    color:  #949494;
    margin-bottom: 0;
}
.btn-primary {
    text-indent: -7px;
}
@media screen and (max-height: 859px) {
    #scroll-app-info {
        height: 224px;
        margin: 2.5em 0;
    }
}

