<div class="modal-card">
  <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h3 class="nalej-form-title">Change password</h3>
        <button 
          type="button" 
          class="close" 
          aria-label="Close"
          (click)="discardChanges(f)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Body -->
      <div class="modal-body">
        <form #f="ngForm" class="form-password">
          <div class="form-group">
            <input 
              type="password" 
              class="form-control" 
              placeholder="Password*"
              required>
            <input 
              type="password" 
              class="form-control" 
              placeholder="New password*"
              required>
            <input 
              type="password" 
              class="form-control" 
              placeholder="Repeat new password*"
              required>
          </div>
        </form>
      <!-- Option button -->
      <div class="buttons d-flex flex-row justify-content-between mt-5">
        <button class="btn btn-primary btn-md mt-5" (click)="saveNewPassword(f)">
          <span class="align-bottom">Save</span>
        </button>
        <button class="btn btn-red btn-md mt-5" (click)="discardChanges(f)">
          <span class="align-bottom">Discard</span>
        </button>
      </div>
      </div>
    </div>
  </div>