<div class="modal-card">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">Change password</h3>
      <button 
        type="button" 
        class="close" 
        aria-label="Close"
        (click)="discardChanges(f)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <form #f="ngForm" class="form-password">
        <div class="form-group">
          <input 
            name="password" 
            type="password" 
            class="form-control" 
            placeholder="Password*"
            required>
          <input 
            name="newPassword" 
            type="password" 
            class="form-control" 
            placeholder="New password*"
            required>
          <input 
            name="confirmNewPassword" 
            type="password" 
            class="form-control" 
            placeholder="Confirm new password*"
            required>
        </div>
      </form>
        <!-- Error messages -->
        <div class="error-message">
          <div 
            tooltip = "{{arrayToString(errorMessages)}}"
            placement = "bottom"
            *ngIf="errorMessages.length > 0">
            {{formatValidationOutput(errorMessages).msg}}
          </div>
        </div>
        <!-- Option button -->
        <div class="buttons d-flex flex-row justify-content-between mt-5">
          <button class="btn btn-primary btn-md mt-5" (click)="saveNewPassword()" [disabled]="!f.valid || !f.dirty">
            <span class="align-bottom">Save</span>
          </button>
          <button class="btn btn-red btn-md mt-5" (click)="discardChanges(f)">
            <span class="align-bottom">Discard</span>
          </button>
      </div>
    </div>
  </div>
</div>