<div class="modal-card">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">Change password</h3>
      <button 
        type="button" 
        class="close" 
        aria-label="Close"
        (click)="discardChanges(f)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <form [formGroup]="changePasswordForm" (ngSubmit)="saveNewPassword(f)">
        <div class="form-group">
          <label>Password*</label>
          <input 
            formControlName="password" 
            placeholder="Type your password here"
            type="password" 
            class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            required>
          <div class="error-h">
            <div *ngIf="submitted && f.password.errors" class="error-message">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
        </div>
        <div class="form-group">
            <label>New Password*</label>
            <input 
              formControlName="newPassword" 
              placeholder="Type your password here"
              type="password" 
              class="form-control" 
              [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
              required>
            <div class="error-h">
              <div *ngIf="submitted && f.newPassword.errors" class="error-message">
                <div *ngIf="f.newPassword.errors.required">Password is required</div>
                <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
          </div>
        <div class="form-group">
          <label>Confirm password*</label>
          <input 
            formControlName="passwordConfirm" 
            type="password" 
            placeholder="Confirm new password*"
            class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && !samePasswords(f) }"
            required>
          <div class="error-h">
            <div *ngIf="submitted && !samePasswords(f)" class="error-message">
              Set passwords do not match
            </div>
          </div>
        </div>
        <div class="form-group d-flex flex-row justify-content-center">
          <button class="btn-nalej-form" [disabled]="loading">
            <span class="align-bottom">Change password</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>