<!-- Main view container-->
<div class="main-view">

  <!-- Navbar -->
  <!-- <nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">NALEJ</a>
  </nav> -->

  <!-- Component title -->
  <header class="header">
    Component Name
  </header>

  <!-- Main content panel -->
  <main class="main-content nalej-bg">

      <div class="jumbotron">
          <h1>NALEJ APP</h1>
          <p>
            Provisional landing to Nalej app
          </p>
          <button type="button" class="btn btn-outline-primary" (click)="openModal()">Open debug panel</button>
        </div>

      </main>

      <footer class="nalej-foot">
          © Copyright Daisho Group 2018. All Rights Reserved
      </footer>


</div>
