.main-view {
    background-color:#F5F5F5;
    position:         relative;
    float:            right;
    // width:            calc(100% - 313px);
    height: 100vh;
    max-height: 100%;
}
.nalej-bg {
    background-color: #F5F5F5;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
}


