
@mixin for-desktop-up {
    @media all and (max-width: 1440px) { @content; }
}
@mixin for-desktop-h {
    @media all and  (max-height: 900px) { @content; }
}
.main {
    background-color:#F5F5F5;
    padding: 3em 1.3em;
    height: 100vh;
    box-sizing: border-box;
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
    width: calc(100% - 320px); 
            margin-left: 320px;
    @include for-desktop-up {
        padding: 2em;
    }
}
// @media (min-width: 768px) {
//     .main{
//         position: absolute;
//         width: calc(100% - 40px);
//         margin-left: 40px;
//         float: right;
//     }
// }
// @media (min-width: 1330px) {
//     .main{
//         width: calc(100% - 320px); 
//         margin-left: 320px;
//     }
// }
 // TODO
// @media (min-width: 1330px) {
//     .main{
//         width: calc(100% - 250px); 
//         margin-left: 250px;
//     }
// }
.help-center {
    position: fixed;
    top: 38px;
    right: 48px;
    @include for-desktop-up {
        top: 20px;
        right: 30px;
    }
    @include for-desktop-h {
        display: none;
    }
}
.help-btn {
    height: 25px;
    width: 25px;
    color: #fff;
    background-color:#949494;
    background-image: linear-gradient(-85deg, #949494, #6b6b6b);
    border: 0px;
    border-radius: 50%;
    position: relative;
}
.help-info{
    font-size: 1.2em;
    position: absolute;
    top: 1px;
    right: 7px;
    color: white;
}








// @mixin for-desktop-up {
//     @media all and (max-width: 1440px) { @content; }
// }
// @mixin for-desktop-h {
//     @media all and  (max-height: 900px) { @content; }
// }
// .main-view {
//     background-color:#F5F5F5;
//     padding: 2em 3em 3em 3em;
//     height: 100vh;
//     box-sizing: border-box;
//     @include for-desktop-up {
//         padding: 2em;
//     }
// }
// .side {
//     padding-right: 0px !important;
//     padding-left: 0px !important;
// }
// .help-center {
//     position: fixed;
//     top: 38px;
//     right: 48px;
//     @include for-desktop-up {
//         top: 20px;
//         right: 30px;
//     }
//     @include for-desktop-h {
//         display: none;
//     }
// }
// .help-btn {
//     height: 25px;
//     width: 25px;
//     color: #fff;
//     background-color:#949494;
//     background-image: linear-gradient(-85deg, #949494, #6b6b6b);
//     border: 0px;
//     border-radius: 50%;
//     position: relative;
// }
// .help-info{
//     font-size: 1.2em;
//     position: absolute;
//     top: 1px;
//     right: 7px;
//     color: white;
// }