<!-- Component title -->
<div class="row row-title">
  <div class="col-lg-12">
    <h2 class="section-title">{{'apps.instance.title'|translate}}</h2>
  </div>
</div>
<div class="row row-app-main">
  <div class="col-4 h-100">
    <div class="flex-col-app">
      <!-- Application instances id card -->
      <div class="card row-info-app flex-grow-0">
        <div class="card-title-name">
          <h5>
            <a 
              [routerLink]="['/applications']" 
              routerLinkActive="active" 
              class="blue">
              {{'apps.instance.idApps'|translate}}
            </a>
            <span class="grey"> > </span>
            <b>{{'apps.instance.idInstance'|translate}}</b>
            <span class="grey"> > </span>
            <span class="grey text-uppercase">
            {{instance.name}}
            </span>
          </h5>
        </div>
          <div class="summary-instance-card">
            <div class="ins-info-box">
              <table class="table summary-instances-table">
                <tr>
                  <th>Status</th> 
                  <td id="summary-instances-status">
                    <span 
                      *ngIf="instance && instance.status_name"
                      [ngClass]=
                        "{
                          'big-status-dot':classInstanceStatusCheck(instance.status_name, 'status.running'|translate),
                          'big-status-dot-error':classInstanceStatusCheck(instance.status_name, 'status.error'|translate),
                          'big-status-dot-process':classInstanceStatusCheck(instance.status_name, 'status.process'|translate)
                        }"
                      tooltip="{{instance.status_name}}" 
                      placement="bottom"
                      class="big-status-dot">
                      {{instance.status_name}}
                    </span>
                  </td>
                </tr>
                <tr>
                  <th>{{'apps.instance.tableInstanceOf'|translate}}Instance of</th>
                  <!-- GET REGISTERED AND SET THE RIGHT NAME --> 
                  <td class="text-uppercase">{{getDescriptorName(instance.app_descriptor_id)}}</td> 
                </tr>
                <tr>
                  <th>{{'apps.instance.tableId'|translate}}</th>
                  <td>{{instance.app_instance_id}}</td>
                </tr>
                <tr >
                  <th>{{'apps.instance.tableRegisteredAppId'|translate}}</th>
                  <td>{{instance.app_descriptor_id}}</td> 
                </tr>
                <tr>
                  <th>{{'apps.instance.tableGroups'|translate}}</th>
                  <td *ngIf="instance && instance.groups" id="summary-instances-data">{{instance.groups.length}}</td> 
                  <td *ngIf="!instance || !instance.groups" id="summary-instances-data">0</td> 
                </tr>
                <tr>
                  <th>{{'apps.instance.tableServiceInstance'|translate}}</th>
                  <td id="summary-instances-data">{{countGroupServices()}}</td> 
                </tr>
              </table>
            </div>
            <button (click)="undeploy(instance)" class="btn-undeploy">
              <i class="material-icons i-options">close</i>
                {{'apps.instance.undeployInstance'|translate}}
            </button>
          </div>
      </div>
      <!-- Labels card-->
      <labels-card *ngIf="loadedData"
        [labelsData]="instance"
        [isSelectableLabel]="isSelectableLabel">
      </labels-card>
    </div>
  </div>
  <div class="col-8 h-100">
    <div class="flex-col-app">
      <!-- Graph card -->
      <div *ngIf="showGraph" class="card row-app-services">
        <div class="row">
          <div class="col-10 card-title-name">
            <h5>{{'apps.instance.servicesTitle'|translate}}</h5>
          </div>
          <div class="col-2">
            <div class="show-graph-icons">
              <i 
                (click)="selectDisplayMode('list')"
                [ngClass]="!showGraph ? 'blue' : 'grey'"
                tooltip="{{'apps.instance.servicesTitle'|translate}}" 
                placement="left"
                class="material-icons float-right text-lowercase">
                view_list
              </i>
              <i 
                (click)="selectDisplayMode('graph')"
                [ngClass]="showGraph ? 'blue' : 'grey'"
                tooltip="{{'graph.title'|translate}}" 
                placement="left"
                class="material-icons float-right mr-bars">
                bar_chart
              </i>
            </div> 
          </div>
        </div>
        <div *ngIf=
          "graphDataLoaded &&
          !graphReset &&
          countGroupServices() > 0" 
          class="graph">
          <graph
            [autoCenter]="autoCenter"
            [autoZoom]="autoZoom"
            [curve]="curve"
            [enableZoom]="enableZoom"
            [links]="graphData.links"
            [nodes]="graphData.nodes"
            [orientation]="orientation">
          </graph>
        </div>
          <div *ngIf="!graphReset && countGroupServices() !== 0" class="row mt-2 text-right mr-1">
            <div class="col graph-subtext">
              {{'graph.autoRefresh'|translate}}
              <a (click)="resetGraphZoom()" class="blue cursor-pointer">{{'sortingMessage.reset'|translate}}</a>
            </div>
          </div>
        <div *ngIf="!graphDataLoaded" class="loader"></div>
        <!-- No info to show -->
        <div *ngIf="graphDataLoaded && countGroupServices() === 0" class="no-elements">
          No available services{{'apps.instance.noServices'|translate}}
        </div>
      </div>
      <!-- Services card -->
      <div *ngIf="!showGraph" class="card row-app-services">
        <div class="row">
          <div class="col-10 card-title-name">
            <h5>{{'apps.instance.servicesTitle'|translate}}</h5>
          </div>
            <div class="col-2">
              <div class="show-graph-icons">
                <i 
                  (click)="selectDisplayMode('list')"
                  [ngClass]="!showGraph ? 'blue' : 'grey'"
                  tooltip="{{'apps.instance.servicesTitle'|translate}}" 
                  placement="left"
                  class="material-icons float-right text-lowercase">
                  view_list
                </i>
                <i 
                  (click)="selectDisplayMode('graph')"
                  [ngClass]="showGraph ? 'blue' : 'grey'"
                  tooltip="{{'graph.title'|translate}}" 
                  placement="left"
                  class="material-icons float-right mr-bars" >
                  bar_chart
                </i>
              </div> 
          </div>
        </div>
        <!-- Search box -->
        <div *ngIf=
          "instance &&
          instance.groups &&
          instance.groups.length > 0"
          class="row mb-3">
          <!-- Sorting messages -->
          <div class="col-7">
            <p *ngIf="searchTerm && !filterField" class="sorting-message">
              {{'sortingMessage.filteredBy'|translate:{value: searchTerm} }}
              <span (click)="resetFilters('services')" class="reset-search">
                {{'sortingMessage.reset'|translate}}
              </span>
            </p>
            <p *ngIf="filterField && !searchTerm" class="sorting-message">
              {{'sortingMessage.sortedBy'|translate:{value: sortedBy} }},
              <span *ngIf="reverse">{{'sortingMessage.ascendant'|translate:{value: '. '} }} </span>
              <span *ngIf="!reverse">{{'sortingMessage.descendant'|translate:{value: '. '} }} </span>
              <span (click)="resetFilters('services')" class="reset-search">
                {{'sortingMessage.reset'|translate}}
              </span>
            </p>
            <p *ngIf="filterField && searchTerm" class="sorting-message">
              {{'sortingMessage.sortedBy'|translate:{value: sortedBy} }},
              <span *ngIf="reverse">{{'sortingMessage.ascendant'|translate:{value: ' '} }} </span>
              <span *ngIf="!reverse">{{'sortingMessage.descendant'|translate:{value: ' '} }} </span>
              {{'sortingMessage.andFilteredBy'|translate:{value: searchTerm} }}.
              <span (click)="resetFilters('services')" class="reset-search">
              {{'sortingMessage.reset'|translate}}
              </span>
            </p>
          </div>
          <!-- Search input -->
          <div class="col-5">
            <form>
              <div class="search-box">
                <input 
                  name="searchTerm" 
                  [(ngModel)]="searchTerm"
                  type="text" 
                  placeholder="{{'searcher.placeholder'|translate }}"
                  class="form-control">
                <div *ngIf="searchTerm === ''" class="search-icon">
                  <i class="material-icons">search</i>
                </div>
                <div *ngIf="searchTerm !== ''" class="close-icon">
                  <i (click)="resetFilters('services')" class="material-icons">close</i>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Services tabs -->
        <div class="row h-100">
          <div class="col accordion-box">
            <accordion 
              *ngFor="let group of groups"
              class="accordion-tabs">
              <accordion-group 
                *ngIf="groups.length > 0"
                heading="{{group.name}}"
                [panelClass]="nalejAccordion"
                [isOpen]="isFirstOpen">
                <span     
                  accordion-heading 
                  class="accordion-icons-box">
                  <i class="material-icons accordion-arrow">arrow_drop_down</i>
                  <div class="accordion-btn">
                    <div    
                      (click)="openGroupServicesInfo(group, $event)" 
                      tooltip="Info" 
                      placement="left">
                      <i class="material-icons info-icon">info</i>
                    </div>
                  </div>
                </span>
                <!-- No services to show -->
                <div *ngIf="countGroupServices() === 0" class="no-elements-in-group">
                  {{'apps.instance.noServicesInGroup'|translate}}
                </div>
                <!-- Services table -->
                <div *ngIf=
                  "instance &&
                  instance.groups &&
                  instance.groups.length > 0"
                  class="nalej-table-box no-p-col no-m-row">
                  <div class="label-nalej-table">
                    <div *ngIf="!searchTerm" class="label-thead row">
                      <div 
                        (click)="setOrder('services','name')"
                        [ngClass]="getCategoryCSSClass('services','name')"
                        class="label-th col-1">
                          {{'apps.instance.tableName'|translate}}
                        <span *ngIf="sortedBy === 'name' && !reverse" class="expand-chevron">
                          <i class="material-icons">expand_more</i>
                        </span>
                        <span *ngIf="sortedBy === 'name' && reverse" class="expand-chevron">
                          <i class="material-icons">expand_less</i>
                        </span>
                      </div>
                      <div 
                        (click)="setOrder('services','replicas')"   
                        [ngClass]="getCategoryCSSClass('services','replicas')"
                        class="label-th text-center col-2">
                          {{'apps.instance.tableReplicas'|translate}}
                        <span *ngIf="sortedBy === 'replicas' && !reverse" class="expand-chevron">
                          <i class="material-icons">expand_more</i>
                        </span>
                        <span *ngIf="sortedBy === 'replicas' && reverse" class="expand-chevron">
                          <i class="material-icons">expand_less</i>
                        </span>
                      </div>
                      <div
                        (click)="setOrder('services','status')" 
                        [ngClass]="getCategoryCSSClass('services','status')"
                        class="label-th text-center col-2">
                          {{'apps.instance.tableStatus'|translate}}
                        <span *ngIf="sortedBy === 'status' && !reverse" class="expand-chevron">
                          <i class="material-icons">expand_more</i>
                        </span>
                        <span *ngIf="sortedBy === 'status' && reverse" class="expand-chevron">
                          <i class="material-icons">expand_less</i>
                        </span>
                      </div>
                      <div  
                        (click)="setOrder('services','endpoints')" 
                        [ngClass]="getCategoryCSSClass('services','endpoints')" 
                        class="label-th col-6">
                          {{'apps.instance.tableEndpoints'|translate}}
                        <span *ngIf="sortedBy === 'endpoints' && !reverse" class="expand-chevron">
                          <i class="material-icons">expand_more</i>
                        </span>
                        <span *ngIf="sortedBy === 'endpoints' && reverse" class="expand-chevron">
                          <i class="material-icons">expand_less</i>
                        </span>
                      </div>
                      <div class="label-th col-1 text-center">
                        {{'apps.instance.tableInfo'|translate}}
                      </div>
                    </div>
                  </div>
                  <div *ngFor=
                    "let service of getGroupServices(group.service_group_instance_id) |
                    sortBy : sortedBy : reverse : 'case-insensitive' |
                    filter : searchTerm">
                    <div class="label-tbody row">
                      <div class="col-1 label-td"> 
                        {{service.name}}
                      </div>
                      <div class="col-2 text-center label-td">
                        {{service.specs.replicas}}
                      </div>
                      <div class="col-2 text-center label-td">
                        <span 
                          [ngClass]=
                            "{
                              'status-dot': classStatusCheck(service.status_name, 'status.serviceRunning'|translate),
                              'status-dot-error': classStatusCheck(service.status_name, 'status.serviceError'|translate),
                              'status-dot-process': classStatusCheck(service.status_name, 'status.serviceWaiting'|translate)
                            }"
                          tooltip="{{service.status_name}}" 
                          placement="bottom"
                          class="status-dot">
                          <span class="text-lowercase">
                            {{getBeautyStatusName(service.status_name)}}
                          </span>
                        </span>
                      </div>
                      <div class="col-6 label-td">
                        <span *ngFor="let endpoint of service.endpoints">
                          <a 
                            *ngIf="endpoint" 
                            href="{{getEndpointHref(endpoint)}}" 
                            target="_blank">
                            {{endpoint}}
                          </a>
                        </span>
                        <span *ngIf="!service.endpoints">No</span>
                      </div>
                      <div class="col-1 label-td-flex text-center">
                        <div    
                          (click)="openServicesInfo(service)" 
                          tooltip="Info" 
                          placement="left">
                          <i class="material-icons info-icon">info</i>
                        </div>
                      </div>
                      <hr class="accordion-table-separator">
                    </div>
                  </div>
                </div> 
                <!-- No info to show -->
                <div *ngIf=
                  "loadedData &&
                  !requestError &&
                  groups.length === 0" 
                  class="no-elements">
                  {{'apps.instance.noServices'|translate}}
                </div>
                <!-- Requested error -->
                <div *ngIf="loadedData && requestError" class="no-elements">
                  <p>{{ requestError }}</p>
                </div>
              </accordion-group>
            </accordion>
          </div>
        </div>
        <!-- Loader -->
        <div *ngIf="!loadedData" class="nalej-loader-box">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle 
                class="path" 
                cx="50" 
                cy="50" 
                r="20" 
                fill="none" 
                stroke-width="2" 
                stroke-miterlimit="10" />
            </svg>
          </div>
        </div>
      </div>
      <div class="row row-app-rules ">
        <!-- Rules card -->
        <div class="col-lg-8">
          <div class="card">
            <div class="card-title-name">
              <h5>{{'apps.instance.rulesTitle'|translate}}</h5>
            </div>
            <div *ngIf=
              "loadedData &&
              instance.rules &&
              instance.rules.length > 0 &&
              !requestError" 
              class="row mb-3">
              <!-- Sorting messages -->
              <div class="col">
                <p *ngIf="searchTermRules && !filterFieldRules" class="sorting-message">
                  {{'sortingMessage.filteredBy'|translate:{value: searchTermRules} }}
                  <span (click)="resetFilters('rules')" class="reset-search">
                    {{'sortingMessage.reset'|translate}}
                  </span>
                </p>
                <p *ngIf="filterFieldRules && !searchTermRules" class="sorting-message">
                  {{'sortingMessage.sortedBy'|translate:{value: sortedBy} }},
                  <span *ngIf="reverse">{{'sortingMessage.ascendant'|translate:{value: '. '} }} </span>
                  <span *ngIf="!reverse">{{'sortingMessage.descendant'|translate:{value: '. '} }} </span>
                  <span (click)="resetFilters('rules')" class="reset-search">
                    {{'sortingMessage.reset'|translate}}
                  </span>
                </p>
                <p *ngIf="filterFieldRules && searchTermRules" class="sorting-message">
                  {{'sortingMessage.sortedBy'|translate:{value: sortedBy} }},
                  <span *ngIf="reverse">{{'sortingMessage.ascendant'|translate:{value: ', '} }} </span>
                  <span *ngIf="!reverse">{{'sortingMessage.descendant'|translate:{value: ', '} }} </span>
                  {{'sortingMessage.andFilteredBy'|translate:{value: searchTerm} }}.
                  <span (click)="resetFilters('rules')" class="reset-search">
                    {{'sortingMessage.reset'|translate}}
                  </span>
                </p>
              </div>
              <!-- Search input -->
              <div class="col-6">
                <form>
                  <div class="search-box">
                    <input 
                      name="searchTermRules" 
                      [(ngModel)]="searchTermRules"
                      type="text" 
                      placeholder="{{'searcher.placeholder'|translate }}"
                      class="form-control">
                    <div *ngIf="searchTermRules === ''" class="search-icon">
                      <i class="material-icons">search</i>
                    </div>
                    <div  *ngIf="searchTermRules !== ''" class="close-icon">
                      <i class="material-icons" (click)="resetFilters('rules')">close</i>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- Rules table -->
            <div *ngIf=
              "loadedData &&
              instance.rules &&
              instance.rules.length > 0 &&
              !requestError" 
              class="nalej-table-box no-p-col no-m-row">
              <div class="label-nalej-table">
                <div class="label-thead row">
                  <div 
                    (click)="setOrder('rules','name')"
                    [ngClass]="getCategoryCSSClass('rules','name')"
                    class="label-th col-3">
                    <span tooltip="{{'apps.instance.tableName'|translate}}" placement="bottom">
                      {{'apps.instance.tableName'|translate}}
                    </span>
                    <span *ngIf="sortedByRules === 'name' && !reverseRules" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedByRules === 'name' && reverseRules" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </div>
                  <div 
                    (click)="setOrder('rules','access')" 
                    [ngClass]="getCategoryCSSClass('rules','access')" 
                    class="label-th col-2">
                    <span tooltip="{{'apps.instance.tableAccess'|translate}}" placement="bottom">
                        {{'apps.instance.tableAccess'|translate}}
                    </span> 
                    <span *ngIf="sortedByRules === 'access' && !reverseRules" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedByRules === 'access' && reverseRules" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </div>
                  <div 
                    (click)="setOrder('rules','target')" 
                    [ngClass]="getCategoryCSSClass('rules','target')" 
                    class="label-th col-3">
                    <span 
                    tooltip="{{'apps.instance.tableTarget'|translate}} 
                    {{'apps.instance.tableTargetInBig'|translate}}" 
                    placement="bottom">
                      {{'apps.instance.tableTarget'|translate}} 
                      <span class="grey typo-small">
                        {{'apps.instance.tableTargetIn'|translate}}
                      </span>
                    </span>
                    <span *ngIf="sortedByRules === 'target' && !reverseRules" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedByRules === 'target' && reverseRules" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </div>
                  <div 
                    (click)="setOrder('rules','auth')" 
                    [ngClass]="getCategoryCSSClass('rules','auth')"  
                    class="label-th col-3">
                    <span 
                    tooltip="{{'apps.instance.tableAuth'|translate}}
                    {{'apps.instance.tableAuthInBig'|translate}}" 
                    placement="bottom">
                      {{'apps.instance.tableAuth'|translate}} 
                      <span class="grey typo-small">
                        {{'apps.instance.tableAuthIn'|translate}}
                      </span>
                    </span>
                    <span *ngIf="sortedByRules === 'auth' && !reverseRules" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedByRules === 'auth' && reverseRules" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </div>
                  <div class="label-th col-1 text-center">
                    <span tooltip="Info" placement="bottom">Info</span>
                  </div>
                </div>
              
              <div *ngFor=
                "let rule of instance.rules |
                sortBy : sortedByRules : reverseRules : 'case-insensitive' |
                filter : searchTermRules">
                <div class="label-tbody row">
                <div class="col-3 label-td"> 
                    {{rule.name | truncate}}
                </div>
                <div class="col-2 label-td">{{rule.access_name}}</div>
                <div class="col-3 label-td">
                    {{rule.target_service_group_name}} - {{rule.target_service_name}} - {{rule.target_port}}
                </div>
                <div class="col-3 label-td">
                    {{rule.auth_service_group_name}}
                    <span *ngIf="rule.auth_services"> - </span>
                    {{rule.auth_services}}
                    <span *ngIf="rule.device_group_names"></span>
                    {{rule.device_group_names}}
                </div>
                <div class="col-1 label-td-flex">
                  <div    
                    (click)="openRulesInfo(rule)"
                    tooltip="Info" 
                    placement="left">
                    <i class="material-icons info-icon">info</i>
                  </div>
                </div>
                </div>
              </div>
              <!-- No info to show -->
              <div *ngIf=
                "loadedData &&
                instance &&
                !instance.rules
                !requestError" 
                class="no-elements">
                {{'apps.instance.noRules'|translate}}
              </div>
              <!-- Requested error -->
              <div *ngIf="loadedData && requestError" class="no-elements">
                <p>{{requestError}}</p>
              </div>
            </div>
          </div>
            <!-- Loader -->
            <div *ngIf="!loadedData" class="nalej-loader-box">
              <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                  <circle 
                    class="path" 
                    cx="50" 
                    cy="50" 
                    r="20" 
                    fill="none" 
                    stroke-width="2" 
                    stroke-miterlimit="10" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <!-- Configuration card -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-title-name">
              <h5>{{'apps.instance.configTitle'|translate}}</h5>
            </div>
            <div class="config-card">
              <div *ngIf="instance.environment_variables">
                <p class="text-left">{{'apps.instance.environmentVariables'|translate}}</p>
                <div *ngFor="let variable of instance.environment_variables | keyvalue" class="row mb-2" >
                  <div class="col-12 grey text-right">
                    {{variable.key}} 
                  </div>
                  <div class="col-12 text-right">
                    {{variable.value}}
                  </div>
                </div>
              </div>
              <div *ngIf="!instance.environment_variables">
                <p class="text-left">{{'apps.instance.environmentVariables'|translate}}</p>
                <p class="grey">{{'apps.instance.noEnvironmentVariables'|translate}}</p>
              </div>
              <div *ngIf="instance.configuration_options">
                <p class="text-left">{{'apps.instance.otherSettings'|translate}}</p>
                <div *ngFor="let configuration of instance.configuration_options| keyvalue" class="row mb-1" >
                  <div class="col-12 grey text-right">
                    {{configuration.key}} 
                  </div>
                  <div class="col-12 text-right">
                    {{configuration.value}}
                  </div>
                </div>
              </div>
              <div *ngIf="!instance.configuration_options">
                <p class="text-left">{{'apps.instance.otherSettings'|translate}}</p>
                <p class="grey">{{'apps.instance.noOtherSettings'|translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
