@mixin for-desktop-up {
    @media all and (max-width: 1440px) { @content; }
}
@mixin for-desktop-only {
    @media all and (max-width: 1440px), all and  (max-height: 900px) { @content; }
}
@mixin for-desktop-h {
    @media all and (max-height: 900px) { @content; }
}

$base-red: #F7478A;
$base-grey: #828282;

/* - - - Card heights - - */
.row-info-app {
    min-height: 587px;
    @include for-desktop-h {
        min-height: 410px;
    }
}
.nalej-table tbody td {
    @include for-desktop-only {
        padding: 0.75rem 0;
    }
}

/* - - -Summary card instances table - - - */

.ins-info-box {
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.summary-instance-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#summary-instances-status {
    font-size: 1.4em;
    text-transform: uppercase;
    @include for-desktop-only {
        font-size: 1em !important;
    }
}
#summary-instances-data {
    font-size: 2.5em;
    @include for-desktop-only {
        font-size: 1em !important;
    }
}
.summary-instances-table {
    height: 75%;
    font-size:  .9em;
    tr {
        border: none;
    } 
    th {
        color: $base-grey;
        border: none;
        font-weight: 200;
        padding: .2em;
        vertical-align: inherit;

        @include for-desktop-only {
            font-size: .8em;
        }
    }
    td {
        padding: 0.2rem;
        vertical-align: inherit;
        border: none;
        text-align: right;
        color: #212529;

        @include for-desktop-only {
            font-size: .8em;
            text-align: right;
        }
    }
}


/* - - - Apps info card  buttons - - - */
.btn-undeploy {
    border: none;
    border-radius: 5px;
    padding: .5em 1.8em .5em 3em;
    cursor: pointer;
    position: relative;
    font-size: .8em;
    outline: none; 
    background-color: #ececec;
    color: $base-red;
    width: 233px;
    height: 42px;
    &:hover {
        color: #ffffff;
        transition: 0.3s;
        background-color: $base-red;
        opacity: 0.6;
    }
}
.i-options {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 1.7em;
}
.ins-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* - - -  Labels card - - - */
.i-add {
    font-size: 1em;
    top: 3px;
    left: 3px;
}
.i-delete{
    font-size: 1em;
    top: 3px;
    left: 3px;
}

/* - - -  Tables card - - - */
.search-box {
    width: 237px;
    margin-right: 1em;
}
.show-graph-icons {
    cursor: pointer;
    color: $base-grey;
}
.mr-bars {
    margin-right: 11px;
}
.nalej-table-box-fix {
    padding-top: 0em;
}

@media screen and (max-width: 1550px) {
    .table-fixed tbody td:last-child {
        padding: 0.75rem 0;
    }
}

@media all and (max-width: 1440px) {
    // Order of services cells when his viewport appears
    .services-cell-1 {
        order: 1;
    }
    .services-cell-2 {
        order: 2;
    }
    .services-cell-3 {
        order: 3;
    }
    .services-cell-4 {
        order: 4;
    }
    .services-cell-5 {
        order: 5;
    }
    // Order of rules cells when his viewport appears
    .rules-cell-1 {
        order: 1;
    }
    .rules-cell-2 {
        order: 2;
    }
    .rules-cell-3 {
        order: 3;
    }
    .rules-cell-4 {
        order: 4;
    }
    .rules-cell-5 {
        order: 5;
    }
}
/* - - -  Config card - - - */
.config-card {
    font-size: .8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    word-wrap: break-word;
    height: 100%;
    overflow-x: scroll;
    @include for-desktop-h {
        text-align: left;
        justify-content: end;
    }
}