<!-- Component title -->
<div class="row row-title mb-4">
  <div class="col-lg-12">
    <h2 class="section-title">Applications</h2>
  </div>
</div>
<div class="row h-ins">
  <div class="col-4 h-100">
    <div class="ins-flex-col">
      <!-- Application instances id card -->
      <div class="card h-ins-info flex-grow-0">
        <div class="card-title-name">
          <h5>
            <a 
              [routerLink]="['/applications']" 
              routerLinkActive="active" 
              class="blue">
              APPS
            </a>
            <span class="grey"> > </span>
            <b>INSTANCE</b>
            <span class="grey"> > </span>
            <span class="grey text-uppercase">
            {{instance.name}}
            </span>
          </h5>
        </div>
          <div class="summary-instance-card">
            <div class="ins-info-box">
                <table class="table summary-instances-table">
                    <tr>
                      <th class="grey">Status</th>
                      <td 
                        class="summary-instances-status"
                        [ngClass]= 
                          "instanceClassStatusCheck(instance.status_name)">
                        {{instance.status_name}}
                      </td>
                    </tr>
                    <tr>
                      <th class="grey">Instance of</th>
                      <!-- GET REGISTERED AND SET THE RIGHT NAME --> 
                      <td class="dark-grey text-uppercase">{{getDescriptorName(instance.app_descriptor_id)}}</td> 
                    </tr>
                    <tr>
                      <th class="grey">ID</th>
                      <td class="dark-grey">{{instance.app_instance_id}}</td>
                    </tr>
                    <tr>
                      <th class="grey hide-sm">Registered app ID</th>
                        <td class="dark-grey hide-sm">{{instance.app_descriptor_id}}</td> 
                    </tr>
                    <tr>
                      <th class="grey">Groups</th>
                      <td *ngIf="instance && instance.groups" class="summary-instances-data">{{instance.groups.length}}</td> 
                      <td *ngIf="!instance || !instance.groups" class="summary-instances-data">0</td> 
                    </tr>
                    <tr>
                      <th class="grey">Service instances</th>
                      <td class="summary-instances-data">{{countGroupServices('ALL')}}</td> 
                    </tr>
                  </table>
            </div>
              <button 
                class="btn-undeploy button-padding-fix"
                (click)="undeploy(instance)">
                <i class="material-icons i-options">close</i>
                Undeploy instance
              </button>
          </div>
      </div>
      <!-- Labels card-->
      <div class="card h-ins-labels flex-grow-1">
        <div class="card-title-name hide-title-sm">
          <h5>LABELS</h5>
        </div>
        <div
          *ngIf="instance.labels"
          class="ins-labels">
          <div *ngFor="let label of instanceLabelsToString()">
            <button class="btn-sm btn-outline-primary" disabled>
              {{label[0]}}: {{label[1]}}
            </button>
          </div>
        </div>
        <div
        *ngIf="!instance.labels"
        class="ins-labels">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
            No labels
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-8 h-100">
    <div class="ins-flex-col">
      <!-- Graph card -->
      <div *ngIf="showGraph" class="card h-ins-services flex-grow-1">
        <div class="row">
          <div class="col-10 card-title-name">
            <h5>SERVICES</h5>
          </div>
          <div class="col-2">
            <div class="show-graph-icons">
              <i 
                tooltip="Services" 
                placement="left"
                class="material-icons float-right"   
                [ngClass]="!showGraph ? 'blue' : 'grey'"
                (click)="selectDisplayMode('list')">
                view_list
              </i>
              <i 
                tooltip="Graph" 
                placement="left"
                class="material-icons float-right mr-bars" 
                (click)="selectDisplayMode('graph')"
                [ngClass]="showGraph ? 'blue' : 'grey'">
                bar_chart
              </i>
            </div> 
          </div>
        </div>
        <div *ngIf="graphDataLoaded && !graphReset && countGroupServices('ALL') > 0" class="graph">
            <ngx-graph
                class="chart-container"
                [view]="view"
                [legend]="showLegend"
                [links]="graphData.links"
                [nodes]="graphData.nodes"
                [scheme]="colorScheme"
                [orientation]="orientation"
                [autoZoom]="autoZoom"
                [autoCenter]="autoCenter"
                [curve]="curve"
                [enableZoom]="enableZoom">
              <ng-template #nodeTemplate let-node>
                <svg:g 
                  class="node"
                  ngx-tooltip
                  [tooltipPlacement]="'top'"
                  [tooltipType]="'tooltip'"
                  [tooltipTitle]="node.tooltip">
                  <svg:rect 
                  [attr.width]="node.width" 
                  [attr.height]="node.height" 
                  [attr.fill]="node.color" 
                  rx="14" 
                  ry="14"/>
                  <svg:text 
                    alignment-baseline="central" 
                    [attr.x]="10" 
                    [attr.y]="node.height/2">
                    {{node.label}}
                </svg:text>
                </svg:g>
              </ng-template>
              <ng-template #linkTemplate let-link>
                <svg:g class="edge">
                  <defs>
                    <marker id="arrow" markerWidth="13" markerHeight="13" refX="2" refY="6" orient="auto" markerUnits="userSpaceOnUse">
                        <path d="M2,2 L2,11 L10,6 L2,2" fill="#333" stroke-width="0" />
                    </marker>
                  </defs>
                  <svg:path
                    stroke-width="2"
                    class="line"
                    d="M 0,30 h100"
                    [attr.marker-mid]="getMarker(link)"
                    >
                  </svg:path>
                </svg:g>
              </ng-template>
            </ngx-graph>
          </div>
          <div *ngIf="!graphReset && countGroupServices('ALL') !== 0" class="row mt-2 text-right mr-1">
            <div class="col graph-subtext">
              Auto refresh every 5 seconds. Scroll on graph to zoom. <a class="blue cursor-pointer" (click)="resetGraphZoom()">Reset</a>
            </div>
          </div>
        <div *ngIf="!graphDataLoaded" class="loader"></div>
        <!-- No info to show -->
        <div *ngIf="graphDataLoaded && countGroupServices('ALL') === 0"
        class="no-info d-flex justify-content-center align-items-center">
          No available services
        </div>
      </div>
      <!-- Services card -->
      <div *ngIf="!showGraph" class="card h-ins-services flex-grow-1">
        <div class="row">
          <div class="col-10 card-title-name">
            <h5>SERVICES</h5>
          </div>
            <div class="col-2">
              <div class="show-graph-icons">
                <i 
                  tooltip="Services" 
                  placement="left"
                  class="material-icons float-right"   
                  [ngClass]="!showGraph ? 'blue' : 'grey'"
                  (click)="selectDisplayMode('list')">
                  view_list
                </i>
                <i 
                  tooltip="Graph" 
                  placement="left"
                  class="material-icons float-right mr-bars" 
                  (click)="selectDisplayMode('graph')"
                  [ngClass]="showGraph ? 'blue' : 'grey'">
                  bar_chart
                </i>
              </div> 
          </div>
        </div>
        <!-- Services tabs -->
        <div class="row" *ngIf="instance && instance.groups && instance.groups.length > 0">
          <div class="col">
            <div class="nalej-tab-container">
              <ul>
                <li 
                  *ngIf="displayedGroupsNamesLength < maxLabelsLength" 
                  class="nalej-tab nalej-tab-title">
                  <span class="grey">GROUP INSTANCES</span>
                </li>
                <li 
                  *ngIf="groups && groups.length > 0" 
                  class="nalej-tab" 
                  (click)="changeActiveGroup('ALL')">
                  <span [ngClass]="amIactive('ALL')">ALL</span>
                </li>
                <li 
                  *ngIf="groups && groups.length === 0" 
                  class="nalej-tab">
                  <span class="active">ALL</span>
                </li>
                <li 
                  [ngClass]="haveIGroups(groups)" 
                  (click)="swipeLeft()" 
                  class="tabs-arrow">
                  <i class="material-icons">arrow_left</i>
                </li>
                <li 
                  *ngFor="let group of displayedGroups" 
                  class="nalej-tab" 
                  (click)="changeActiveGroup(group.service_group_instance_id)">
                  <span 
                    *ngIf="displayedGroups.length > 0" 
                    [ngClass]="amIactive(group.service_group_instance_id)">
                    {{group.name}} - {{getLastChars(3, group.service_group_instance_id)}}
                  </span>
                </li>
                <li 
                  [ngClass]="haveIGroups(groups)" 
                  (click)="swipeRight()" 
                  class="tabs-arrow">
                  <i class="material-icons">arrow_right</i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="instance && instance.groups && instance.groups.length > 0" class="row justify-content-between">
          <!-- Sorting mesages -->
          <div class="col-9">
            <p *ngIf="searchTerm && !filterField" class="sorting-message">
              Filtered by term "{{ searchTerm }}".
              <span class="blue reset-search" (click)="resetFilters('services')">Reset</span>
            </p>
            <p *ngIf="filterField && !searchTerm" class="sorting-message">
              Sorted by {{ sortedBy }},
              <span *ngIf="reverse">ascendant. </span>
              <span *ngIf="!reverse">descendant. </span>
              <span class="blue reset-search" (click)="resetFilters('services')">Reset</span>
            </p>
            <p *ngIf="filterField && searchTerm" class="sorting-message">
              Sorted by {{ sortedBy }}
              <span *ngIf="reverse">ascendant </span>
              <span *ngIf="!reverse">descendant </span>
              and filtered by term "{{ searchTerm }}".
              <span class="blue reset-search" (click)="resetFilters('services')">Reset</span>
            </p>
          </div>
          <!-- Search input -->
          <div class="col-3">
            <form>
              <div class="search-box">
                <input 
                  type="text" 
                  class="form-control" 
                  name="searchTerm" 
                  placeholder="Search..."
                  [(ngModel)]="searchTerm">
                <div class="search-icon" *ngIf="searchTerm === ''">
                  <i class="material-icons">search</i>
                </div>
                <div class="close-icon" *ngIf="searchTerm !== ''">
                  <i class="material-icons" (click)="resetFilters('services')">close</i>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- No services to show -->
        <div *ngIf="activeGroupId!== 'ALL' && countGroupServices(activeGroupId) === 0"
          class="no-info-in-group d-flex justify-content-center align-items-center">
          No available services in this group
        </div>
        <!-- Services table -->
        <div *ngIf="instance && instance.groups && instance.groups.length > 0" class="table-h">
          <table class="table-responsive table-fixed">
            <thead>
              <tr>
                <th 
                  (click)="setOrder('services','name')" 
                  [ngClass]="getCategoryCSSClass('services','name')" 
                  scope="col" 
                  class="col-2">
                  Name
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'name' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'name' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  (click)="setOrder('services','replicas')" 
                  [ngClass]="getCategoryCSSClass('services','replicas')" 
                  scope="col" 
                  class="col-2 text-center">
                  Replicas
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'replicas' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'replicas' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th> 
                <th 
                  (click)="setOrder('services','status')" 
                  [ngClass]="getCategoryCSSClass('services','status')" 
                  scope="col" 
                  class="col-3">
                  Status
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'status' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'status' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  (click)="setOrder('services','endpoints')" 
                  [ngClass]="getCategoryCSSClass('services','endpoints')" 
                  scope="col" 
                  class="col-4">
                  Endpoints
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'endpoints' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span  
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'endpoints' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  scope="col" 
                  class="col-1 text-center p-0">
                  Info
                </th>
              </tr>
            </thead>
            <tbody>
              <span *ngIf="getGroupServices(activeGroupId)">
              <tr *ngFor="let service of getGroupServices(activeGroupId) | sortBy : sortedBy : reverse : 'case-insensitive' | filter : searchTerm">
                <td class="col-2">{{service.name}}</td>
                <td class="col-2 text-center">{{service.specs.replicas}}</td>
                <td 
                  class="col-3 text-lowercase"
                  [ngClass]="getServiceStatusClass(service.status_name)"
                >{{getBeautyStatusName(service.status_name)}}</td>
                <td class="col-4">
                  <span *ngFor="let endpoint of service.endpoints">
                      <a *ngIf="endpoint" href="{{getEndpointHref(endpoint)}}" target="_blank">{{endpoint}}</a>
                    </span>
                  <span *ngIf="!service.endpoints">No</span>
                </td>
                <td class="col-1 text-center">
                  <button 
                    class="btn info-btn btn-primary"  
                    tooltip="Info" 
                    placement="left" 
                    (click)="openServicesInfo(service)">
                    <span class="i-info">i</span>
                  </button>
                </td>
              </tr>
            </span>
            </tbody>
          </table>
        </div>
        <!-- No info to show -->
        <div *ngIf="loadedData && !requestError && groups.length === 0"
          class="no-info d-flex justify-content-center align-items-center">
          No available services
        </div>
        <!-- Requested error -->
        <div *ngIf="loadedData && requestError" class="no-elements d-flex justify-content-center align-items-center">
          <p>{{ requestError }}</p>
        </div>
        <!-- Loader -->
        <div class="nalej-loader-container" *ngIf="!loadedData">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle 
                class="path" 
                cx="50" 
                cy="50" 
                r="20" 
                fill="none" 
                stroke-width="2" 
                stroke-miterlimit="10" />
            </svg>
          </div>
        </div>
      </div>
      <div class="h-ins-rules flex-grow-0">
        <!-- Rules card -->
        <div class="card h-100 mr-4 w-75">
          <div class="card-title-name">
            <h5>RULES</h5>
          </div>
          <div class="row hide-sm">
            <!-- Sorting mesages -->
            <div class="col">
              <p *ngIf="searchTermRules && !filterFieldRules" class="sorting-message">
                Filtered by term "{{ searchTermRules }}".
                <span class="blue reset-search" (click)="resetFilters('rules')">Reset</span>
              </p>
              <p *ngIf="filterFieldRules && !searchTermRules" class="sorting-message">
                Sorted by {{ sortedByRules }},
                <span *ngIf="reverse">ascendant. </span>
                <span *ngIf="!reverse">descendant. </span>
                <span class="blue reset-search" (click)="resetFilters('rules')">Reset</span>
              </p>
              <p *ngIf="filterFieldRules && searchTermRules" class="sorting-message">
                Sorted by {{ sortedByRules }}
                <span *ngIf="reverse">ascendant </span>
                <span *ngIf="!reverse">descendant </span>
                and filtered by term "{{ searchTermRules }}".
                <span class="blue reset-search" (click)="resetFilters('rules')">Reset</span>
              </p>
            </div>
            <!-- Search input -->
            <div class="col-6">
              <form>
                <div class="search-box">
                  <input type="text" class="form-control" name="searchTermRules" placeholder="Search..."
                    [(ngModel)]="searchTermRules">
                  <div class="search-icon" *ngIf="searchTermRules === ''">
                    <i class="material-icons">search</i>
                  </div>
                  <div class="close-icon" *ngIf="searchTermRules !== ''">
                    <i class="material-icons" (click)="resetFilters('rules')">close</i>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Rules table -->
          <div class="table-h table-h-fix" *ngIf="loadedData && instance.rules && instance.rules.length > 0 && !requestError">
            <table class="table-responsive table-fixed">
              <thead class="hide-sm">
                <tr>
                  <th 
                    (click)="setOrder('rules','name')" 
                    [ngClass]="getCategoryCSSClass('rules','name')" 
                    scope="col" 
                    class="col-2">
                    Name
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedByRules === 'name' && !reverseRules">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedByRules === 'name' && reverseRules">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    (click)="setOrder('rules','access')" 
                    [ngClass]="getCategoryCSSClass('rules', 'access')" 
                    scope="col" 
                    class="col-2">
                    Access
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedByRules === 'access' && !reverseRules">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedByRules === 'access' && reverseRules">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    (click)="setOrder('rules','target')" 
                    [ngClass]="getCategoryCSSClass('rules','target')" 
                    scope="col"
                    class="col-4 auth-lh-fix">
                    Target <span class="grey typo-small">(group, service, port)</span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedByRules === 'target' && !reverseRules">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedByRules === 'target' && reverseRules">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    (click)="setOrder('rules','auth')" 
                    [ngClass]="getCategoryCSSClass('rules','auth')" 
                    scope="col" 
                    class="col-3 auth-lh-fix">
                    Auth <span class="grey typo-small">(group, service / device group)</span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedByRules === 'auth' && !reverseRules">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedByRules === 'auth' && reverseRules">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    scope="col" 
                    class="col-1 text-center p-0">
                    Info
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rule of instance.rules | sortBy : sortedByRules : reverseRules : 'case-insensitive' | filter : searchTermRules">
                  <td class="col-2">
                    <a 
                      class="blue text-capitalize text-left">
                      {{rule.name | truncate}}
                    </a>
                  </td>
                  <td class="col-2 text-lowercase">{{rule.access_name}}</td>
                  <td class="col-4">
                      {{rule.target_service_group_name}} - {{rule.target_service_name}} - {{rule.target_port}}
                  </td>
                  <td class="text-lowercase col-3">
                      {{rule.auth_service_group_name}}
                      <span *ngIf="rule.auth_services"> - </span>
                      {{rule.auth_services}}
                      <span *ngIf="rule.device_group_names"></span>
                      {{rule.device_group_names}}
                  </td>
                  <td class="col-1 text-center">
                    <button 
                      class="btn info-btn btn-primary"  
                      tooltip="Info" 
                      placement="left" 
                      (click)="openRulesInfo(rule)">
                      <span class="i-info">i</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- No info to show -->
          <div *ngIf="loadedData && instance && instance.rules && instance.rules.length === 0 !requestError"
            class="no-info d-flex justify-content-center align-items-center">
            No available rules detected
          </div>
          <!-- Requested error -->
          <div *ngIf="loadedData && requestError" class="no-elements d-flex justify-content-center align-items-center">
            <p>{{requestError}}</p>
          </div>
          <!-- Loader -->
          <div class="nalej-loader-container" *ngIf="!loadedData">
            <div class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                <circle 
                  class="path" 
                  cx="50" 
                  cy="50" 
                  r="20" 
                  fill="none" 
                  stroke-width="2" 
                  stroke-miterlimit="10" />
              </svg>
            </div>
          </div>
        </div>
        <!-- Configuration card -->
        <div class="card h-100">
            <div class="card-title-name">
              <h5 class="hide-sm">CONFIGURATION</h5>
              <h5 class="show-sm">CONF...</h5>
            </div>
            <div class="config-card">
              <div *ngIf="instance.environment_variables">
                <p class=" text-left">Environment variables</p>
                <div 
                  class="row mb-2" 
                  *ngFor="let variable of objectToString(instance.environment_variables)">
                  <div class="col-12 grey text-right">
                    {{variable[0]}} 
                  </div>

                  <div class="col-12 text-right">
                    {{variable[1]}}
                  </div>
                </div>
              </div>
              <div *ngIf="!instance.environment_variables">
                <p class="text-left">Environment variables</p>
                <p class="grey">No environment variables have been set</p>
              </div>
              <div *ngIf="instance.configuration_options">
                <p class="text-left">Other settings</p>
                <div 
                  class="row mb-1" 
                  *ngFor="let configuration of objectToString(instance.configuration_options)">
                    <div class="col-12 grey text-right">
                      {{configuration[0]}} 
                    </div>
                    <div class="col-12 text-right">
                      {{configuration[1]}}
                    </div>
                </div>
              </div>
              <div *ngIf="!instance.configuration_options">
                <p class="text-left">Other settings</p>
                <p class="grey">No extra settings have been set</p>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>