@import '../scss/variables/colors';
@import '../scss/variables/mixins';

.row-info-app {
    height: 301px;
}
.config-card {
    font-size: .8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    word-wrap: break-word;
    height: 100%;
    overflow-x: scroll;
    @include for-desktop-h {
        text-align: left;
        justify-content: end;
    }
}
.info-icon {
    font-size: 30px;
}
.search-box {
    margin-right: 0;
}
// .accordion-box 
// .accordion-tabs 
// .nalejAccordion 
// .accordion-icons-box 
// .accordion-btn {
//     top: 7px;
//     right: 36px;
// }
.show-graph-icons {
    cursor: pointer;
    color: $base-grey;
}
.label-tbody {
    padding: .9rem 0;
    .label-td {
        float: left;
        font-size: .9em;
        color: $base-grey;
        outline: none;
    }
    .label-td-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
