
<div class="modal-card modal-card-info">
  <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h3 class="modal-info-title mb-4">Service info</h3>
      </div>
      <!-- Body -->
      <div class="modal-body">
      <h3 class="modal-info-h3-title">{{name}}</h3>
      <p class="modal-info-image">{{image}}</p>
      <p class="modal-info-title-sm">{{serviceId}}</p>
      <div class="scroll-app-info">
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Replicas</div>
          <h3 class="modal-info-h3-title col-sm text-right">{{specs.replicas}}</h3>
        </div>
        <br>
        <span *ngIf="exposedPorts">
          <div class="row">
            <div class="col-sm modal-info-table-title mb-3">Exposed ports</div>
          </div>
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm">Port</div>
              <div class="col-sm text-right">Internal</div>
              <div class="col-sm text-right">External</div>
            </div>
          </span>
          <div *ngFor="let exposedPort of exposedPorts">
            <span *ngIf="exposedPorts">
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm grey">{{exposedPort.name}}</div>
                <div class="col-sm text-right grey">{{exposedPort.internal_port}}</div>
                <div class="col-sm text-right grey">{{exposedPort.exposed_port}}</div>
              </div>
            </span>
            <span *ngIf="!exposedPorts">
            <div class="row">
              <div class="col-sm text-right">No</div>
            </div>
          </span>
          </div>
          <br>
          <span *ngIf="endpoints">
          <div class="row">
            <div class="col-sm modal-info-table-title mb-3">Endpoints</div>
          </div>
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm">Port</div>
              <div class="col-sm text-right">Type</div>
              <div class="col-sm text-right">Path</div>
            </div>
          </span>
        <div *ngFor="let exposedPort of exposedPorts">
          <span *ngIf="endpoints">
            <div *ngFor="let endpoint of exposedPort.endpoints"c lass="row">
              <div class="col-sm"></div>
              <div class="col-sm grey">{{exposedPort.name}}</div>
              <div class="col-sm text-right grey">{{endpoint.type}}</div>
              <div class="col-sm text-right grey" >{{endpoint.path}}</div>
            </div>
          </span>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Environment variables</div>
        </div>
        <div *ngFor="let environmentVariable of environmentVariables | keyvalue" class="row">
          <div *ngIf="environmentVariables" class="col-sm text-right">
            <div class="text-right grey">{{environmentVariable.key}}</div>
            <div class="text-right">{{environmentVariable.value}}</div>
          </div>
          <div *ngIf="!environmentVariables" class="col-sm text-right">No</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Service group ID</div>
          <div class="col-sm text-right">{{groupId}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">App descriptor ID</div>
          <div class="col-sm text-right">{{appDescriptorId}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Labels</div>
        </div>
        <div *ngFor="let label of labels | keyvalue" class="row">
          <div *ngIf="labels" class="col-sm text-right">
            <button class="label-content-disabled" disabled>
              {{label.key}}: {{label.value}}
            </button>
          </div>
          <div *ngIf="!labels" class="col-sm text-right">No</div>
        </div>
        <br>
      </div>      
      <!-- Option button -->
      <div class="form-group-btn">
        <button (click)="bsModalRef.hide()" class="nalej-form-btn-blue">
          <span class="align-bottom">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
