.service-h3-title {
    font-size: 1.5rem;
    margin-bottom: .1rem;
}
.service-image {
    font-size: .9em;
    color:  #707070;
    margin-bottom: .2em;
}
.service-title {
    font-size: .9em;
    color:  #949494;
    margin-bottom: 0;
}
.service-title-sm {
    font-size: .8em;
    color:  #949494;
    margin-bottom: 0;
}
.btn-primary {
    text-indent: -7px;
}
