#scrolltable { 
    margin: 4em 0; 
    height: 300px; 
    overflow: scroll; 
}
.app-summary {
    background-color: bisque;
    td {
        padding: 1.1rem 0;
        font-size:  .9em;
        border: none;
        text-align: right;
    }
    th {
        padding: 0.75rem 0;
        border: none;
        font-size:  .9em;
        font-weight: 200;
        width: 63%;
    }
    tr {
        line-height: 0.1px;
        border: none;
    } 
    thead > tr, tbody{
        display:block;
        width: 100%;
    }
}

.btn-primary {
    text-indent: -7px;
}
.graph {
    height: 100px;
    background-color: aquamarine;
}
.chart-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.line {
    color: red;
    background-color: aqua;
}

