.modal-card {
    border: 0;
    border-radius: 10px;
    outline: 0;
    padding: 4rem;
}
.modal-header {
    padding-bottom: 0;
    border: none;
}
.close {
    font-weight: 200;
    &:focus {
        outline: none;
    }
}

// .btn-md {
//     border: 0px;
//     border-radius: 5px;
//     width: 120px;
//     font-size: 0.8em;
//     text-align: center;
//     color: #fff;
//     padding: 11px;
//     height: 47px;
//     &:focus {
//         outline: none;
//         box-shadow: none;
//     }
// }
.btn-primary {
    text-indent: -7px;
}
.buttons {
    padding: 1em 0;
}
