.app-summary {
    margin: 5em 0;
    background-color: bisque;
    overflow:scroll;
    height: 57px;

    td {
        padding: 1.1rem 0;
        font-size:  .9em;
        border: none;
        text-align: right;
    }
    th {
        padding: 0.75rem 0;
        border: none;
        font-size:  .9em;
        font-weight: 200;
    }
    tr {
        line-height: 0.1px;
        border: none;
    } 
}
.btn-primary {
    text-indent: -7px;
}
.graph {
    height: 100px;
    background-color: aquamarine;
}
.chart-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.line {
    color: red;
    background-color: aqua;
}

