<div class="modal-card">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">SIG Application</h3>
      <!-- <button 
        type="button" 
        class="close" 
        aria-label="Close"
        (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <!-- Body -->
    <div class="modal-body">
      <h4>Services</h4>
      <div class="graph">

      </div>
      <div class="table">

      </div>


    <!-- Option buttons -->
    <div class="buttons d-flex flex-row justify-content-center">
      <button class="btn btn-primary btn-lg" (click)="bsModalRef.hide()">
        <span class="align-bottom">Close</span>
      </button>
    </div>
    </div>
  </div>