@import '../scss/variables/colors';

.upload-descriptor {
    font-size: 1em;
    margin-top: 3em;
    font-weight: 500;
}
.drop-note-uploaded {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $light-grey;
    font-size: .8em;
    text-align: center;
    margin-bottom: 0;
    .drop-title-uploaded {
        font-size: 1.7em;
        color: $dark-grey;
        font-weight: 500;
    }
    .subtitle {
        color: $base-grey;
        font-size: 1.1em;
    }
    .subtitle-2 {
        font-size: 1em;
        margin-top: -3px;
        color: $status-teal
    }
}
.file-to-upload{
    border:2px dotted $base-grey;
    cursor: pointer;
}
.file-uploaded {
    background-color: $base-grey;
}
#fileElem {
    display: none;
}
