<div class="modal-card">
  <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h3 class="nalej-form-title">Register application</h3>
        <button 
          type="button" 
          class="close" 
          aria-label="Close"
          (click)="discardChanges(f)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Body -->
      <div class="modal-body">
        <p class="upload-descriptor">Upload app descriptor file</p>
        <file-drop 
          *ngIf="!readyToUpload"
          customstyle="file-drop"
          (onFileDrop)="onFileDrop($event)" >
          <span
            class="drop-title">
            Drop here
            <p class="drop-note">
              <input
                class="inputfile"
                type="file"
                id="file"
                name="file"
                (change)="fileSelectorChange($event)"
                accept="application/json"
                />
                <label class="cursor-pointer blue" for="file">Or click here to choose your .json file</label>
            </p>
          </span>
        </file-drop>

        <div class="drop-note-uploaded" *ngIf="readyToUpload"> 
          <span class="drop-title-uploaded">{{fileName}}</span> 
          <span 
            class="subtitle">
            from jsonFileName.json
          </span>
          <span class="green subtitle-2" >ready to be uploaded</span>
        </div>
        <!-- Option button -->
        <div class="d-flex flex-row justify-content-between mt-3">
          <button class="btn btn-primary btn-md mt-5" (click)="registerApp()">
            <span class="align-bottom">Register</span>
          </button>
          <button class="btn btn-red btn-md mt-5" (click)="discardChanges()">
              <span class="align-bottom">Discard</span>
          </button>
        </div>
      </div>
    </div>
  </div>