<div class="modal-card">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">Register application</h3>
      <button 
        (click)="discardChanges()"
        type="button" 
        aria-label="Close"
        class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <p class="upload-descriptor">Upload app descriptor file</p>
      <file-drop 
        *ngIf="!readyToUpload"
        (onFileDrop)="onFileDrop($event)" 
        dropZoneClassName="file-drop">
        <span class="drop-title">
          Drop here
          <p class="drop-note">
            <input
              (change)="fileSelectorChange($event)"
              name="file"
              type="file"
              accept="application/json"
              id="file"
              class="inputfile"/>
            <label for="file" class="cursor-pointer blue">Or click here to choose your .json file</label>
          </p>
        </span>
      </file-drop>
      <div *ngIf="readyToUpload" class="drop-note-uploaded"> 
        <span class="drop-title-uploaded">{{jsonFile.name}}</span> 
        <span class="subtitle">
          from {{fileName}}
        </span>
        <span class="green subtitle-2">ready to be uploaded</span>
      </div>
      <div class="form-group-btn">
        <button (click)="registerApp()" class="nalej-form-btn-blue">
          <span class="align-bottom">Register</span>
        </button>
      </div>
    </div>
  </div>
</div>