<div class="modal-card">
  <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h3 class="nalej-form-title">Register application</h3>
        <button 
          type="button" 
          class="close" 
          aria-label="Close"
          (click)="discardChanges(f)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Body -->
      <div class="modal-body">
        <p class="upload-descriptor">Upload app descriptor file</p>
        <div id="drop-area">
          <form class="drop-form">
            <p class="drop-title">Drop here</p>
            <p class="drop-note">
              Accepted files formats: .tgz, .tar.gz, .zip, .7z 
            </p>
            <p class="drop-note">
              for more information <a href="mailto:support@daisho.group" target="_blank" >click here to check apps workflow</a>
            </p> 
            <input 
              (change)="handelFiles()"
              type="file" 
              id="fileElem" 
              multiple 
              accept="image/*"
             >
          </form>
        </div>
        <!-- Option button -->
        <div class="d-flex flex-row justify-content-between mt-3">
          <button class="btn btn-primary btn-md mt-5" (click)="registerApp()">
            <span class="align-bottom">Register</span>
          </button>
          <button class="btn btn-red btn-md mt-5" (click)="discardChanges()">
              <span class="align-bottom">Discard</span>
          </button>
        </div>
      </div>
    </div>
  </div>