@mixin for-sm-desktop-up {
    @media all and (max-width: 1280px) { @content; }
}

.btn-md {
    border: 0px;
    border-radius: 5px;
    width: 120px;
    font-size: 0.8em;
    text-align: center;
    color: #ffffff;
    padding: 11px;
    height: 47px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.btn-primary {
    text-indent: -7px;
}
.buttons {
    padding-top: 1em;
}
.scroll-app-info {
    margin: 0;
}
.agent-content {
    .agent-modal-header{
        text-align: center;
        padding: 1rem;
        font-size: 1em;
        .nalej-form-title {
            font-size: 1.2em;
            padding: 0 1em;
        }
    }
    .modal-body {
        text-align: center;
    }
    .agent-token-box {
        span, p {
            text-align: center;
            font-size: .85em;
            display: block;
        }
        .agent-token {
            width: 100%;
            height: auto;
            word-wrap: break-word;
            margin-top: 1em;
        }
    } 
}
