
  <div class="modal-card modal-card-info">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h3 class="modal-info-title mb-4">Rule info</h3>
      </div>
      <!-- Body -->
      <div class="modal-body">
      <h3 class="modal-info-h3-title">{{name}}</h3>
      <p class="modal-info-title">{{ruleId}}</p>
      <div class="scroll-app-info">
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Access</div>
          <div class="col-sm text-right rule-access">{{access}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Target</div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4 modal-info-table-title">Group</div>
          <div class="col-sm text-right">{{targetServiceName}}</div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4  modal-info-table-title">Services</div>
          <div class="col-sm text-right">{{targetServiceGroupName}}</div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4  modal-info-table-title">Port</div>
          <div class="col-sm col-right-low">{{targetPort}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Auth</div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4 modal-info-table-title">Group</div>
          <div class="col-sm text-right">{{authServiceGroupName}}</div>
        </div>
        <div *ngFor="let auth of authServices; let i = index" class="row">
          <div class="col-sm-2"></div>
          <div *ngIf="i === 0" class="col-sm-4 modal-info-table-title">Services</div>
          <div *ngIf="i !== 0" class="col-sm"></div>
          <div class="col-sm text-right">{{auth}}</div>
        </div>
        <div *ngIf="deviceGroupIds" class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4 modal-info-table-title">Devices</div>
          <div class="col-sm col-right-low">{{deviceGroupIds}}</div>
        </div>
        <div *ngIf="deviceGroupNames" class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4 modal-info-table-title">Devices group</div>
          <div class="col-sm col-right-low">{{deviceGroupNames}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">App descriptor ID</div>
          <div class="col-sm text-right">{{appDescriptorId}}</div>
        </div>
          <br>
      </div>      
      <!-- Option button -->
      <div class="form-group-btn">
        <button (click)="bsModalRef.hide()" class="nalej-form-btn-blue">
          <span class="align-bottom">Close</span>
        </button>
      </div>
    </div>
  </div>

  