$base-violet: #5800FF;
$base-grey: #828282;

.rule-h3-title {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
}
.rule-access {
    font-size: 1.4em;
    color: $base-violet;
}
.rule-title {
    font-size: .9em;
    color:  $base-grey;
}
.btn-primary {
    text-indent: -7px;
}

