.rule-h3-title {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
}
.rule-access {
    font-size: 1.4em;
    color: #0937FF;
}
.rule-title {
    font-size: .9em;
    color:  #949494;
}
.btn-primary {
    text-indent: -7px;
}

