
@mixin for-sm-desktop-up {
  @media all and (max-width: 1280px) { @content; }
}
.avatar-frame {
  border: 2px solid white;
  background-color: #707070b8;
  margin: 0 auto;
  width: 112px;
  height: 112px;
  position: relative;
  border-radius: 50%;
  margin-bottom: 1em;
  > i {
    font-size: 100px;
    margin: 0 auto;
    margin-left: 4px;
    color:white;
  }
  @include for-sm-desktop-up  { 
    display: none;
  }
}