<div class="modal-card">
  <!-- Header -->
  <div class="modal-header">
    <h3 class="nalej-form-title">{{title}}</h3>
    <button 
      type="button" 
      class="close" 
      aria-label="Close"
      (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Body -->
  <div class="modal-body">
    <div class="avatar-frame">
      <i class="material-icons">person</i>
    </div>
    <form [formGroup]="userInfoForm">
      <div class="form-group">
        <label>Name</label>
        <input 
          formControlName="userName"
          placeholder="{{userName}}"
          type="text" 
          class="form-control">
        <div class="error-h"></div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input 
          formControlName="email" 
          placeholder="{{email}}"
          type="text" 
          class="form-control">
          <div class="error-h"></div>
      </div>
      <div class="form-group">
        <label>Role</label>
        <input 
          formControlName="role" 
          placeholder="{{role}}"
          type="text" 
          class="form-control">
          <div class="error-h"></div>
      </div>
      <!-- Change password -->
      <div class="change-password" (click)="openChangePassword()">
        <p>Change password</p>
      </div>
      <!-- Delete user -->
      <div class="form-group-btn mt-5">
        <button class="nalej-btn-form-red" (click)="deleteUser()">
          <i class="material-icons delete-icon">delete</i>
          <span class="align-bottom">{{buttonDeleteUser}}</span>
        </button>
      </div>
    </form>
  </div>
</div>