@mixin for-sm-desktop-up {
  @media all and (max-width: 1280px) { @content; }
}

$base-violet: #5800FF;
$dark-grey: #444444;

.avatar-frame {
  border: 2px solid #ffffff;
  background-color: $dark-grey;
  margin: 0 auto;
  width: 112px;
  height: 112px;
  position: relative;
  border-radius: 50%;
  margin-bottom: 1em;
  > i {
    font-size: 100px;
    margin: 0 auto;
    margin-left: 4px;
    color: #ffffff;
  }
  @include for-sm-desktop-up { 
    display: none;
  }
}
.change-password {
  color: $base-violet;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
  margin-top: 2em;
}