<div class="modal-card">
  <!-- Header -->
  <div class="modal-header">
    <h3 class="nalej-form-title">{{title}}</h3>
    <button 
      type="button" 
      class="close" 
      aria-label="Close"
      (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Body -->
  <div class="modal-body">
    <div class="avatar-frame">
      <button class="edit-button d-none">
        <i class="material-icons">edit</i>
      </button>
      <i class="material-icons">person</i>
    </div>
    <form #f="ngForm" class="form-user">
      <div class="form-group">
        <input 
          disabled
          [(ngModel)]="userName" 
          name="name" 
          type="text" 
          class="form-control" 
          placeholder="Name" 
          required>
        <input 
          disabled
          [(ngModel)]="organizationName" 
          name="organization" 
          type="text" 
          class="form-control" 
          placeholder="Organization"
          required>
        <input 
          disabled
          [(ngModel)]="userId" 
          name="email" 
          type="text" 
          class="form-control" 
          placeholder="Email" 
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$"
          required>
      </div>
    </form>
  <!-- Roles radio buttons -->
  <div class="roles py-4">
    <h4>Roles*</h4>
    <div class="cntr">
      <label for="rdo-1" class="btn-radio disabled">
        <input 
          [checked]="checkUserRole('Owner')" 
          disabled 
          type="radio" 
          id="rdo-1" 
          name="radio-grp">
        <svg width="20px" height="20px" viewBox="0 0 20 20">
          <circle 
            cx="10" 
            cy="10" 
            r="9">
          </circle>
          <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
            class="inner"></path>
          <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
            class="outer"></path>
        </svg>
        <span class="align-bottom">Owner</span>
      </label>
      <label for="rdo-2" class="btn-radio">
        <input 
          [checked]="checkUserRole('Operator')" 
          disabled 
          type="radio" 
          id="rdo-2" 
          name="radio-grp">
        <svg width="20px" height="20px" viewBox="0 0 20 20">
          <circle 
            cx="10" 
            cy="10" 
            r="9">
          </circle>
          <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
            class="inner"></path>
          <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
            class="outer"></path>
        </svg>
        <span class="align-bottom">Operator</span>
      </label>
      <label for="rdo-3" class="btn-radio">
        <input 
          [checked]="checkUserRole('Developer')" 
          disabled 
          type="radio" 
          id="rdo-3" 
          name="radio-grp">
        <svg width="20px" height="20px" viewBox="0 0 20 20">
          <circle 
            cx="10" 
            cy="10" 
            r="9">
          </circle>
          <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
            class="inner">
          </path>
          <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
            class="outer">
          </path>
        </svg>
        <span class="align-bottom">Developer</span>
      </label>
    </div>
  </div>
  <!-- Option buttons -->
  <div class="buttons d-flex flex-row justify-content-between">
    <button class="btn btn-primary btn-md" (click)="resetPassword()">
      <span class="align-bottom">{{buttonRessetPassword}}</span>
    </button>
    <button class="btn btn-red btn-md" (click)="deleteUser()">
      <span class="align-bottom">{{buttonDeleteUser}}</span>
    </button>
  </div>
  </div>
</div>