.modal-card {
  border: 0;
  border-radius: 10px;
  outline: 0;
  padding: 4rem;
}

.modal-header {
  padding-bottom: 0;
  border: none;
}

.close {
  font-weight: 200;
}

.close:focus {
  outline: none;
}

.nalej-form-title {
  font-size: 1em;
  display: inline;
}

.nalej-form-title button span {
  color: #888888;
}

.avatar-frame {
  border: 2px solid #707070;
  margin: 0 auto;
  width: 112px;
  height: 112px;
  position: relative;
  border-radius: 50%;
}

.avatar-frame > i {
  font-size: 100px;
  margin: 0 auto;
  margin-left: 4px;
  color: #707070;
}

.avatar-frame .edit-button {
  outline: none;
  right: 0;
  position: absolute;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #0937FF;
  background-image: linear-gradient(-85deg, #051C80, #0937FF);
}

.avatar-frame .edit-button i {
  font-size: 1.3em;
  margin: 6px 0;
  color: white;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white;
}

.form-user {
  position: relative;
}

.form-group {
  margin: 40px 0;
}

input {
  padding: 22px;
  border: 2px solid #EEEEEE;
  color: #949494;
  text-align: center;
  caret-color: #0937FF;
  margin: -3px 0;
  font-size: .9em;
}

input:checked {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #949494;
}

input:-ms-input-placeholder {
  color: #949494;
}

input::-ms-input-placeholder {
  color: #949494;
}

input::placeholder {
  color: #949494;
}

input:-webkit-autofill {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.roles h4 {
  font-size: .9em;
}

.disabled path {
  stroke: #c8ccd4 !important;
}

.cntr {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cntr .btn-radio {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cntr .btn-radio:not(:first-child) {
  margin-left: 20px;
}

.cntr .btn-radio svg {
  fill: none;
  vertical-align: middle;
}

.cntr .btn-radio svg circle {
  stroke-width: 2;
  stroke: #c8ccd4;
}

.cntr .btn-radio svg path {
  stroke: #0937FF;
}

.cntr .btn-radio svg path.inner {
  stroke-width: 6;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
}

.cntr .btn-radio svg path.outer {
  stroke-width: 2;
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
}

.cntr .btn-radio input {
  display: none;
}

.cntr .btn-radio input:checked + svg path {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cntr .btn-radio input:checked + svg path.inner {
  stroke-dashoffset: 38;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.cntr .btn-radio input:checked + svg path.outer {
  stroke-dashoffset: 0;
}

@media screen and (max-width: 480px) {
  .cntr .btn-radio {
    display: block;
    float: none;
  }
  .cntr .btn-radio:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.cntr span {
  display: inline-block;
  vertical-align: middle;
  font-size: .8em;
  color: #949494;
  margin-left: 5px;
}

.btn-md {
  border: 0px;
  border-radius: 5px;
  width: 120px;
  font-size: 0.8em;
  text-align: center;
  color: #fff;
  padding: 11px;
  height: 47px;
}

.btn-md:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  text-indent: -7px;
}

.buttons {
  padding: 1em 0;
}

@media screen and (max-width: 1300px) {
  .avatar-frame {
    width: 90px;
    height: 90px;
  }
  .avatar-frame > i {
    font-size: 80px;
    margin: 0 auto;
    margin-left: 4px;
  }
  .avatar-frame .edit-button {
    right: -15px;
    top: -13px;
  }
  .modal-card {
    padding: 3em;
  }
}
/*# sourceMappingURL=user-info.component.css.map */