.sidebar {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    height: 100vh;
    background: #545454;
    /* Old browsers */
    background: -moz-linear-gradient(top, #545454 0%, #000000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #545454 0%, #000000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #545454 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
}
.nav {
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: relative;
    .active {
        left: 0;
        z-index: 10;
        position: relative;
        &::before {
            content: "";
            height: 67px;
            width: 10px;
            display: block;
            position: absolute;
            top: 0;
            background-color: #0937FF;
        }
    }
}

.nav-title {
    margin: 40px 0;
    font-size: 20px;
    line-height: 1.2;
    color: #e4e7ea;
    letter-spacing: 36px;
    text-indent: 33.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    font-weight: 600;
}
.nav-item {
    position: relative;
    margin: 0;
    cursor: pointer;
    .nav-item-page {
        height: 71px;
    }
    .nav-link {
        display: block;
        color: #fff;
        text-decoration: none;
        background: 0 0;
        font-size: 18px;
        padding: 20px 0;
        .material-icons {
            display: inline-block;
            margin-left: 37px;
            margin-right: 10px;
            font-size: 24px;
            color: white;
            text-align: center;
            vertical-align: middle;
        }
        .arrow {
            float: right;
            margin-right: 25px;
            font-weight: 800;
        }
    }
    .profile {
        // width:70%;
        margin: 0 auto;
        padding-bottom: 50px;
        position: relative;
        .name, .type, .email{
            margin: 0 auto;
            text-align: center;
        }
        .name {
            padding-top: 32px;
            color: white;
            font-size: 24px;
        }
        .type{
            color: #0937FF;
            font-size: 18px;
        }
        .email {
            color: #B7B7B7;
            font-size: 18px;
        }
        .avatar-frame {
            border: 2px solid #707070;
            margin: 0 auto;
            width: 118px;
            height: 118px;
            -webkit-border-radius: 50%;
            /* Saf3+, Chrome */
            border-radius: 50%;
            /* Opera 10.5, IE 9 */
            i {
                font-size: 100px;
                margin: 0 auto;
                margin-left: 6px;
            }
        }
    }
} 

.logout-btn {
    width:112px;
    font-size: .8em;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.logout {
    position: fixed;
    bottom: 26px;
}
.lo-btn {
    position: relative;
}

@media screen and (max-width:1500px){
   .avatar-frame {
       display: none;
    }
    .sidebar .nav-item .nav-link {
        font-size: 15px;
    }
    .nav .active::before {
        height: 62px;
    }
    .sidebar {
        .nav-item {
            .profile {
                .name {
                    font-size: 21px;
                }
                .email {
                    font-size: 15px;
                }
                .type {
                    font-size: 16px;
                }
            }
            .nav-link .arrow {
            margin-right: 13px;
            }
        }
        .nav-title {
            font-size: 13px;
            letter-spacing: 26px;
        }
    }
}