<nav class="sidebar">
  <div class="nalej-nav">
    <div 
      (click)="openDebugPanel()"
      class="nav-company-name" 
      style="visibility:hidden">
      NALEJ
    </div>
    <div (click)="openEditUser()" class="nav-profile-info">
      <div class="avatar-frame">
        <img src="../assets/images/new-white.svg" alt="user-img" class="user-img">
      </div>
      <p class="name">{{name}}</p>
      <p class="type">{{role}}</p>
      <p class="email">{{email}}</p>
    </div>
    <div *ngIf="role === 'Owner'" class="nav-item">
      <a
        routerLinkActive="active" 
        routerLink="/organization" 
        class="nav-link">
        <i class="material-icons">group_work</i>
        Organization
      </a>
    </div>
    <div *ngIf="role === 'Owner'" class="nav-item">
      <a
        routerLinkActive="active" 
        routerLink="/infrastructure" 
        class="nav-link">
        <i class="material-icons">dns</i>
        Infrastructure
      </a>
    </div>
    <div *ngIf="role === 'Owner' || role === 'Operator'" class="nav-item">
      <a         
        routerLinkActive="active" 
        routerLink="/resources" 
        class="nav-link">
        <i class="material-icons">layers</i>
        Resources
      </a>
    </div>
    <div *ngIf="role === 'Owner' || role === 'Developer'" class="nav-item">
      <a         
        routerLinkActive="active" 
        routerLink="/devices" 
        class="nav-link">
        <i class="material-icons">devices_other</i>
        Devices
      </a>
    </div>
    <div *ngIf="role === 'Owner' || role === 'Developer'" class="nav-item">
      <a         
        routerLinkActive="active" 
        routerLink="/applications" 
        class="nav-link">
        <i class="material-icons">apps</i>
        Applications
      </a>
    </div>
  </div>
  <div (click)="logout()" class="logout-btn-box">
    <button class="logout-btn">
      Logout
    </button>
  </div>
</nav>