.contextual-menu {
    min-height: 50px;
    width: 150px;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 38px;
    background-color: #404040;
    padding: 1em;
    z-index: 1;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {   
            font-size: .8em;
            text-align: right;
        }
    }
}