@mixin for-desktop-up {
    @media all and (max-width: 1440px) { @content; }
}

.contextual-menu {
    min-width: 148px;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 35px;
    background-color: #404040;
    padding: 8px 16px;
    z-index: 2;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {   
            font-size:  12px;
            text-align: right;
            padding: 2.4px 0;
        }
    }
    @include for-desktop-up {           
        right: 27px;
    }
}
