<!-- Component title -->
<div class="row row-title mb-4">
  <div class="col-lg-12">
    <h2>Resources</h2>
  </div>
</div>
<!-- Cluster info card -->
<div class="row row-info">
  <div class="col-lg-3 h-100">
    <div class="card p-4 h-100">
      <div class="card-title-c">
        <h5 class="d-inline text-uppercase">{{clusterData.name}}</h5>
        <p class="d-inline cluster-number grey">STATUS</p>
      </div>
      <!-- Cluster pie chart -->
        <div class="box-card">
          <h3 
            class="text-center text-uppercase"
            [ngClass]="{
              'blue': clusterData.status_name === 'RUNNING',
              'red': clusterData.status_name === 'ERROR'
            }">
            {{clusterData.status_name}}
          </h3>
        </div>
    </div>
  </div>
  <!-- Summary cluster info card -->
  <div class="col-lg-9 h-100">
    <div class="card card-clus p-4 h-100">
      <div class="card-title-c">
        <h5 class="d-inline text-uppercase">SUMMARY</h5>
      </div>
      <div class="box-card">
        <div class="box circles-box ">
          <div class="box">
              <div class="donut-chart">
                <ngx-charts-pie-chart
                  [scheme]="colorScheme" 
                  [results]="clusterPieChart" 
                  [doughnut]= "doughnut"
                  [gradient]="gradient"
                  [explodeSlices]="false"
                  >
                </ngx-charts-pie-chart>
                <div class="donut-number">
                  {{clusterData.running_nodes}}/
                  {{clusterData.total_nodes}}
                </div>
              </div>
              <p class="blue nodes-run mb-0">{{clusterData.running_nodes}} running</p>
              <p class="grey nodes-run-node">NODES</p>
            </div> 
        </div>
        <div class="box flex-grow-1">
          <table class="table cluster-summary">
            <tr>
              <th class="grey">
                id
              </th>
              <td>{{clusterData.cluster_id}}</td>
            </tr>
            <tr>
              <th class="grey">
                types
              </th>
              <td class="text-capitalize">{{clusterData.cluster_type_name}}</td> 
            </tr>
            <tr>
              <th class="grey">
                Tags
              </th>
              <td *ngIf="clusterData.labels === '-'"> No </td>
              <td *ngIf="clusterData.labels !== '-'">
                <button *ngFor="let label of labelsToString(clusterData.labels)" class="btn-sm btn-outline-primary" disabled>
                  <span *ngIf="label[1]!== '-'">{{label[0]}}: {{label[1]}}</span>  
                </button>
              </td>
            </tr>
            <tr>
              <th class="grey">
                Multitenant
              </th>
              <td>{{clusterData.multitenant_support}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Nodes panel card-->
<div class="row row-main">
  <div class="col-lg-12 col-md-12 col-sm-12 h-100">
    <div class="card h-100 p-4">
      <div class="card-title-h">
        <h5>
          <a 
            [routerLink]="['/resources']" 
            routerLinkActive="active" 
            class="blue">
            CLUSTER
          </a>
          <span class="grey text-uppercase">
             > {{clusterData.name}} > 
          </span>
          NODES
        </h5>
      </div>
      <div class="table-h">
        <table *ngIf="loadedData && nodes && nodes.length > 0" class="table">
          <thead>
            <tr>
              <th scope="col" class="row-id">
                ID
              </th>
              <th scope="col" class="row-ip">
                IP
              </th>
              <th scope="col" class="row-credentials">
                State
              </th>
              <th scope="col" class="row-tags">
                Tags
              </th>
              <th scope="col" class="row-status">
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let node of nodes">
              <td>{{node.node_id}}</td>
              <td>{{node.ip}}</td>  
              <td class="text-lowercase">{{node.state_name}}</td>
              <td *ngIf="node.labels === '-'"> no </td>
              <td *ngIf="node.labels !== '-'">
                  <button *ngFor="let label of labelsToString(node.labels)" class="btn-sm btn-outline-primary" disabled>
                      {{label[0]}}: {{label[1]}}
                  </button>
              </td>
              <td 
              class="text-lowercase"
              [ngClass]=
              "{'status-dot':classStatusCheck(node.status_name, 'running'),
              'status-dot-error':classStatusCheck(node.status_name, 'error'),
              'status-dot-process':classStatusCheck(node.status_name, 'process')}">
              {{node.status_name}}
            </td>
            </tr>
          </tbody>
        </table>
        <div
          *ngIf="loadedData && nodes && nodes.length === 0"
          class="no-elements d-flex justify-content-center align-items-center">
          <p>There are not registered nodes in this cluster</p>
        </div>
        <!-- Loader -->
        <div class="nalej-loader-container" *ngIf="!loadedData">
          <div class="loader">
            <svg 
              class="circular" 
              viewBox="25 25 50 50">
              <circle 
                class="path" 
                cx="50" 
                cy="50" 
                r="20" 
                fill="none" 
                stroke-width="2" 
                stroke-miterlimit="10"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>