.row-title {
    height: 4%;
}
.row-info {
    height: 29%;
    margin-bottom: 2.2rem;
}
.row-main {
    height: 54%;
}
.card {
    -webkit-box-shadow: 0px 16px 50px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 16px 50px 2px rgba(0,0,0,0.16);
    box-shadow: 0px 16px 50px 2px rgba(0,0,0,0.16);
    border-radius: 10px;
    border: 0;
    overflow: hidden;
}
.card-title-h {
    height: 4%;
    margin-left: 9px;
    margin-bottom: 70px;
}
.cluster-number {
    float: right;
    color: #949494;
    font-size: 0.8em;
}

/* - - - Summary Cluster card - - - */
.circle {
    width: 112px;
    height: 112px;
    border: 1px solid #949494;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    margin-top: 2em;
    span {
      text-align: center;
      color: black;
      font-size: 1.7em;
    }
  }
.circle-name {
    font-size: 1.2em;
    color:#949494;
    margin-top: 1.2em;
}
.cluster-summary {
    float: right;
    width: 50%;
    padding: 2em 2em 0 2em;
    td {
        padding: 1.1rem;
        vertical-align: middle;
        font-size:  .9em;
        border: none;
        margin-left: 20%;
        text-align: right;
    }
    th {
        border: none;
        font-size:  .9em;
        font-weight: 200;
    }
    tr {
        line-height: 0.1px;
        border: none;
    } 
}

/* - - - Medias Summary Cluster card - - - */
@media screen and (max-width:1500px){
    .card {
        padding: 1.3rem!important;
    }
    .circle {
        margin: 0 .5em;
        max-width: 65px;
        max-height: 65px;
        span {
          font-size: 1em !important;
          top: 21px;
          left: 25px;
        }
      }
    .circle-name {
        font-size: 1em !important;
        margin-top: .4em !important;
    }
    .table td {
        padding: .6rem 1rem;
    }
    .cluster-summary {
        padding: 0;
    }
    .summary-space {
        margin-top: 0.7em;
    }
}
@media screen and (min-width:2560px){
    .circle {
        margin-top: 3em;
        min-width: 140px;
        min-height: 140px;
        span {
          top: 54px;
          left: 58px;
        }
    }
    .circle-name{
        margin-top: 3em !important;
    }
    .cluster-summary {
        padding: 4em 3em 0 3em;
    }
}


/* - - - Cluster table card - - - */
.table-h {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    .table {
        td {
            padding: 1.2rem;
            vertical-align: middle;
            font-size:  .9em;
            border-top: 0.8px solid #EEEEEE;
            color: #949494;
        }
        thead th {
            border: none;
            font-size:  .9em;
            padding: 0 1.2rem;
            font-weight: 200;
        }
        tbody tr:first-child td {
        border: none;
        }
        .row-ip {
            width: 20%;
        }
        .row-ip {
            width: 20%;
        }
        .row-credentials {
            width: 20%;
        }
        .row-tags {
            width: 20%;
        }
        .row-status {
            width: 18%;
            padding-left: 2%;
        }
    }
}
.status-dot:before {
    content:'\A';
    width:10px;
    height:10px;
    border-radius:50%;
    background: #0937FF;
    display:inline-block;
    margin:0 10px 0 0;
}
.status-dot-error:before {
    content:'\A';
    width:10px;
    height:10px;
    border-radius:50%;
    background: #F25272;
    display:inline-block;
    margin:0 10px 0 0;
}

/* - - - Medias Cluster table card - - - */
@media screen and (max-width:1500px){
    .card-title-h {
        margin-bottom: 57px;
        h5 {
          font-size: 1em;
        }
      }
    .card-title-c h5 {
        font-size: 1em;
    }
    .table-h .table td {
        padding: .6rem 1rem;
    }
    .status-dot:before {
        margin: 0 23px;
    }
    .status-dot-error:before {
        margin: 0 23px;
    }
}

/* - - - Cluster card pie chart - - - */
.pie-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%!important;
}
.nodes-run {
    font-size: .8em;
}
.box {
    width: 90%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.donut-chart {
    width: 100%;
    height: 70%;
    text-align: center;
    position: relative;
    padding-top: .9em;
}
.donut-number {
    position: absolute;
    top: 50%;
    left: 46%;
}

/* - - - Media Cluster card pie chart- - - */
@media screen and (max-width:1500px){
    .card-clus {   
        padding-bottom: .5em !important;
    }
    .cluster-number {
        margin-bottom: 0;
    }
    .box {
        height: 116px;
    }
    .donut-chart {
        height: 85%;
    }
    .donut-number {
        top: 55% !important;
        left: 36% !important;
    }
    .nodes-run-node {
        font-size: .8em;
    }
}
@media screen and (min-width:2560px){
    .box {
        width: 31%;
        min-height: 249px;
    }
    .donut-chart {
        height: 100%;
    }
    .donut-number {
        top: 47% !important;
        left: 40% !important;
    }
}