<!-- Component title -->
<div class="row row-title mb-4">
  <div class="col-lg-12">
    <h2>Resources</h2>
  </div>
</div>
<!-- Cluster info card -->
<div class="row row-info">
  <div class="col-lg-3 h-100">
    <div class="card p-4 h-100">
      <div class="card-title-c">
        <h5 class="d-inline">CLUSTER 1</h5>
        <p class="d-inline cluster-number grey">5 available</p>
      </div>
      <!-- Cluster pie chart -->
        <div class="box-card">
          <div class="box">
            <div class="donut-chart">
              <ngx-charts-pie-chart
                [scheme]="colorScheme" 
                [results]="mockClusterChart" 
                [doughnut]= "doughnut"
                [gradient]="gradient"
                [explodeSlices]="false"
                >
              </ngx-charts-pie-chart>
              <div class="donut-number">4/5</div>
            </div>
            <p class="blue nodes-run mb-0">4 nodes </p>
            <p class="grey nodes-run-node">NODES</p>
          </div>
        </div>
    </div>
  </div>
  <!-- Summary cluster info card -->
  <div class="col-lg-9 h-100">
    <div class="card card-clus p-4 h-100">
      <div class="card-title-c">
        <h5 class="d-inline">SUMMARY CLUSTER 1</h5>
      </div>
      <div class="box-card">
        <div class="box circles-box mt-4">
          <div class="box circle-space">
            <div class="box circle">
              <span class="align-self-center mt-1">{{clustersCount}}</span>
            </div>
            <p class="circle-name text-center">CPU LOAD</p>
          </div>
          <div class="box">
            <div class="box circle">
              <span class="align-self-center mt-1">3Tb</span>
            </div>
            <p class="circle-name text-center">STORAGE</p>
          </div>
        </div>
        <div class="box flex-grow-1">
          <table class="table cluster-summary">
            <tr>
              <th class="grey">
                id
              </th>
              <td>21321321321</td>
            </tr>
            <tr>
              <th class="grey">
                types
              </th>
              <td>Kubernetes</td> 
            </tr>
            <tr>
              <th class="grey">
                Tags
              </th>
              <td>Tags</td>
            </tr>
            <tr>
              <th class="grey">
                Multitenant
              </th>
              <td>All</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Nodes panel card-->
<div class="row row-main">
  <div class="col-lg-12 col-md-12 col-sm-12 h-100">
    <div class="card h-100 p-4">
      <div class="card-title-h">
        <h5>
          <a 
            [routerLink]="['/resources']" 
            routerLinkActive="active" 
            class="blue">
            CLUSTER
          </a>
          <span class="grey">
             > CLUSTER 1 > 
          </span>
          NODES
        </h5>
      </div>
      <div class="table-h">
        <table *ngIf="nodes && nodes.length > 0" class="table">
          <thead>
            <tr>
              <th scope="col" class="row-id">
                ID
              </th>
              <th scope="col" class="row-ip">
                IP
              </th>
              <th scope="col" class="row-credentials">
                Credentials
              </th>
              <th scope="col" class="row-tags">
                Tags
              </th>
              <th scope="col" class="row-status">
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let node of nodes">
              <td>{{node.id}}</td>
              <td>{{node.ip}}</td>  
              <td>{{node.credentials}}</td>
              <td>{{node.tags}}</td>
              <td 
              [ngClass]=
              "{'status-dot':node.status === 'Running',
              'status-dot-error':node.status === 'Error'}">
              {{node.status}}
            </td>
            </tr>
          </tbody>
        </table>
        <div
          *ngIf="nodes && nodes.length === 0"
          class="no-elements d-flex justify-content-center align-items-center">
          <p>There are not registered nodes in this cluster</p>
        </div>
      </div>
    </div>
  </div>
</div>