// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@import  'app/scss/variables/mixins';

html, body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Aldrich';
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: 'Aldrich', sans-serif;
}

/* - - - Basic styles for links - - - */
a {
    color: #0937FF;
    text-decoration: none;
    &:hover {
      color: #0937FF;
      text-decoration: none;
    }
}
.row-title {
    height: 4%;
    margin-bottom: 2%;
}
.row-info {
    height: 29%;
    margin-bottom: 2%;
    @include for-desktop-only  { 
        height: 31%;
        margin-bottom: 1.9rem;
    }
}
.row-main {
    height: 54%;
} 
.section-title {
    @include for-desktop-only  { 
        font-size: 1.5rem;
    }
}
