// -----------------------------------------------------------------------------
// Basic styles.
// -----------------------------------------------------------------------------

@import  'app/scss/variables/mixins';
@import  'app/scss/variables/colors';

html, body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
}
h1 { 
    font-weight: 500; 
}

/* - - - Basic styles for links - - - */
a {
    color: $base-violet;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: $base-violet;
      text-decoration: none;
    }
}
.section-title {
  font-weight: 700;
    margin-bottom: 0;
    @include for-desktop-only  { 
        font-size: 1.5rem;
    }
}
