// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@import  'app/scss/variables/mixins';

html, body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Lato';
    font-weight: normal;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
}

/* - - - Basic styles for links - - - */
a {
    color: #0937FF;
    text-decoration: none;
    &:hover {
      color: #0937FF;
      text-decoration: none;
    }
}
.section-title {
    margin-bottom: 0;
    @include for-desktop-only  { 
        font-size: 1.5rem;
    }
}
