// -----------------------------------------------------------------------------
// This file contains SCSS helper classes.
// -----------------------------------------------------------------------------

a {
  color: #0937FF;
  text-decoration: none;
  &:hover {
    color: #0937FF;
    text-decoration: none;
  }
}