<div class="modal-card">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">Add new devices group</h3>
      <button 
        (click)="discardChanges(f)"
        type="button" 
        aria-label="Close"
        class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <form [formGroup]="addGroupForm" (ngSubmit)="addGroup(f)">
        <div class="form-group">
          <label>Group name*</label>
          <input 
            formControlName="groupName"
            type="text" 
            placeholder="e.g. Device group"
            pattern="^[A-Za-z0-9_]+$"
            appAutofocus="true"
            [ngClass]="{ 'is-invalid': submitted && f.groupName.errors }"
            required
            class="form-control">
          <div *ngIf="!submitted && f.groupName.errors" class="error-message"></div>
          <div class="error-h">
            <div *ngIf="submitted && f.groupName.errors" class="error-message">
              <div *ngIf="f.groupName.errors.required">Group name is required</div>
              <div *ngIf="f.groupName.errors.minlength">Group name is too short</div>
              <div *ngIf="f.groupName.errors.pattern">Cannot contain spectial characters</div>
            </div>
          </div>
        </div>
        <!-- Option checkboxes -->
        <div class="py-4">
          <p class="nalej-form-title">Options</p>
          <div class="check-options">
            <p class="grey">Group device availability</p>
            <div class="add-dev-checkbox">
              <span 
                *ngIf="!enabled" 
                (click)="enabled = true"
                class="devices-checkbox">
                <i class="material-icons grey">check_box_outline_blank</i>
              </span>
              <span 
                *ngIf="enabled" 
                (click)="enabled = false"
                class="devices-checkbox">
                <i class="material-icons blue">check_box</i>
              </span>
            </div>
            <br>
            <p class="grey">Devices enabled by default</p>
            <div class="add-dev-checkbox">
              <span 
                *ngIf="!defaultConnectivity" 
                (click)="defaultConnectivity = true"
                class="devices-checkbox">
                <i class="material-icons grey">check_box_outline_blank</i>
              </span>
              <span 
                *ngIf="defaultConnectivity" 
                (click)="defaultConnectivity = false"
                class="devices-checkbox">
                <i class="material-icons blue">check_box</i>
              </span>
            </div>   
          </div>
        </div>
        <div class="form-group-btn">
          <button class="nalej-form-btn-blue" [disabled]="loading">
            <span class="align-bottom">Add devices group</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>