.form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 14px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 5px;
    &:focus {
      z-index: 2;
      border-color: #0937FF;
      outline: none;
      box-shadow: none;
      &::placeholder {
        color: white;
      }
    }
  }
.form-control:disabled, .form-control[readonly] {
   background-color: white; 
}
.form-user {
    position: relative;
}
.form-group {
    margin-top: 40px;
}
input {
    padding: 22px;
    border: 2px solid #EEEEEE;
    color: #949494;
    text-align: center;
    caret-color: #0937FF;
    margin: -3px 0;
    font-size: .9em;
    &:checked {
      outline: none;
    }
    &::placeholder {
      color: #949494;
    }
    &:-webkit-autofill {
      background-color: #fff !important;
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
  }

.disabled {
    path {
    stroke:  #c8ccd4 !important;
    }
}
.btn-md {
    border: 0px;
    border-radius: 5px;
    width: 120px;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    padding: 11px;
    height: 47px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.btn-primary {
    text-indent: -7px;
}
.buttons {
    padding: 1em 0;
}
@media screen and (max-width: 1300px) {
    .buttons {
        padding: 0;
    }
}

.check-options {
    p {
        font-size: .9em;
        display: inline-block;
    }
    .add-dev-checkbox {
        float: right;

    }
}
.devices-checkbox {
    cursor: pointer;
}