@import '../scss/variables/colors';

.service-status {
    font-size: 1.2em;
}
.modal-card {
    width: 500px;
}
.services-bg {
    background-color: $main-bg;
    border-radius: 15px;
    padding: 1em;
    margin: 0 -1em;
}

#app-info-detailed {
    .modal-body {
        padding: 0;
    }
    .app-info-detailed-p {
        padding: 1em;
        width: 100%;
        height: 100%;
    }
    .scroll-app-info {
        margin: 1.5em 0 0 0;
    }
}
.form-group-btn {
    margin-top: 0;
}
