<div class="modal-card">
  <!-- Header -->
  <div class="modal-header">
    <h3 class="nalej-form-title">{{title}}</h3>
    <button 
      (click)="closeModal()"
      type="button" 
      aria-label="Close"
      class="close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Body -->
  <div class="modal-body">
    <div class="modal-center-box">
      <button 
        (click)="openAddNewConnection()"
        class="apps-actions-btn">
        <i class="material-icons-round i-options">link</i>
        {{'apps.manageConnections.addNewConnection'|translate}}
      </button>
    </div>
    <h3 class="nalej-form-title ">{{'apps.manageConnections.connectionsList'|translate}}</h3>
    <div class="modal-center-box">
      <!-- Filters -->
      <form [formGroup]="manageConnectionsFilterForm"  class="w-100 hide-sm-md-h">
        <div class="form-group form-group-drop filter-drop-box">
          <label class="app-filter-label">{{'apps.manageConnections.appFilter'|translate}}</label>
          <ngx-select-dropdown 
            formControlName="filter" 
            [multiple]="false" 
            [ngClass]=
              "{ 
                'ngx-error': !manageConnections,
                'base-light-grey': !f.filter.value
              }"
            [config]="selectConfig" 
            (change)="useFilter(f)"
            [options]="filteredOptions">
          </ngx-select-dropdown>
          <div class="form-group-drop-arrow"> 
            <i class="material-icons">arrow_drop_down</i>
          </div>
        </div>
      </form>
      <!-- Search box -->
      <div class="search-box hide-sm-md-h">
        <input 
          name="searchTerm" 
          [(ngModel)]="searchTerm"
          type="text" 
          placeholder="{{'searcher.placeholder'|translate }}"
          class="form-control"> 
        <div *ngIf="searchTerm === ''" class="search-icon">
          <i class="material-icons">search</i>
        </div>     
        <div *ngIf="searchTerm !== ''" class="close-icon">
          <i (click)="resetFilters(filterField)" class="material-icons">close</i>
        </div>
      </div>
      <!-- Table -->
      <div class="label-nalej-table no-p-col no-m-row">
        <div class="label-thead row">
          <div class="col-5 label-th">
            <span tooltip="{{'apps.manageConnections.sourceInstance'|translate}}" placement="bottom">
              {{'apps.manageConnections.sourceInstance'|translate}}
            </span>
            <br>
            <span tooltip="{{'apps.manageConnections.sourceInterface'|translate}}" placement="bottom">
              {{'apps.manageConnections.sourceInterface'|translate}}
            </span>
          </div>
          <div  class="col-5 label-th">
            <span tooltip="{{'apps.manageConnections.targetInstance'|translate}}" placement="bottom">
              {{'apps.manageConnections.targetInstance'|translate}}
            </span>
            <br>
            <span tooltip="{{'apps.manageConnections.targetInterface'|translate}}" placement="bottom">
              {{'apps.manageConnections.targetInterface'|translate}}
            </span>
          </div>
          <div class="col-2 label-th text-center">
            <span tooltip="{{'apps.manageConnections.disconnect'|translate}}" placement="bottom">
              {{'apps.manageConnections.disconnect'|translate}}
            </span>
          </div>
        </div>
        <div class="scroll-app-info ">
          <div *ngFor=
            "let connection of copyConnections |
            filter : searchTerm; let i = index">
            <span *ngIf="connection.connected"  class="label-tbody row">
              <div class="col-5">
                <span class="blue">{{connection.outbound.instance}}</span>
                <br>
                <span class="grey">{{connection.outbound.interfaceName}}</span>
              </div>
              <div class="col-5">
                <span class="blue">{{connection.inbound.instance}}</span>
                <br>
                <span class="grey">{{connection.inbound.interfaceName}}</span>
              </div>
              <div class="col-2 text-center label-td-flex">
                <button 
                  (click)="disconnectInstance(connection)"
                  tooltip="{{'apps.manageConnections.disconnect'|translate}}" 
                  placement="left" 
                  class="action-btn-red">
                  <i class="material-icons i-red">link_off</i>
                </button>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
