/* - - - Summary app card - - - */
.summary-card {
    margin-top: -1em;
}
.deployed-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    max-width: 156px;
    align-items: center;
}
.donut-chart {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    margin-top: -1em;
}
.apps-run {
    font-size: .8em;
    margin-top: -1em;
    color: #0937FF;
    text-align: center;
    margin-bottom: 0;
}
/* - - - Medias Summary app card - - - */
@media screen and (max-width:1720px), screen and (max-height: 780px) {
    .donut-chart {
        height: 85%;
        max-width: 120px;
    }
    .apps-run {
        margin-top: -2em;
    }
}
@media screen and (max-width:1440px), screen and (max-height: 900px){
    .circle {
        margin-top: 2em;
    }
    .donut-chart {
        height: 85%;
        max-width: 100px;
    }
    .apps-run {
        margin-top: -3em;
    }
}
@media screen and (min-width:2560px) {
    .apps-run {
        font-size: 1em;
        margin-top: 0em;
    }
    .deployed-box {
        max-width: 176px;
    }
}
/* - - - App Status card - - - */
.line-chart-box {
    width:93%;
}

/* - - - Apps table card - - - */
.app-info {
    color: #0937FF;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
}
.actions-col-fix {
    padding: 0.75rem 0;
}

/* - - - Apps buttons - - - */
.apps-options {
    position: relative;
    width: 100%;
    .apps-actions-btn {
        background-color: #0937FF;
        border-radius: 5px;
        padding: .5em 1.8em;
        cursor: pointer;
        color: white;
        border: none;
        text-indent: 2em;
        position: absolute;
        bottom: 0px;
        right: 74px;
        font-size: .8em;
        outline: none;
        &:hover {
            color: #fff;
            transition: 0.3s;
            background-color: #4f71fd;
          }
        .i-options {
            font-size: 1.8em;
            font-weight: 700;
            position: absolute;
            top: 6px;
            left: -13px;
        }
    }
}
/* - - - Medias Apps tabs - - - */
@media screen and (max-width:1440px) {
    .apps-options .apps-actions-btn {
        bottom: -9px;
        right: 45px;
    }
}
