@mixin for-desktop-only {
    @media all and (max-width: 1440px), all and  (max-height: 900px) { @content; }
}
@mixin for-desktop-up {
    @media all and (max-width: 1440px) { @content; }
}
@mixin for-big-desktop-up {
    @media all and (min-width: 2560px) { @content; }
}

$base-violet: #5800FF;
$super-dark-grey: #151515;

/* - - - Summary app card - - - */
.donut-chart {
    text-align: center;
    position: relative;
    max-width: 100%;
    @include for-desktop-only {
        max-width: 110px;
        max-height: 110px;
    }
    @include for-big-desktop-up {
        min-width: 200px;
        min-height: 200px;  
    }  
}
.donut-number {
    color: $super-dark-grey;
    font-size: 1em;
    @include for-desktop-only {
        font-size: .8em;
    }
}
.apps-run {
    font-size: .8em;
    margin-top: -1em;
    color: $base-violet;
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
    @include for-big-desktop-up {
        font-size: 1em;
        margin-top: 0em;
    }
}

/* - - - Apps table card - - - */
.app-info {
    color: $base-violet;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    text-transform: capitalize;
}
.actions-col-fix {
    padding: 0.75rem 0;
}

.instance-disabled {
    color: #939393;
    cursor: default;
    outline: none;
    text-transform: capitalize;
}

/* - - - Apps buttons - - - */
.apps-options {
    position: relative;
    width: 100%;
    .apps-actions-btn {
        background-color: $base-violet;
        border-radius: 5px;
        font-weight: 500;
        padding: .5em 1.8em;
        cursor: pointer;
        color: #ffffff;
        border: none;
        text-indent: 2em;
        position: absolute;
        bottom: 0px;
        right: 74px;
        font-size: .8em;
        outline: none;
        &:hover {
            color: #ffffff;
            transition: 0.3s;
            background-color: $base-violet;
            opacity: 0.6;
        }
        @include for-desktop-up {
            bottom: -9px;
            right: 45px;
        }
        .i-options {
            font-size: 1.5em;
            font-weight: 700;
            position: absolute;
            top: 6px;
            left: -13px;
        }
    }
}
@media screen and (max-width:1399px){
    .app-actions-full-text {
        display: none;
    }
    .app-actions-initial-text {
        &::before {
            content: 'A';
        }
    }
}