<!-- Component title -->
<div class="row row-title mb-4">
    <div class="col-lg-12">
      <h2>Application</h2>
    </div>
  </div>
  <div class="row row-info">
    <!-- Summary app info card -->
    <div class="col-lg-4 h-100">
      <div class="card p-4 h-100">
        <div class="card-title-c">
          <h5>SUMMARY</h5>
        </div>
        <div class="summary-card">
          <div>
            <div class="deployed-box">
              <div class="donut-chart">
                <ngx-charts-pie-chart
                  [scheme]="colorScheme" 
                  [results]="mockAppPieChart" 
                  [doughnut]= "doughnut"
                  [gradient]="gradient"
                  [explodeSlices]="false"
                  >
                </ngx-charts-pie-chart>
                <div class="donut-number">4/5</div>
              </div>
              <p class="blue text-center apps-run mb-0">Apps running</p>
              <p class="circle-name grey text-center">DEPLOYED</p>
            </div>
          </div>
          <div class="fix-top">
            <div class="circle summary-box">
              <span class="align-self-center mt-1">20</span>
            </div>
            <p class="circle-name text-center mt-3">REGISTERED</p>
          </div>
        </div>
      </div>
    </div>
    <!-- App status timeline info card -->
    <div class="col-lg-8 h-100">
      <div class="card p-4 h-100">
        <div class="card-title-c">
          <h5>APP STATUS TIMELINE</h5>
        </div>
        <div class=" h-100 box-line-chart">
          <div class="line-chart h-100">
            <div class="bottom-line"></div>
            <ngx-charts-line-chart
              [scheme]="colorScheme"
              [results]="mockAppChart"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [gradient]="gradient" 
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [autoScale]="autoScale"
              [showGridLines]="showGridLines"
              [showRefLines]="showRefLines"
              [schemeType]="schemeType"
              [customColors]="customColors"
              [rangeFillOpacity]="rangeFillOpacity"
              [referenceLines]="referenceLines"
              [showRefLabels]="showRefLabels"
              >
            </ngx-charts-line-chart>
          </div>
          <div class="y-axis-line-chart">
            <span class="grey">100%</span>
            <span class="grey mb-4">0%</span>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <!-- Deployed app list panel card-->
  <div class="row row-main">
    <div class="col-lg-12 col-md-12 col-sm-12 h-100">
      <div class="card h-100 p-4">
        <div class="card-title-h">
          <h5>DEPLOYED APP LIST</h5>
        </div>
        <div class="table-h">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="row-name">
                  Name
                </th>
                <th scope="col" class="row-id">
                  ID
                </th>
                <th scope="col" class="row-description">
                  Description
                </th>
                <th scope="col" class="row-tags">
                  Tags
                </th>
                <th scope="col" class="row-configuration">
                  Configuration
                </th>
                <th scope="col" class="row-status">
                  Service Groups
                </th>
                <th scope="col" class="row-info">
                  Info
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let app of apps">
                <td>{{app.name}}</td>
                <td>{{app.id}}</td>
                <td>{{app.description}}</td>  
                <td>{{app.tags}}</td>
                <td>{{app.configuration}}</td>
                <td 
                  class="status-dot">
                {{app.service}}
                </td>
                  <td class="row-info-btn">
                    <button class="btn info-btn btn-primary">
                      <span class="i-info">i</span>
                    </button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>