@mixin for-big-desktop-up {
    @media all and (min-width: 2560px) { @content; }
}
@mixin for-quarter-up {
    @media all and (max-width: 1720px) { @content; }
}
@mixin for-desktop-only {
    @media all and (max-width: 1440px), all and  (max-height: 900px) { @content; }
}
@mixin for-desktop-up {
    @media all and (max-width: 1440px) { @content; }
}
@mixin for-desktop-h {
    @media all and (max-height: 900px) { @content; }
}

$base-violet: #5800FF;
$base-grey: #828282;
$dark-grey: #444444;
$super-dark-grey: #151515;
$super-light-grey: #F8F8F8;
$base-light-grey: #BFBFBF;


/* - - - Summary app card - - - */
.donut-chart {
    text-align: center;
    position: relative;
    max-width: 100%;
    @include for-desktop-only {
        max-width: 110px;
        max-height: 110px;
    }
    @include for-big-desktop-up {
        min-width: 200px;
        min-height: 200px;  
    }  
}
.donut-number {
    color: $super-dark-grey;
    font-size: 1em;
    @include for-desktop-only {
        font-size: .8em;
    }
}
.apps-run {
    font-size: .8em;
    margin-top: -1em;
    color: $base-violet;
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
    @include for-big-desktop-up {
        font-size: 1em;
        margin-top: 0em;
    }
}
.row-info-app {
    max-height: 286px;
    @include for-desktop-h {
        max-height: 197px;
    }
}

/* - - - Apps table card - - - */
.app-info {
    color: $base-violet;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    text-transform: capitalize;
}
.actions-col-fix {
    padding: 0.75rem 0;
}

.instance-disabled {
    color: #939393;
    cursor: default;
    outline: none;
    text-transform: capitalize;
}

/* - - - List card - - - */
.label-nalej-table {
    .label-thead {
        margin-bottom: 10px;
    }
}

/* - - - Tabs - - - */
.app-tabs-box {
    background-color: $super-light-grey;
    border-radius: 10px;
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 5px;
    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
    }
    .app-tabs-btn {
        font-size: .65em;
        font-weight: 700;
        color: $base-light-grey;
    }
    .app-tabs-btn-selected {
        font-size: .65em;
        font-weight: 700;
        color: $base-violet;
    }
}
/* - - - Search box - - - */
.search-box {
    width: 100%;
    margin-right: 0em;
}
.search-button {
    margin: .2em 0;
    @include for-desktop-up {
        margin: .4em 0px;
    }
    i {
        position: absolute;
        top: 4px;
        left: 5px;
        width: 24px;
        @include for-desktop-up {
            font-size: 1.3em;
            top: 3px;
            left: 2px;
        }
    }
}
.tooltip-fix {
    height: 20px;
    width: 45px;
    position: absolute;
    top: 33%;
    left: 24%;
    cursor: pointer;
}
@media screen and (max-width:1723px){
    .app-actions-full-text {
        display: none;
    }
    .app-actions-initial-text {
        &::before {
            content: 'A';
        }
    }
}

.nalej-table-box.no-p-col.no-m-row.ng-star-inserted 
> div 
> div:nth-child(2) 
> div:nth-child(1) {
    border: none;
}

/* - - - Apps buttons - - - */
.apps-options {
    float: right;
    margin-bottom: 43px;
    @include for-desktop-only {
        margin-bottom: 21px;
    }
       .apps-actions-btn {
           width: 182px;
           background-color: $base-violet;
           border-radius: 5px;
           font-weight: 500;
           padding: .6em 1.2em;
           cursor: pointer;
           color: #ffffff;
           border: none;
           text-indent: 2em;
           position: relative;
           font-size: .9em;
           outline: none;
           &:hover {
               color: #ffffff;
               transition: 0.3s;
               background-color: $base-violet;
               opacity: 0.6;
           }
           .i-options {
               font-size: 1.5em;
               font-weight: 700;
               position: absolute;
               top: 8px;
               left: -13px;
           }
       }
   }

/* - - - App graph card - - - */
.graph {
    height: 97%;
}
.advanced-filter-box {
    width: 100%;
    height: 100%;
    position: relative;
    .advanced-filter-icon i {
        position: absolute;
        top: 11px;
        right: 61px;
        font-size: 1.3em;
        color: $base-violet;
        cursor: pointer;
        z-index: 2;
    }
}
.graph-search-box { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .form-control {
        font-size: 1rem;
        padding: .375rem 2.2rem .5rem 1rem;
        margin-right: 1em;
    }
    > input {
        text-align: left;
        &::placeholder {
            font-size: .9em;
            color: $base-light-grey;
        }
    }
    .search-button {
        margin: .2em 0;
        @include for-desktop-up {
            margin: .4em 0px;
        }
        .i-search {
            position: absolute;
            top: 4px;
            left: 5px;
            @include for-desktop-up {
                font-size: 1.3em;
                top: 3px;
                left: 2px;
            }
        }
    }
}

.graph-legend {
    color: $base-grey;
    font-size: .85em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .graph-legend-title {
        color: $super-dark-grey;
        font-weight: 500;
        font-size: .7em;
        margin-right: 68px;
        padding-top: 3px;
    }
    span {
        margin-right: 3em;
    }
}
/* - - - Quick filters  - - - */
.quick-filters-box {
    background-color: $super-light-grey;
    border-radius: 10px;
    width: 338px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
    margin-block-end: 0px;
    ul {
        margin-bottom: 0;     
        
    }
    li {
        &:first-child{
            cursor: default;
        }
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
    }
    .i-filter {
        color: $base-light-grey;
        font-size: 1em;
        padding: 0 1em;
        margin-top: 5px;
    }
    .quick-filters-btn {
        font-size: .65em;
        font-weight: 700;
        color: $base-light-grey;
    }
    .quick-filters-btn-selected {
        font-size: .65em;
        font-weight: 700;
        color: $base-violet;
    }
}

