<div class="modal-card">
  <div class="modal-content dev-group-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">Last operation info</h3>
      <button 
        (click)="closeModal()"
        type="button" 
        aria-label="Close"
        class="close" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <div class="simple-log">
        <p *ngIf="!lastOpSummary || !lastOpSummary.timestamp">Date: No info</p>
        <p *ngIf="lastOpSummary.timestamp">Date: {{parseTimestampToDate()}}</p>
        <p *ngIf="!lastOpSummary || !lastOpSummary.status">Status: unknown</p>
        <p *ngIf="lastOpSummary.status">Status: {{lastOpSummary.status}}</p>
        <p *ngIf="!lastOpSummary || !lastOpSummary.info">No info</p>
        <p *ngIf="lastOpSummary.info">Info: {{lastOpSummary.info}}</p>
      </div>
    </div>
  </div>
</div>