
<div class="modal-card modal-card-info">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="modal-info-title mb-4">EDGE CONTROLLER INFO</h3>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <h3 class="modal-info-h3-title">{{name}}</h3>
      <p class="modal-info-image">Attached on {{parseTimestampToDate(created)}}</p>
      <p class="modal-info-title-sm">{{id}}</p>
      <div class="scroll-app-info">
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Status</div>
          <h3 class="modal-info-h3-title col-sm text-right">
            <span 
              [ngClass]=
              "{
                'big-status-dot': status === 'ONLINE',
                'big-status-dot-error': status === 'OFFLINE'
              }"
              tooltip="{{status}}" 
              placement="bottom"
              class="big-status-dot">
            </span>
            <span class="fw-black">
              {{status}}
            </span>
          </h3>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">Labels</div>
        </div>
        <div *ngFor="let label of objectToString(labels)" class="row">
          <div *ngIf="labels" class="col-sm text-right">
            <button class="btn-sm btn-outline-primary" disabled>
              {{label[0]}} : {{label[1]}}
            </button>
          </div>
          <div *ngIf="!labels" class="col-sm text-right">No</div>
        </div>
        <br>
        <span *ngIf="assets">
          <div class="row">
            <div class="col-sm modal-info-table-title mb-3">Assets</div>
          </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6 modal-info-table-title"> ID</div>
              <div class="col-sm-3 text-right modal-info-table-title">Status</div>
            </div>
            <br>
          </span>
          <div *ngFor="let asset of assets">
            <span *ngIf="assets">
              <div class="row mb-4">
                <div class="col-sm-3"></div>
                <div (click)="openAssetInfo(asset)"  class="col-sm-6 fw-link">{{asset.asset_id}}</div>
                <div class="col-sm-3 text-right">
                  <span 
                    [ngClass]=
                    "{
                      'status-dot': asset.status === 'ONLINE',
                      'status-dot-error': asset.status === 'OFFLINE'
                    }"
                    tooltip="{{asset.status}}" 
                    placement="bottom"
                    class="status-dot">
                  </span>
                  <span class="fw-bold">
                    {{asset.status}}
                  </span>
                </div>
              </div>
            </span>
            <span *ngIf="!assets">
            <div class="row">
              <div class="col-sm text-right">No</div>
            </div>
          </span>
        </div>
        <br>
      </div>      
      <!-- Option button -->
      <div class="form-group-btn">
        <button (click)="bsModalRef.hide()" class="nalej-form-btn-blue">
          <span class="align-bottom">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>

      