@mixin for-md-desktop-up {
    @media all and (max-width: 1366px) { @content; }
}
@mixin for-desktop-up {
    @media all and (max-width: 1440px) { @content; }
}
@mixin for-desktop-only {
    @media all and (max-width: 1440px), all and  (max-height: 900px) { @content; }
}
@mixin for-desktop-h {
    @media all and (max-height: 900px) { @content; }
}

/* - - - Company card - - - */
.company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
   @include for-desktop-h {
        flex-direction: row;
        text-align: left;
    }
}
.company-img {
    display: block;
    img {
        height: 112px;
        width: 112px;
        @include for-desktop-h {
            height: 100px;
            width: 100px;
        }
    }
}
.company-info-text {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    @include for-desktop-h {
        margin-left: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.company-name {
    font-size: 1em;
    text-transform: capitalize;
}
.company-subscription {
    font-size: .8em;
    color: #0937FF;
    margin-bottom: 0;
}
.company-users {
    color: #949494;
    font-size: .8em;
    margin-bottom: 0;
}

/* - - - Users table card - - - */
.actions-col {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.table-users {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.search-box {
    width: 250px;
    @include for-desktop-up {
        margin-right: 0em;
    }
    .search-icon i {
        @include for-desktop-up {
            right: 7px;
        }
    }
    .close-icon i {
        @include for-desktop-up {
            right: 7px;
        }
    }
}
.add-user-btn{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nalej-table-box {
    @include for-md-desktop-up {
        padding-top: 0; 
    }
}
/* - - - Subscription card - - - */
.subscription-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    .subscription-icon {
        height: 87px;
        width: 87px;
        border-radius: 50%;
        font-size: 1em;
        margin: 0 auto;
        background-color: #0937FF;
        color: white;
        @include for-desktop-up {
            height: 70px;
            width: 70px;
        }
        i {
            font-size: 2.2em;
            margin: 25px;
            @include for-desktop-up {
                margin: 18px;
            }
        }
    }
    .subscription-check {
        font-size: .9em;
        color: #949494;  
    }
    .subscription-plan {
        color: #0937FF;
        @include for-desktop-up {
            font-size: 1.5rem;
        }
    }
}

