<div>
  <div class="container-fluid">
    <div class="row">
      <h2 class="page">Organization</h2>
    </div>
  </div>
  <div class="container-fluid org-panel">
    <div class="row">
      <!-- Organization info -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="row justify-content-center">
            <div class="col align-self-center">
              <div class="img-frame">
                  <i class="material-icons">group_work</i>
              </div>
              <h3 class="companyname">Nike corp.</h3>
              <span class="subscription">Premium subscription active</span>
              <span class="users">15 users</span>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Members panel -->
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card panel-card">
          <div class="card-content">
            <h5 class="card-title">Members</h5>
          </div>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th class="row-1 row-name">Name</th>
                  <th class="row-2 row-role">Role</th>
                  <th class="row-3 row-email">Email</th>
                  <th class="row-4 row-info"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jonh Doe</td>
                  <td class="role">Owner</td>
                  <td>john.doe@mail.com</td>
                  <td><button class="btn info-btn btn-primary">i</button></td>
                </tr>
                <tr>
                  <td>Jonh Doe</td>
                  <td class="role">Owner</td>
                  <td>john.doe@mail.com</td>
                  <td><button class="btn info-btn btn-primary">i</button></td>
                </tr>
                <tr>
                  <td>Jonh Doe</td>
                  <td class="role">Owner</td>
                  <td>john.doe@mail.com</td>
                  <td><button class="btn info-btn btn-primary">i</button></td>
                </tr>
                <tr>
                  <td>Jonh Doe</td>
                  <td class="role">Owner</td>
                  <td>john.doe@mail.com</td>
                  <td><button class="btn info-btn btn-primary">i</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="btn btn-lg btn-primary add-user">Add user</button>
        </div>
      </div>
      <!-- Subscription panel -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card panel-card">
          <div class="card-content">
            <h5 class="card-title">Subscription</h5>
          </div>
          <div class="btn-primary subs-v">
            <i class="material-icons">check</i></div>
          <h2 class="subs-plan">Free</h2>
          <p class="checksub">Check all our subscription modes and payments</p>
          <button class="btn btn-lg btn-primary subs-btn">Change subscription</button>
        </div>
      </div>
    </div>
  </div>
</div>