<div class="container-fluid org-panel">
  <h2 class="comp-header">Organization</h2>
  <!-- Organization info -->
  <div class="row row-st">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card justify-content-center card-resume">
        <div class="img-frame">
          <img src="../assets/images/group.png" alt="company-pic">
          <!-- <i class="material-icons">group_work</i> -->
        </div>
        <h3 class="companyname">Nike corp.</h3>
        <span class="subscription">Premium subscription active</span>
        <span class="users">15 users</span>
      </div>
    </div>
  </div>

  <!-- Members panel -->
  <div class="row row-nd">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="card panel-card">
        <h5 class="card-title">Members</h5>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col" class="row-name">Name</th>
              <th scope="col" class="row-role">Role</th>
              <th scope="col" class="row-email">Email</th>
              <th scope="col" class="row-info"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jonh Doe</td>
              <td class="role">Owner</td>
              <td>john.doe@mail.com</td>
              <td><button class="btn info-btn btn-primary">i</button></td>
            </tr>
            <tr>
              <td>Jonh Doe</td>
              <td class="role">Owner</td>
              <td>john.doe@mail.com</td>
              <td><button class="btn info-btn btn-primary">i</button></td>
            </tr>
            <tr>
              <td>Jonh Doe</td>
              <td class="role">Owner</td>
              <td>john.doe@mail.com</td>
              <td><button class="btn info-btn btn-primary">i</button></td>
            </tr>
            <tr>
              <td>Jonh Doe</td>
              <td class="role">Owner</td>
              <td>john.doe@mail.com</td>
              <td><button class="btn info-btn btn-primary">i</button></td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-lg btn-primary add-user">Add user</button>
      </div>
    </div>

    <!-- Subscription panel -->
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card panel-card card-subs">
        <h5 class="card-title">Subscription</h5>
        <div class="btn-primary subs-v">
          <i class="material-icons">check</i></div>
        <h2 class="subs-plan">Free</h2>
        <p class="checksub">Check all our subscription modes and payments</p>
        <button class="btn btn-lg btn-primary subs-btn">Change subscription</button>
      </div>
    </div>
  </div>
</div>