<div class="modal-card">
<div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">Edit {{clusterName}}</h3>
      <button 
        type="button" 
        class="close" 
        aria-label="Close"
        (click)="discardChanges(f)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <form [formGroup]="editClusterForm" (ngSubmit)="saveClusterChanges(f)">
        <div class="form-group">
          <label>Name</label>
          <input 
            formControlName="clusterName"
            placeholder="{{clusterName}}"
            type="text" 
            class="form-control" >
        </div>
        <!-- Save new user -->
        <div class="form-group d-flex flex-row justify-content-center mt-5">
          <button class="btn-nalej-form" [disabled]="loading">
            <span class="align-bottom">Save changes</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>