<div class="modal-card">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">Edit {{clusterName}}</h3>
      <button 
        (click)="discardChanges(f)"
        type="button" 
        aria-label="Close"
        class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <form [formGroup]="editClusterForm" (ngSubmit)="saveClusterChanges(f)">
        <div class="form-group">
          <label>Name</label>
          <input 
            formControlName="clusterName"
            type="text" 
            placeholder="{{clusterName}}"
            value="{{clusterName}}"
            appAutofocus="true"
            pattern="[a-zA-Z0-9]+"
            [ngClass]="{ 'is-invalid': submitted && f.clusterName.errors }"
            class="form-control">
            <div *ngIf="!submitted && f.clusterName.errors" class="error-message"></div>
            <div class="error-h">
              <div *ngIf="submitted && f.clusterName.errors" class="error-message">
                <div *ngIf="f.clusterName.errors.minlength">Cluster name is too short</div>
                <div *ngIf="f.clusterName.errors.pattern">Cannot contain special ial characters</div>
              </div>
            </div>
        </div>
        <div class="form-group-btn">
          <button class="nalej-form-btn-blue" [disabled]="loading">
            <span class="align-bottom">Save changes</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>