// 1. Bootstrap
@import '~bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/scss/mixins';

// 2. Base 
@import
  'app/scss/base/base',
  'app/scss/base/helpers';

// 3. Fonts
@font-face {
  font-family: 'Aldrich';
  src: url('./assets/fonts/Aldrich-Regular.ttf');
}
// 4. Varibles
@import 
  'app/scss/variables/colors',
  'app/scss/variables/mixins';

// 5. Components
@import 
  'app/scss/components/card',
  'app/scss/components/buttons',
  'app/scss/components/forms',
  'app/scss/components/loader',
  'app/scss/components/tables',
  'app/scss/components/tabs';

// 6. External
@import 
  'app/scss/external/modals',
  'app/scss/external/ngx-dropdown',
  'app/scss/external/carousel',
  'app/scss/external/ngx-charts',
  'app/scss/external/ngx-drop-file';


/* - - - All styles - - - */


/* - - - Scroll app info styles- - - */
.scroll-app-info {
  margin: 3.5em 0;
  max-height: 475px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size:  .9em;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    margin-left: 2px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
@media screen and (max-height: 779px) {
  .scroll-app-info {
      height: 224px;
      margin: 1.5em 0;
  }
}


