/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "../assets/css/reboot";
@import '../node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Aldrich';
  src: '../assets/fonts/Aldrich-Regular.ttf';
}
@font-face {
  font-family: 'Open Sans';
  src: '../assets/fonts/OpenSans-Regular.ttf';
}

html, body{
    margin: 0px;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Aldrich', sans-serif;
}