<!-- Header -->
<div class="modal-header">
  <h4 class="modal-title pull-left">
    Debug panel
  </h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()">
    <span aria-hidden="true">
      &times;
    </span>
  </button>
</div>
<!-- Body -->
<div class="modal-body">
  <h5 class="mb-3">Backend control</h5>
  <div *ngIf="components.length">
    <div
      class="row"
      *ngFor="let item of components; let index = index">
      <!-- Option name -->
      <span class="col-3">
        {{item.name}}
      </span>
      <!-- Option buttons -->
      <div
        class="btn-group offset-5"
        btnRadioGroup
        [(ngModel)]="components[index].mock"
        (click)="optionChange(components[index])">
        <label
          class="btn btn-outline-primary"
          btnRadio="false"
          tabindex="0"
          role="button">
          Real
        </label>
        <label
          class="btn btn-outline-primary"
          btnRadio="true"
          tabindex="0"
          role="button">
          Mock
        </label>
      </div>
    </div>
  </div>
  <hr/>
  <h5 class="mb-3">Notifications</h5>
  <div 
    class="btn btn-outline-primary offset-6"
    (click)="spamNotification()"
    >Spam test notification</div>
</div>
<!-- Footer -->
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-default"
    (click)="bsModalRef.hide()">
    Close
  </button>
</div>