<div class="debug-panel">
  <!-- Header -->
  <div class="modal-header">
    <h4 class="modal-title pull-left mb-3">
      Debug panel
    </h4>
    <button
      (click)="bsModalRef.hide()"
      type="button"
      aria-label="Close"
      class="close pull-right">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Body -->
  <div class="modal-body">
    <h5 class="mb-3">Backend URL</h5>
    <input 
      (ngModelChange)="urlChange($event)"
      type="text"
      [ngModel]="url"
      class="w-100 form-control mb-3">
    <hr/>
    <h5 class="mb-3">Backend control</h5>
    <div *ngIf="components.length" class="dp-height" >
      <div class="d-flex justify-content-center align-items-center">
        <div (click)="changeAll('false')" class="btn btn-outline-primary mb-3 small-font">
          All real
        </div>
        <div (click)="changeAll('true')" class="btn btn-outline-primary mb-3 small-font">
          All mock
        </div>
      </div>
      <hr/>
      <div *ngFor="let item of components; let index = index" class="row">
        <!-- Option name -->
        <span class="col-4 small-font">
          {{item.name}}
        </span>
        <!-- Option buttons -->
        <div 
          (click)="optionChange(components[index])"
          [(ngModel)]="components[index].mock"
          btnRadioGroup
          class="btn-group offset-4">
          <label
            btnRadio="false"
            tabindex="0"
            role="button"
            class="btn btn-outline-primary small-font">
            Real
          </label>
          <label
            btnRadio="true"
            tabindex="0"
            role="button"
            class="btn btn-outline-primary small-font">
            Mock
          </label>
        </div>
      </div>
    </div>
    <hr/>
    <h5 class="mb-3">Notifications</h5>
    <div (click)="spamNotification()" class="btn btn-outline-primary offset-6 mb-3 small-font">
      Spam test notification
    </div>
  </div>
  <!-- Footer -->
  <div class="modal-footer">
    <button
      (click)="bsModalRef.hide()"
      type="button"
      class="btn btn-default">
      Close
    </button>
  </div>
</div>
