
<div class="modal-card modal-card-info">
  <div class="modal-content" id="app-info-detailed">
    <!-- Header -->
    <div class="modal-header">
      <h3 *ngIf="openFromInstance" class="modal-info-title mb-4">{{'app-info.instance.title' | translate}}</h3>
      <h3 *ngIf="openFromRegistered" class="modal-info-title mb-4">{{'app-info.registeredTitle' | translate}}</h3>
    </div>
    <!-- Body -->
    <div class="modal-body">
      <div class="app-info-detailed-p">
        <h3 class="modal-info-h3-title">{{name}}</h3>
        <p *ngIf="openFromInstance" class="modal-info-title-sm ">{{appInstanceId}}</p>
        <p *ngIf="openFromRegistered" class="modal-info-title-sm ">{{appDescriptorId}}</p>
      </div>
      <div class="scroll-app-info app-info-detailed-p">
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">{{'tables.organizationId' | translate}}</div>
          <div class="col-sm text-right">{{organizationId}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm modal-info-table-title mb-3">{{'tables.tableLabels' | translate}}</div>
        </div>
        <div *ngFor="let label of labels" class="row">
          <div *ngIf="labels" class="col-sm text-right">
            <button class="label-content-disabled" disabled>
              {{label.key}}: {{label.value}}
            </button>
          </div>
          <div *ngIf="!labels" class="col-sm text-right">{{'tables.no' | translate}}</div>
        </div>
        <br>
        <!-- Groups -->
        <div class="row">
          <div class="col-sm modal-info-table-title">{{'tables.tableGroups' | translate}}</div>
        </div>
        <br>
        <!-- Instance groups -->
        <span *ngIf="openFromInstance">
          <span *ngFor="let group of groups">
            <div class="row">
              <div class="col-sm modal-info-table-title mb-3 dark-grey">{{group.name}}</div>
              <div class="col-sm text-right">{{group.service_group_id}}</div>
            </div>
            <!-- Services -->
            <div class="services-bg">
              <div *ngFor="let service of group.service_instances" class="row">
                <div *ngIf="!group.service_instances" class="col-sm text-right">{{'apps.instance.noServices' | translate}}</div>
                <div *ngIf="group.service_instances" class="col-sm mb-3">
                  <div class="row">
                    <div class="col-sm modal-info-table-title mb-3 dark-grey">{{service.name}}</div>
                    <div class="col-sm text-right">{{service.service_instance_id}}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm modal-info-table-title mb-3">{{'tables.tableStatus' | translate}}</div>
                    <h3 class="modal-info-h3-title col-sm text-right">
                      <span 
                        [ngClass]=
                        "{
                          'big-status-dot': classStatusCheck(service.status_name, 'service_running'),
                          'big-status-dot-error': classStatusCheck(service.status_name, 'service_error'),
                          'big-status-dot-process': classStatusCheck(service.status_name, 'service_waiting') || 
                            classStatusCheck (service.status_name, 'service_scheduled')
                        }"
                        tooltip="{{getBeautyStatusName(service.status_name)}}" 
                        placement="bottom"
                        class="big-status-dot">
                        <span class="fw-black">
                          {{getBeautyStatusName(service.status_name)}}
                        </span>
                      </span>
                    </h3>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm modal-info-table-title mb-3">{{'tables.tableDeployedOnCID' | translate}}</div>
                    <div class="col-sm text-right">{{service.deployed_on_cluster_id}}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm modal-info-table-title">{{'tables.tableReplicas' | translate}}</div>
                    <h3 class="modal-info-h3-title col-sm text-right">{{service.specs.replicas}}</h3>
                  </div>
                  <br>
                  <div *ngIf="service.environment_variables">
                    <div class="row">
                      <div class="col-sm modal-info-table-title mb-3">{{'apps.instance.environmentVariables' | translate}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm text-right">
                        <div *ngFor="let variable of service.environment_variables | keyvalue" class="row mb-2" >
                            <div class="col-12 grey text-right">
                              {{variable.key}} 
                            </div>
                            <div class="col-12 text-right">
                              {{variable.value}}
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm modal-info-table-title">{{'tables.tableType' | translate}}</div>
                    <div class="col-sm text-right">{{service.type_name}}</div>
                  </div>
                  <br>
                  <div *ngIf="!service.credentials" class="row">
                    <div class="col-sm modal-info-table-title">{{'apps.instance.environmentVariables' | translate}}</div>
                    <div class="col-sm text-right">{{'apps.instance.noEnvironmentVariables' | translate}}</div>
                  </div>
                  <div *ngIf="service.credentials">
                    <div class="row">
                      <div class="col-sm modal-info-table-title mb-3">{{'tables.tableCredentials' | translate}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm text-right">
                        <div *ngFor="let credential of service.credentials | keyvalue" class="row mb-2" >
                            <div class="col-12 grey text-right">
                              {{credential.key}} 
                            </div>
                            <div class="col-12 text-right">
                              {{credential.value}}
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!service.credentials"  class="row">
                    <div class="col-sm modal-info-table-title">{{'tables.tableCredentials' | translate}}</div>
                    <div class="col-sm text-right">{{'apps.instance.noCredentials' | translate}}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm modal-info-table-title">{{'tables.tableImage' | translate}}</div>
                    <div class="col-sm text-right">{{service.image}}</div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </span>
        </span>
        <!-- Registered Groups -->
        <span *ngIf="openFromRegistered">
          <span *ngFor="let group of groups">
            <div class="row">
              <div class="col-sm modal-info-table-title mb-3 dark-grey">{{group.name}}</div>
              <div class="col-sm text-right">{{group.service_group_id}}</div>
            </div>
            <!-- Services -->
            <div class="services-bg">
              <div *ngFor="let service of group.services" class="row">
                <div *ngIf="!group.services" class="col-sm text-right">{{'apps.instance.noServices' | translate}}</div>
                <div *ngIf="group.services" class="col-sm mb-3">
                  <div class="row">
                    <div class="col-sm modal-info-table-title mb-3 dark-grey">{{service.name}}</div>
                    <div class="col-sm text-right">{{service.service_id}}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm modal-info-table-title">{{'tables.tableReplicas' | translate}}</div>
                    <h3 class="modal-info-h3-title col-sm text-right">{{service.specs.replicas}}</h3>
                  </div>
                  <br>
                  <div *ngIf="service.exposed_ports">
                    <div class="row">
                      <div class="col-sm modal-info-table-title mb-3">{{'tables.tableExposedPorts' | translate}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm text-right">
                        <div *ngFor="let exposedPort of service.exposed_ports" class="row mb-2">
                            <div class="col-12 text-right">
                              <div class="row">
                                  <div class="col-sm"></div>
                                  <div class="col-sm">{{'tables.tablePort' | translate}}</div>
                                  <div class="col-sm text-right">{{'tables.tableInternal' | translate}}</div>
                                  <div class="col-sm text-right">{{'tables.tableExternal' | translate}}</div>
                              </div>
                            </div>
                            <div class="col-12 text-right">
                                <div class="row">
                                  <div class="col-sm"></div>
                                  <div class="col-sm grey">{{exposedPort.name}}</div>
                                  <div class="col-sm text-right grey">{{exposedPort.internal_port}}</div>
                                  <div class="col-sm text-right grey">{{exposedPort.exposed_port}}</div>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!service.exposed_ports" class="row">
                    <div class="col-sm modal-info-table-title">{{'tables.tableExposedPorts' | translate}}</div>
                    <div class="col-sm text-right">{{'app-info.noExposedPorts' | translate}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm modal-info-table-title">{{'tables.tableImage' | translate}}</div>
                    <div class="col-sm text-right">{{service.image}}</div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </span>
        </span>
        <!-- Rules -->
        <div *ngIf="rules" class="row">
          <div class="col-sm modal-info-table-title mt-3">{{'tables.tableRules' | translate}}</div>
        </div>
        <br>
        <span *ngIf="rules">
          <div class="services-bg">
            <span *ngFor="let rule of rules">
                <div class="row">
                  <div class="col-sm modal-info-table-title mb-3 dark-grey">{{rule.name}}</div>
                  <div class="col-sm text-right">{{rule.rule_id}}</div>
                </div>
                <div class="">
                  <div class="row">
                    <div class="col-sm modal-info-table-title mb-3">{{'tables.tableAccess' | translate}}</div>
                    <div *ngIf="openFromRegistered" class="col-sm text-right rule-access">{{rule.access}}</div>
                    <div *ngIf="openFromInstance" class="col-sm text-right rule-access">{{rule.access_name}}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm modal-info-table-title mb-3">{{'tables.tableTarget' | translate}}</div>
                  </div>
                  <div *ngIf="rule.target_service_group_name" class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 modal-info-table-title">{{'tables.tableGroup' | translate}}</div>
                    <div class="col-sm text-right">{{rule.target_service_name}}</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 modal-info-table-title">{{'tables.tableServices' | translate}}</div>
                    <div class="col-sm text-right">{{rule.target_service_group_name}}</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4  modal-info-table-title">{{'tables.tablePort' | translate}}</div>
                    <div class="col-sm col-right-low">{{rule.target_port}}</div>
                  </div>
                  <br>
                  <div *ngIf="rule.device_group_ids" class="row">
                    <div class="col-sm modal-info-table-title mb-3">{{'tables.tableAuth' | translate}}</div>
                  </div>
                  <div *ngIf="rule.auth_service_group_name" class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 modal-info-table-title">{{'tables.tableGroup' | translate}}</div>
                    <div class="col-sm text-right">{{rule.auth_service_group_name}}</div>
                  </div>
                  <div *ngFor="let auth of rule.auth_services; let i = index" class="row">
                    <div class="col-sm-2"></div>
                    <div *ngIf="i === 0" class="col-sm-4 modal-info-table-title">{{'tables.tableServices' | translate}}</div>
                    <div *ngIf="i !== 0" class="col-sm"></div>
                    <div class="col-sm text-right">{{rule.auth_services}}</div>
                  </div>
                  <div *ngIf="rule.device_group_ids" class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 modal-info-table-title">{{'tables.tableDevices' | translate}}</div>
                    <div class="col-sm col-right-low">{{rule.device_group_ids}}</div>
                  </div>
                  <div *ngIf="rule.device_group_names" class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 modal-info-table-title">{{'tables.tableDevicesGroup' | translate}}</div>
                    <div class="col-sm col-right-low">{{rule.device_group_names}}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm modal-info-table-title mb-3">{{'tables.tableAppDescriptorID' | translate}}</div>
                    <div class="col-sm text-right">{{rule.app_descriptor_id}}</div>
                  </div>
                    <br>
                </div>   
            </span>
          </div>
        </span>
        <br>
      </div>      
      <!-- Option button -->
      <div class="form-group-btn app-info-detailed-p">
        <button (click)="closeModal()" class="nalej-form-btn-blue">
          <span class="align-bottom">{{'buttons.close' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
