<div class="modal-card">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="nalej-form-title">Deploy instance</h3>
      <button 
        type="button" 
        class="close" 
        aria-label="Close"
        (click)="discardChanges(f)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Body -->
    <div class="modal-body">
    <form #f="ngForm" class="form-deploy">
      <div class="form-group">
        <!-- Dropdown button -->
        <div 
          *ngIf="!openFromRegistered"
          class="btn-group" 
          dropdown>
          <button 
            id="button-basic" 
            dropdownToggle 
            type="button" 
            class="dropdown-toggle cursor-pointer"
            aria-controls="dropdown-basic">
            {{registeredName}}
          </button>
          <ul 
            id="dropdown-basic" 
            *dropdownMenu 
            class="dropdown-menu"
            role="menu" 
            aria-labelledby="button-basic">
            <li *ngFor="let app of registeredApps" role="menuitem">
              <span 
                class="dropdown-item cursor-pointer"
                (click)="selectRegistered(app)">
                {{app.name}}
              </span>
            </li>

          </ul>
        </div>
        <!-- Disabled registered app name -->
        <input 
          *ngIf="openFromRegistered"
          [(ngModel)]="registeredName" 
          name="registeredName" 
          type="text" 
          class="form-control bg-light-grey" 
          placeholder="" 
          disabled>
        <input 
          [(ngModel)]="instanceName" 
          name="name" 
          type="text" 
          class="form-control" 
          placeholder="Instance name" 
          required>
      </div>
    </form>
    <!-- Option buttons -->
    <div class="buttons d-flex flex-row justify-content-between">
      <button class="btn btn-primary btn-md" (click)="deployInstance()">
        <span class="align-bottom">Deploy</span>
      </button>
      <button class="btn btn-red btn-md" (click)="discardChanges(f)">
        <span class="align-bottom">Discard</span>
      </button>
    </div>
    </div>
  </div>
</div>