<ngx-graph
    [links]="links"
    [nodes]="nodes"
    [orientation]="orientation"
    [autoZoom]="autoZoom"
    [autoCenter]="autoCenter"
    [curve]="curve"
    [enableZoom]="enableZoom"
  class="chart-container">
  <ng-template #nodeTemplate let-node>
    <svg:g
      class="node"
      ngx-tooltip
      [tooltipPlacement]="'top'"
      [tooltipType]="'tooltip'"
      [tooltipTitle]="node.tooltip"
      [ngSwitch]="node.shape">
      <svg:rect *ngSwitchCase="'rectangle'"
        [attr.width]="node.icon? node.width + ((node.icon.x * 2) + node.icon.width): node.width"
        [attr.height]="node.customHeight || node.height"
        [attr.fill]="node.color"/>
      <svg:circle *ngSwitchCase="'circle'"
        [attr.r]="node.customRadius"
        [attr.cx]="node.width/2"
        [attr.cy]="node.height/2"
        [attr.fill]="node.color"/>
      <svg *ngIf="node.icon"
        [attr.width]="node.icon.width"
        [attr.height]="node.icon.height"
        [attr.x]="node.icon.x"
        [attr.y]="node.icon.y"
        [attr.viewBox]="node.icon.viewBox">
        <path *ngFor="let path of node.icon.paths"
          [attr.fill]="path.fill"
          [attr.d]="path.d"/>
      </svg>
      <svg:text *ngSwitchCase="'rectangle'"
        [attr.fill]="node.text.color"
        [attr.x]="node.icon? (node.icon.x * 2) + node.icon.width: 10"
        [attr.y]="node.height/2">
        {{node.label}}
      </svg:text>
      <text *ngSwitchCase="'circle'"
        [attr.fill]="node.text.color"
        [attr.x]="10"
        [attr.y]="node.text.y">
        {{node.label}}
      </text>
      <text *ngIf="node.secoundaryText && node.secoundaryText.text"
        [attr.fill]="node.secoundaryText.color"
        [attr.x]="10"
        [attr.y]="node.secoundaryText.y">
        {{node.secoundaryText.text}}
      </text>
    </svg:g>
  </ng-template>
  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <defs>
        <marker
          id="arrow"
          markerHeight="13"
          markerUnits="userSpaceOnUse"
          markerWidth="13"
          orient="auto"
          refX="2"
          refY="6">
          <path d="M2,2 L2,11 L10,6 L2,2" fill="#333" stroke-width="0" />
        </marker>
      </defs>
      <svg:path
        [attr.marker-mid]="getMarker(link)"
        class="line"
        d="M 0,30 h100"
        stroke-width="2">
      </svg:path>
    </svg:g>
  </ng-template>
</ngx-graph>
