<!-- Component title -->
<div class="row row-title">
  <div class="col-lg-12">
    <h2 class="section-title">{{'apps.instance.title'|translate}}</h2>
  </div>
</div>
<div class="row row-app-main">
  <div class="col-4 h-100">
    <div class="flex-col-app">
      <!-- Registered application id card -->
      <div class="card row-info-app flex-grow-0">
        <div class="card-title-name">
          <h5>
            <a
              [routerLink]="['/applications']"
              routerLinkActive="active"
              class="blue">
              {{'apps.instance.idApps'|translate}}
            </a>
            <span class="grey"> > </span>
            <b>{{'apps.instance.idRegistered'|translate}}</b>
            <span class="grey"> > </span>
            <span class="grey text-uppercase">
            {{registeredData.name}}
            </span>
          </h5>
        </div>
        <div class="reg-info-box">
          <div class="reg-info-id-box">
            <div class="reg-info mx-2">
              <p class="reg-info-id text-left">{{'apps.instance.tableId'|translate}}</p>
              <p class="reg-info-id w-75">{{registeredData.app_descriptor_id}}</p>
            </div>
          </div>
          <div class="reg-info">
            <button (click)="deployRegistered(registeredData)" class="reg-deploy">
              <i class="material-icons i-options">play_arrow</i>
              {{'apps.registered.deploy'|translate}} <span class="hide-reg-btn-text">{{'apps.registered.instance'|translate}}</span>
            </button>
            <button (click)="deleteApp(registeredData)" class="reg-undeploy">
              <i class="material-icons i-options">delete</i>
              {{'apps.registered.delete'|translate}} <span class="hide-reg-btn-text">{{'apps.registered.app'|translate}}</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Services summary card -->
      <div class="card row-summary-app flex-grow-0">
        <div class="card-title-name">
          <h5>{{'apps.registered.servicesSummary'|translate}}</h5>
        </div>
        <div *ngIf="registeredData.groups && registeredData.groups.length > 0" class="summary-card">
          <div class="summary-box">
            <div class="circle">
              <span>{{registeredData.groups.length}}</span>
            </div>
            <p class="circle-name">{{'devices.summary.groups.title'|translate}}</p>
          </div>
          <div class="summary-box">
            <div class="circle">
              <span>{{getServicesCount(registeredData)}}</span>
            </div>
            <p class="circle-name">{{'apps.instance.servicesTitle'|translate}}</p>
          </div>
        </div>
        <div *ngIf="!registeredData.groups || registeredData.groups.length === 0" class="no-elements">
          {{'apps.registered.noRegisteredApps'|translate}}
        </div>
      </div>
      <!-- Labels card-->
      <labels-card *ngIf="loadedData"
        [labelsData]="registeredData"
        [isSelectableLabel]="isSelectableLabel"
        (updateLabels)="updateLabels($event)"
        class="row-info-app">
      </labels-card>
      <!-- Action buttons card -->
      <action-buttons-card *ngIf="loadedData"
        [app]="registeredData"
        [isOpenFromRegistered]="isOpenFromRegistered">
      </action-buttons-card>
    </div>
  </div>
  <!-- Services card-->
  <div class="col-8 h-100">
      <div class="flex-col-app">
        <div class="card">
          <services-card (displayGraph)='onShowGraph($event)'>
          </services-card>
          <div *ngIf="showGraph" style="height:100%; border: 2px solid blue">
            <div *ngIf="graphDataLoaded && !graphReset" class="graph">
              <graph
                [autoCenter]="autoCenter"
                [autoZoom]="autoZoom"
                [curve]="curve"
                [enableZoom]="enableZoom"
                [links]="graphData.links"
                [nodes]="graphData.nodes"
                [orientation]="orientation">
              </graph>
            </div>
            <div *ngIf="!graphReset" class="row mt-2 text-right mr-1">
              <div class="col graph-subtext">
                {{'graph.scroll'|translate}}
                <a (click)="resetGraphZoom()" class="blue cursor-pointer">
                  {{'sortingMessage.reset'|translate}}
                </a>
              </div>
            </div>
          </div>
          <div *ngIf="!showGraph">
          </div>
        </div>
      </div>
  </div>
</div>
