<!-- Component title -->
<div class="row row-title mb-4">
  <div class="col-lg-12">
    <h2>Applications</h2>
  </div>
</div>
<div class="row h-reg">
  <div class="col-4 h-100">
    <div class="reg-flex-col bg-primary">
      <!-- Registered applicartion id card -->
      <div class="card h-reg-info flex-grow-0">
        <div class="card-title-c">
          <h5>
            <a 
              [routerLink]="['/applications']" 
              routerLinkActive="active" 
              class="blue">
              APPS
            </a>
            <span class="grey text-uppercase">
              > {{registeredData.name}}
            </span>
          </h5>
        </div>
        <div class="reg-info-box">
          <div class="reg-info-id-box">
            <div class="reg-info mx-2">
              <p class="reg-info-id text-left">ID</p>
              <p class="reg-info-id w-75">{{registeredData.app_descriptor_id}}</p>
            </div>
          </div>
          <div class="reg-info">
            <button
              class="reg-deploy button-padding-fix"                
              (click)="deployRegistered(registeredData)">
              <i class="material-icons i-options">play_arrow</i>
              Deploy <span class="hide-sm">instance</span> 
            </button>
            <button 
              class="reg-undeploy button-padding-fix"
              (click)="deleteApp(registeredData)">
              <i class="material-icons i-options">delete</i>
              Delete <span class="hide-sm">app</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Services summary card -->
      <div class="card h-reg-services-info flex-grow-0">
        <div class="card-title-c">
          <h5>SERVICES SUMMARY</h5>
        </div>
        <div *ngIf="registeredData.groups.length > 0" class="summary-card">
          <div>
            <div class="circle summary-box">
              <span class="align-self-center mt-1">{{registeredData.groups.length}}</span>
            </div>
            <p class="circle-name">GROUPS</p>
          </div>
          <div>
            <div class="circle summary-box">
              <!-- TODO -->
              <span class="align-self-center mt-1">{{getServicesCount(registeredData)}}</span>
            </div>
            <p class="circle-name">SERVICES</p>
          </div>
        </div>
        <div 
          *ngIf="groups.length === 0" 
          class="summary-card d-flex justify-content-center align-items-center">
          No available registered apps detected
        </div>
      </div>
      <!-- Labels card-->
      <div class="card h-reg-labels flex-grow-1">
        <div class="card-title-c hide-title-sm">
          <h5>LABELS</h5>
        </div>
        <div class="reg-labels" *ngIf="loadedData && registered && registered.length > 0 && !requestError">
          <button 
            (click)="onLabelClick(registeredData.app_descriptor_id, label[0], label[1])" 
            [ngClass]="{
              'btn-label-selected': indexOfLabelSelected(registeredData.app_descriptor_id, label[0], label[1]) >= 0 ,
              'btn-outline-primary': indexOfLabelSelected(registeredData.app_descriptor_id, label[0], label[1]) === -1
            }"
            *ngFor="let label of labelsToString(registeredData.labels)" 
            class="btn-sm btn-outline-primary">
            {{label[0]}}: {{label[1]}}
          </button>
          <div class="label-buttons">
            <div 
              *ngIf="isAnyLabelSelected(registeredData.app_descriptor_id) === false" 
              class="add-label-button" 
              (click)="addLabel(registeredData)"
              tooltip="Add" 
              placement="right">
              <i class="material-icons i-add">add</i>
            </div>
            <div 
              *ngIf="isAnyLabelSelected(registeredData.app_descriptor_id) === true" 
              class="delete-label-button"
              (click)="deleteLabel(registeredData)" 
              tooltip="Delete" 
              placement="right">
              <i class="material-icons i-delete">delete</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 h-100">
    <div class="reg-flex-col">
      <!-- Grapho card -->
      <div *ngIf="showGraph" class="card h-reg-services flex-grow-1">
        <div class="row">
          <div class="col-10 card-title-h">
            <h5>SERVICE</h5>
          </div>
          <div class="col-2">
            <div class="show-graph-icons">
              <i 
                tooltip="Services" 
                placement="left"
                class="material-icons float-right"   
                [ngClass]="!showGraph ? 'blue' : 'grey'"
                (click)="showWindowGraph()">
                view_list
              </i>
              <i 
                tooltip="Graph" 
                placement="left"
                class="material-icons float-right mr-bars" 
                (click)="showWindowGraph()"
                [ngClass]="showGraph ? 'blue' : 'grey'">
                bar_chart
              </i>
            </div> 
          </div>
        </div>
        <div class="graph">
          <ngx-graph
            class="chart-container"
            [view]="view"
            [legend]="showLegend"
            [links]="graphData.links"
            [nodes]="graphData.nodes"
            [scheme]="colorScheme"
            [orientation]="orientation"
            [autoZoom]="autoZoom"
            [autoCenter]="autoCenter"
            [curve]="curve"
            [enableZoom]="enableZoom">
            <ng-template #nodeTemplate let-node>
              <svg:g 
                class="node"
                ngx-tooltip
                [tooltipPlacement]="'top'"
                [tooltipType]="'tooltip'"
                [tooltipTitle]="node.tooltip">
                <svg:rect 
                [attr.width]="node.width" 
                [attr.height]="node.height" 
                [attr.fill]="node.color" 
                rx="14" 
                ry="14"/>
                <svg:text 
                  alignment-baseline="central" 
                  [attr.x]="10" 
                  [attr.y]="node.height / 2">
                  {{node.label}}
                </svg:text>
              </svg:g>
            </ng-template>
            <ng-template #linkTemplate let-link>
              <svg:g class="edge">
                <svg:path
                  stroke-width="2"
                  class="line"
                  d="M 0,30 h100"
                  >
                </svg:path>
              </svg:g>
            </ng-template>
          </ngx-graph>
        </div>
      </div>
      <!-- Services card -->
      <div *ngIf="!showGraph" class="card h-reg-services flex-grow-1">
        <div class="row">
          <div class="col-10 card-title-h">
            <h5>SERVICES</h5>
          </div>
            <div class="col-2">
              <div class="show-graph-icons">
                <i 
                  tooltip="Services" 
                  placement="left"
                  class="material-icons float-right"   
                  [ngClass]="!showGraph ? 'blue' : 'grey'"
                  (click)="showWindowGraph()">
                  view_list
                </i>
                <i 
                  tooltip="Graph" 
                  placement="left"
                  class="material-icons float-right mr-bars" 
                  (click)="showWindowGraph()"
                  [ngClass]="showGraph ? 'blue' : 'grey'">
                  bar_chart
                </i>
              </div> 
          </div>
        </div>
        <!-- Services tabs -->
        <div class="row">
          <div class="col">
            <div class="nalej-tab-container">
              <ul>
                <li 
                  *ngIf="displayedGroupsNamesLength < maxLabelsLength" 
                  class="nalej-tab nalej-tab-title">
                  <span class="grey">GROUPS</span>
                </li>
                <li 
                  *ngIf="groups.length > 0" 
                  class="nalej-tab" 
                  (click)="changeActiveGroup('ALL')">
                  <span [ngClass]="amIactive('ALL')">ALL</span>
                </li>
                <li 
                  *ngIf="groups.length === 0" 
                  class="nalej-tab">
                  <span class="active">ALL</span>
                </li>
                <li 
                  [ngClass]="haveIGroups(groups)" 
                  (click)="swipeLeft()" 
                  class="tabs-arrow">
                  <i class="material-icons">arrow_left</i>
                </li>
                <!-- TODO -->
                <li 
                  *ngFor="let group of displayedGroups" 
                  class="nalej-tab" 
                  (click)="changeActiveGroup()">
                  <span 
                    *ngIf="displayedGroups.length > 0" 
                    [ngClass]="amIactive()">
                    Group 1
                  </span>
                </li>
                <li 
                  [ngClass]="haveIGroups(groups)" 
                  (click)="swipeRight()" 
                  class="tabs-arrow">
                  <i class="material-icons">arrow_right</i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <!-- Sorting mesages -->
          <div class="col-9">
            <p *ngIf="searchTerm && !filterField" class="sorting-message">
              Filtered by term "{{ searchTerm }}".
              <span class="blue reset-search" (click)="resetFilters(filterField)">Reset</span>
            </p>
            <p *ngIf="filterField && !searchTerm" class="sorting-message">
              Sorted by {{ sortedBy }},
              <span *ngIf="reverse">ascendant. </span>
              <span *ngIf="!reverse">descendant. </span>
              <span class="blue reset-search" (click)="resetFilters(filterField)">Reset</span>
            </p>
            <p *ngIf="filterField && searchTerm" class="sorting-message">
              Sorted by {{ sortedBy }}
              <span *ngIf="reverse">ascendant </span>
              <span *ngIf="!reverse">descendant </span>
              and filtered by term "{{ searchTerm }}".
              <span class="blue reset-search" (click)="resetFilters(filterField)">Reset</span>
            </p>
          </div>
          <!-- Search input -->
          <div class="col-3">
            <form>
              <div class="search-box">
                <input 
                  type="text" 
                  class="form-control" 
                  name="searchTerm" 
                  placeholder="Search..."
                  [(ngModel)]="searchTerm">
                <div class="search-icon" *ngIf="searchTerm === ''">
                  <i class="material-icons">search</i>
                </div>
                <div class="close-icon" *ngIf="searchTerm !== ''">
                  <i class="material-icons" (click)="resetFilters(filterField)">close</i>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- No services to show -->
        <div *ngIf="activeGroupId!== 'ALL' && countGroupServices(activeGroupId) === 0"
          class="no-info-in-group d-flex justify-content-center align-items-center">
          No available services in this group
        </div>
        <!-- TODO Services table -->
        <!-- <div class="table-h" *ngIf="loadedData && services && services.length > 0 && groups.length > 0 && !requestError">
          <table class="table-responsive table-fixed">
            <thead>
              <tr>
                <th 
                  *ngIf="activeGroupId !== 'ALL' && countGroupServices(activeGroupId) > 0"
                  (click)="setOrder('name')" 
                  [ngClass]="getCategoryCSSClass('name')" 
                  scope="col" 
                  class="col-2">
                  Name
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'name' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'name' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  *ngIf="activeGroupId === 'ALL'"
                  (click)="setOrder('name')" 
                  [ngClass]="getCategoryCSSClass('name')" 
                  scope="col" 
                  class="col-2">
                  Name
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'name' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'name' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  *ngIf="activeGroupId !== 'ALL' && countGroupServices(activeGroupId) > 0"
                  (click)="setOrder('image')" 
                  [ngClass]="getCategoryCSSClass('image')" 
                  scope="col" 
                  class="col-5">
                  Image
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'image' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'image' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th> 
                <th 
                  *ngIf="activeGroupId === 'ALL'"
                  (click)="setOrder('image')" 
                  [ngClass]="getCategoryCSSClass('image')" 
                  scope="col" 
                  class="col-5">
                  Image
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'image' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'image' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  *ngIf="activeGroupId !== 'ALL' && countGroupServices(activeGroupId) > 0"
                  (click)="setOrder('labels')" 
                  [ngClass]="getCategoryCSSClass('labels')" 
                  scope="col" 
                  class="col-4">
                  Labels
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'labels' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'labels' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  *ngIf="activeGroupId === 'ALL'"
                  (click)="setOrder('labels')" 
                  [ngClass]="getCategoryCSSClass('labels')" 
                  scope="col" 
                  class="col-4">
                  Labels
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'labels' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'labels' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  *ngIf="activeGroupId !== 'ALL' && countGroupServices(activeGroupId) > 0"
                  scope="col" 
                  class="col-1 text-center p-0">
                  Info
                </th>
                <th 
                  *ngIf="activeGroupId === 'ALL'"
                  scope="col" 
                  class="col-1 text-center p-0">
                  Info
                </th>
              </tr>
            </thead>
            <tbody>
           
              <tr *ngFor="let group of groups | sortBy : sortedBy : reverse : 'case-insensitive' | filter : searchTerm">
            
              <span *ngIf="activeGroupId === 'ALL'">
                <td class="col-2">simple-mysql {{group.service.name}}</td>
                <td class="col-5">zookeeper:3.5</td>
                <td class="col-4">
                  <button class="btn-sm btn-outline-primary">app: simple-wordpress</button>
                </td>
                <td class="col-1 text-center">
                  <button 
                    class="btn info-btn btn-primary"  
                    tooltip="Info" 
                    placement="left" 
                    (click)="openServicesInfo()">
                    <span class="i-info">i</span>
                  </button>
                </td>
              </span>
         
              <span *ngIf="activeGroupId === group.service_group_id">
                <td class="col-2">simple-mysql {{group.name}}</td>
                <td class="col-5">zookeeper:3.5</td>
                <td class="col-4">
                  <button class="btn-sm btn-outline-primary">app: simple-wordpress</button>
                </td>
                <td class="col-1 text-center">
                  <button 
                    class="btn info-btn btn-primary" 
                    tooltip="Info" 
                    placement="left" 
                    (click)="openServicesInfo()">
                    <span class="i-info" >i</span>
                  </button>
                </td>
              </span>
            </tr>
            </tbody>
          </table>
        </div> -->

        <!-- LAYOUT Services table -->
        <div class="table-h">
          <table class="table-responsive table-fixed">
            <thead>
              <tr>
                <th 
                  (click)="setOrder('name')" 
                  [ngClass]="getCategoryCSSClass('name')" 
                  scope="col" 
                  class="col-2">
                  Name
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'name' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'name' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  (click)="setOrder('image')" 
                  [ngClass]="getCategoryCSSClass('image')" 
                  scope="col" 
                  class="col-5">
                  Image
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'image' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'image' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th> 
                <th 
                  (click)="setOrder('labels')" 
                  [ngClass]="getCategoryCSSClass('labels')" 
                  scope="col" 
                  class="col-4">
                  Labels
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'labels' && !reverse">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span 
                    class="expand-chevron" 
                    *ngIf="sortedBy === 'labels' && reverse">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  scope="col" 
                  class="col-1 text-center p-0">
                  Info
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <span >
                <td class="col-2">simple-mysql</td>
                <td class="col-5">zookeeper:3.5</td>
                <td class="col-4">
                  <button class="btn-sm btn-outline-primary">app: simple-wordpress</button>
                </td>
                <td class="col-1 text-center">
                  <button 
                    class="btn info-btn btn-primary"  
                    tooltip="Info" 
                    placement="left" 
                    (click)="openServicesInfo()">
                    <span class="i-info">i</span>
                  </button>
                </td>
              </span>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- No info to show -->
        <div *ngIf="loadedData && !requestError && groups.length === 0"
          class="no-info d-flex justify-content-center align-items-center">
          No available services
        </div>
        <!-- Requested error -->
        <div *ngIf="loadedData && requestError" class="no-elements d-flex justify-content-center align-items-center">
          <p>{{ requestError }}</p>
        </div>
        <!-- Loader -->
        <div class="nalej-loader-container" *ngIf="!loadedData">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle 
                class="path" 
                cx="50" 
                cy="50" 
                r="20" 
                fill="none" 
                stroke-width="2" 
                stroke-miterlimit="10" />
            </svg>
          </div>
        </div>
      </div>
      <div class="h-reg-rules flex-grow-0">
        <!-- Rules card -->
        <div class="card h-100 mr-4 w-75">
          <div class="card-title-c">
            <h5>RULES</h5>
          </div>
          <div class="row hide-sm">
            <!-- Sorting mesages -->
            <div class="col">
              <p *ngIf="searchTerm && !filterField" class="sorting-message">
                Filtered by term "{{ searchTerm }}".
                <span class="blue reset-search" (click)="resetFilters(filterField)">Reset</span>
              </p>
              <p *ngIf="filterField && !searchTerm" class="sorting-message">
                Sorted by {{ sortedBy }},
                <span *ngIf="reverse">ascendant. </span>
                <span *ngIf="!reverse">descendant. </span>
                <span class="blue reset-search" (click)="resetFilters(filterField)">Reset</span>
              </p>
              <p *ngIf="filterField && searchTerm" class="sorting-message">
                Sorted by {{ sortedBy }}
                <span *ngIf="reverse">ascendant </span>
                <span *ngIf="!reverse">descendant </span>
                and filtered by term "{{ searchTerm }}".
                <span class="blue reset-search" (click)="resetFilters(filterField)">Reset</span>
              </p>
            </div>
            <!-- Search input -->
            <div class="col-4">
              <form>
                <div class="search-box">
                  <input type="text" class="form-control" name="searchTerm" placeholder="Search..."
                    [(ngModel)]="searchTerm">
                  <div class="search-icon" *ngIf="searchTerm === ''">
                    <i class="material-icons">search</i>
                  </div>
                  <div class="close-icon" *ngIf="searchTerm !== ''">
                    <i class="material-icons" (click)="resetFilters(filterField)">close</i>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Rules table -->
          <div class="table-h table-h-fix" *ngIf="loadedData && groups.length > 0 && !requestError">
            <table class="table-responsive table-fixed">
              <thead class="hide-sm">
                <tr>
                  <th 
                    (click)="setOrder('name')" 
                    [ngClass]="getCategoryCSSClass('name')" 
                    scope="col" 
                    class="col-2">
                    Name
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedBy === 'name' && !reverse">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedBy === 'name' && reverse">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    (click)="setOrder('access')" 
                    [ngClass]="getCategoryCSSClass('access')" 
                    scope="col" 
                    class="col-2">
                    Access
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedBy === 'access' && !reverse">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedBy === 'access' && reverse">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    (click)="setOrder('target')" 
                    [ngClass]="getCategoryCSSClass('target')" 
                    scope="col"
                    class="col-4">
                    Target <span class="grey typo-small">(group, service, port)</span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedBy === 'target' && !reverse">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedBy === 'target' && reverse">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    (click)="setOrder('auth')" 
                    [ngClass]="getCategoryCSSClass('auth')" 
                    scope="col" 
                    class="col-3">
                    Auth <span class="grey typo-small">(group, service)</span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedBy === 'auth' && !reverse">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span 
                      class="expand-chevron" 
                      *ngIf="sortedBy === 'auth' && reverse">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    scope="col" 
                    class="col-1 text-center p-0">
                    Info
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- TODO -->
                <tr *ngFor="let rule of registeredData.rules | sortBy : sortedBy : reverse : 'case-insensitive' | filter : searchTerm">
                  <td class="col-2">
                    <a
                    class="blue text-capitalize text-left">
                      {{rule.name | truncate}}
                    </a>
                    </td>
                    <td class="col-2 text-lowercase">{{rule.access_name}}</td>
                    <td class="col-4">
                      {{rule.target_service_name}} - {{rule.target_service_name}} - {{rule.target_port}}
                    </td>
                    <td class="text-lowercase col-3">
                      {{rule.auth_service_group_name}}
                    <span *ngIf="rule.auth_services"> - </span>
                    {{rule.auth_services}}
                    </td>
                  <td class="col-1 text-center">
                    <button 
                      class="btn info-btn btn-primary"  
                      tooltip="Info" 
                      placement="left" 
                      (click)="openRulesInfo()">
                      <span class="i-info">i</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- No info to show -->
          <div *ngIf="loadedData && groups.length === 0 !requestError"
            class="no-info d-flex justify-content-center align-items-center">
            No available rules detected
          </div>
          <!-- Requested error -->
          <div *ngIf="loadedData && requestError" class="no-elements d-flex justify-content-center align-items-center">
            <p>{{requestError}}</p>
          </div>
          <!-- Loader -->
          <div class="nalej-loader-container" *ngIf="!loadedData">
            <div class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                <circle 
                  class="path" 
                  cx="50" 
                  cy="50" 
                  r="20" 
                  fill="none" 
                  stroke-width="2" 
                  stroke-miterlimit="10" />
              </svg>
            </div>
          </div>
        </div>
        <!-- Configuration card -->
        <div class="card h-100">
          <div class="card-title-c">
            <h5 class="hide-sm">CONFIGURATION</h5>
            <h5 class="show-sm">CONF...</h5>
          </div>
          <div class="config-card">
            <p class="grey text-left">Enviroment variables</p>
            <p>No enviroment variables have been set</p>
            <p class="grey text-left">Other settings</p>
            <p>No extra settings have been set</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>