<!-- Component title -->
<div class="row row-title">
  <div class="col-lg-12">
    <h2 class="section-title">APPLICATIONS</h2>
  </div>
</div>
<div class="row row-app-main">
  <div class="col-4 h-100">
    <div class="flex-col-app">
      <!-- Registered application id card -->
      <div class="card row-info-app flex-grow-0">
        <div class="card-title-name">
          <h5>
            <a 
              [routerLink]="['/applications']" 
              routerLinkActive="active" 
              class="blue">
              APPS
            </a>
            <span class="grey"> > </span>
            <b>REGISTERED</b>
            <span class="grey"> > </span>
            <span class="grey text-uppercase">
            {{registeredData.name}}
            </span>
          </h5>
        </div>
        <div class="reg-info-box">
          <div class="reg-info-id-box">
            <div class="reg-info mx-2">
              <p class="reg-info-id text-left">ID</p>
              <p class="reg-info-id w-75">{{registeredData.app_descriptor_id}}</p>
            </div>
          </div>
          <div class="reg-info">
            <button (click)="deployRegistered(registeredData)" class="reg-deploy">
              <i class="material-icons i-options">play_arrow</i>
              Deploy <span class="hide-reg-btn-text">instance</span> 
            </button>
            <button (click)="deleteApp(registeredData)" class="reg-undeploy">
              <i class="material-icons i-options">delete</i>
              Delete <span class="hide-reg-btn-text">app</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Services summary card -->
      <div class="card row-summary-app flex-grow-0">
        <div class="card-title-name">
          <h5>SERVICES SUMMARY</h5>
        </div>
        <div *ngIf="registeredData.groups && registeredData.groups.length > 0" class="summary-card">
          <div class="summary-box">
            <div class="circle">
              <span>{{registeredData.groups.length}}</span>
            </div>
            <p class="circle-name">GROUPS</p>
          </div>
          <div class="summary-box">
            <div class="circle">
              <span>{{getServicesCount(registeredData)}}</span>
            </div>
            <p class="circle-name">SERVICES</p>
          </div>
        </div>
        <div *ngIf="!registeredData.groups || registeredData.groups.length === 0" class="no-elements">
          No available registered apps detected
        </div>
      </div>
      <!-- Labels card-->
      <div class="card row-app-labels flex-grow-1">
        <div class="card-title-name hide-title-sm mb-3">
          <h5>LABELS</h5>
        </div>
        <div *ngIf=
          "loadedData &&
          registeredData &&
          registeredData.labels &&
          !requestError">
          <button 
          *ngFor="let label of registeredData.labels | keyvalue" 
          (click)="onLabelClick(registeredData.app_descriptor_id, label.key, label.value)"
          [ngClass]=
          "{
            'label-content-selected': indexOfLabelSelected(registeredData.app_descriptor_id, label.key, label.value) >= 0 ,
            'label-content': indexOfLabelSelected(registeredData.app_descriptor_id, label.key, label.value) === -1
          }" 
          class="label-content">
          {{label.key}}: {{label.value}} 
        </button>
          <div class="label-btns">
            <div 
              *ngIf="isAnyLabelSelected(registeredData.app_descriptor_id) === false" 
              (click)="addLabel(registeredData)"
              tooltip="Add label" 
              placement="right"
              class="label-btn-blue" >
              <i class="material-icons i-add">add</i>
            </div>
            <div 
              *ngIf="isAnyLabelSelected(registeredData.app_descriptor_id) === true" 
              (click)="deleteLabel(registeredData)" 
              tooltip="Delete label" 
              placement="right"
              class="label-btn-red">
              <i class="material-icons i-delete">delete</i>
            </div>
          </div>
        </div>
        <div *ngIf="registeredData && !registeredData.labels">
          <div class="label-btns">
              <div 
                *ngIf="isAnyLabelSelected(registeredData.app_descriptor_id) === false" 
                (click)="addLabel(registeredData)"
                tooltip="Add label" 
                placement="right"
                class="label-btn-blue">
                <i class="material-icons i-add">add</i>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 h-100">
    <div class="flex-col-app">
      <!-- Graph card -->
      <div *ngIf="showGraph" class="card row-app-services">
        <div class="row">
          <div class="col-10 card-title-name-mb">
            <h5>SERVICES</h5>
          </div>
          <div class="col-2">
            <div class="show-graph-icons">
              <i 
                (click)="selectDisplayMode('list')"
                tooltip="Services" 
                placement="left"
                [ngClass]="!showGraph ? 'blue' : 'grey'"
                class="material-icons float-right">
                view_list
              </i>
              <i 
                (click)="selectDisplayMode('graph')"
                tooltip="Graph" 
                placement="left"
                [ngClass]="showGraph ? 'blue' : 'grey'"
                class="material-icons float-right mr-bars">
                bar_chart
              </i>
            </div> 
          </div>
        </div>
        <div *ngIf="graphDataLoaded && !graphReset" class="graph">
          <ngx-graph
            [view]="view"
            [legend]="showLegend"
            [links]="graphData.links"
            [nodes]="graphData.nodes"
            [scheme]="colorScheme"
            [orientation]="orientation"
            [autoZoom]="autoZoom"
            [autoCenter]="autoCenter"
            [curve]="curve"
            [enableZoom]="enableZoom"
            class="chart-container">
            <ng-template #nodeTemplate let-node>
              <svg:g 
                class="node"
                ngx-tooltip
                [tooltipPlacement]="'top'"
                [tooltipType]="'tooltip'"
                [tooltipTitle]="node.tooltip">
                <svg:rect 
                [attr.width]="node.width" 
                [attr.height]="node.height" 
                [attr.fill]="node.color" 
                rx="14" 
                ry="14"
                />
                <svg:text 
                  [attr.fill]="whiteColor"
                  alignment-baseline="central" 
                  [attr.x]="10" 
                  [attr.y]="node.height / 2">
                  {{node.label}}
                </svg:text>
              </svg:g>
            </ng-template>
            <ng-template #linkTemplate let-link>
              <svg:g class="edge">
                <defs>
                  <marker 
                    id="arrow" 
                    markerWidth="13" 
                    markerHeight="13" 
                    refX="2" 
                    refY="6" 
                    orient="auto" 
                    markerUnits="userSpaceOnUse">
                      <path d="M2,2 L2,11 L10,6 L2,2" fill="#333" stroke-width="0" />
                  </marker>
                </defs>
                <svg:path
                  stroke-width="2"
                  class="line"
                  d="M 0,30 h100"
                  [attr.marker-mid]="getMarker(link)">
                </svg:path>
              </svg:g>
            </ng-template>
          </ngx-graph>
        </div>
        <div *ngIf="!graphReset" class="row mt-2 text-right mr-1">
          <div class="col graph-subtext">
            Scroll on graph to zoom. 
            <a (click)="resetGraphZoom()" class="blue cursor-pointer">Reset</a>
          </div>
        </div>
        <div *ngIf="!graphDataLoaded" class="loader"></div>
      </div>
      <!-- Services card -->
      <div *ngIf="!showGraph" class="card row-app-services">
        <div class="row">
          <div class="col-10 card-title-name-mb">
            <h5>SERVICES</h5>
          </div>
          <div class="col-2">
            <div class="show-graph-icons">
              <i 
                (click)="selectDisplayMode('list')"
                tooltip="Services" 
                placement="left"
                [ngClass]="!showGraph ? 'blue' : 'grey'"
                class="material-icons float-right">
                view_list
              </i>
              <i 
                (click)="selectDisplayMode('graph')"
                tooltip="Graph" 
                placement="left"
                [ngClass]="showGraph ? 'blue' : 'grey'"
                class="material-icons float-right mr-bars">
                bar_chart
              </i>
            </div> 
          </div>
        </div>
        <!-- Services tabs -->
        <div *ngIf=
          "registeredData &&
          registeredData.groups &&
          registeredData.groups.length > 0" 
          class="row">
          <div class="col">
            <div class="nalej-tab-box">
              <ul>
                <li *ngIf="displayedGroupsNamesLength < maxLabelsLength" class="nalej-tab nalej-tab-title">
                  <span>GROUPS</span>
                </li>
                <li 
                  *ngIf="registeredData.groups.length > 0" 
                  (click)="changeActiveGroup('ALL')"
                  class="nalej-tab" >
                  <span [ngClass]="amIactive('ALL')">ALL</span>
                </li>
                <li *ngIf="registeredData.groups.length === 0" class="nalej-tab">
                  <span class="active">ALL</span>
                </li>
                <li 
                  (click)="swipeLeft()"
                  [ngClass]="haveIGroups(registeredData.groups)" 
                  class="tabs-arrow">
                  <i class="material-icons">arrow_left</i>
                </li>
                <li 
                  *ngFor="let group of displayedGroups" 
                  (click)="changeActiveGroup(group.service_group_id)"
                  class="nalej-tab">
                  <span 
                    *ngIf="displayedGroups.length > 0" 
                    [ngClass]="amIactive(group.service_group_id)">
                    {{group.name}}
                  </span>
                </li>
                <li 
                  (click)="swipeRight()" 
                  [ngClass]="haveIGroups(registeredData.groups)" 
                  class="tabs-arrow">
                  <i class="material-icons">arrow_right</i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="
          registeredData &&
          registeredData.groups &&
          registeredData.groups.length > 0" 
          class="row mb-3 hide-md-h">
          <!-- Sorting mesages -->
          <div class="col-9">
            <p *ngIf="searchTerm && !filterField" class="sorting-message">
              Filtered by term "{{ searchTerm }}".
              <span (click)="resetFilters('services')" class="reset-search">Reset</span>
            </p>
            <p *ngIf="filterField && !searchTerm" class="sorting-message">
              Sorted by {{ sortedBy }},
              <span *ngIf="reverse">ascendant. </span>
              <span *ngIf="!reverse">descendant. </span>
              <span (click)="resetFilters('services')" class="reset-search">Reset</span>
            </p>
            <p *ngIf="filterField && searchTerm" class="sorting-message">
              Sorted by {{ sortedBy }}
              <span *ngIf="reverse">ascendant </span>
              <span *ngIf="!reverse">descendant </span>
              and filtered by term "{{ searchTerm }}".
              <span (click)="resetFilters('services')" class="reset-search">Reset</span>
            </p>
          </div>
          <!-- Search input -->
          <div class="col-3">
            <form>
              <div class="search-box">
                <input 
                  name="searchTerm" 
                  [(ngModel)]="searchTerm"
                  type="text" 
                  placeholder="Search..."
                  class="form-control"> 
                  <div *ngIf="searchTerm === ''" class="search-icon">
                    <i class="material-icons">search</i>
                  </div>     
                  <div *ngIf="searchTerm !== ''" class="close-icon">
                    <i (click)="resetFilters(filterField)" class="material-icons">close</i>
                  </div>
              </div>
            </form>
          </div>
        </div>
        <!-- No services to show -->
        <div *ngIf="activeGroupId!== 'ALL' && countGroupServices(activeGroupId) === 0" class="no-elements-in-group">
          No available services in this group
        </div>
        <!--  Services table -->
        <div *ngIf=
          "loadedData &&
          registeredData.groups &&
          registeredData.groups.length > 0 &&
          !requestError"
          role="table" 
          aria-label="Services table"
          class="nalej-flex-table-box">
          <div class="nalej-flex-table nalej-flex-th" role="rowgroup">
            <div 
              (click)="setOrder('services','name')"
              [ngClass]="getCategoryCSSClass('services','name')"
              role="columnheader" 
              class="nalej-flex-row-4 services-cell-1 wider-cell">
              <span tooltip="Name" placement="bottom">Name</span>
              <span *ngIf="sortedBy === 'name' && !reverse" class="expand-chevron">
                <i class="material-icons">expand_more</i>
              </span>
              <span *ngIf="sortedBy === 'name' && reverse" class="expand-chevron">
                <i class="material-icons">expand_less</i>
              </span>
            </div>
            <div 
              (click)="setOrder('services','image')" 
              [ngClass]="getCategoryCSSClass('services','image')"  
              role="columnheader" 
              class="nalej-flex-row-4 services-cell-2">
              <span tooltip="Image" placement="bottom">Image</span>
              <span *ngIf="sortedBy === 'image' && !reverse" class="expand-chevron">
                <i class="material-icons">expand_more</i>
              </span>
              <span  *ngIf="sortedBy === 'image' && reverse" class="expand-chevron">
                <i class="material-icons">expand_less</i>
              </span>
            </div>
            <div 
              (click)="setOrder('services','labels')" 
              [ngClass]="getCategoryCSSClass('services','labels')"
              role="columnheader"  
              class="nalej-flex-row-4 services-cell-3">
              <span tooltip="Labels" placement="bottom">Labels</span>
              <span *ngIf="sortedBy === 'labels' && !reverse" class="expand-chevron">
                <i class="material-icons">expand_more</i>
              </span>
              <span  *ngIf="sortedBy === 'labels' && reverse" class="expand-chevron">
                <i class="material-icons">expand_less</i>
              </span>
            </div>
            <div class="nalej-flex-row-4 services-cell-4" role="columnheader">
              <span tooltip="Info" placement="bottom">Info</span>
            </div>
          </div>
          <span *ngIf="getGroupServices(activeGroupId)">
            <div *ngFor=
              "let service of getGroupServices(activeGroupId) |
              sortBy : sortedBy : reverse : 'case-insensitive' |
              filter : searchTerm"
              role="rowgroup" 
              class="nalej-flex-table row">
              <div role="cell" class="nalej-flex-row-4 services-cell-1 nalej-flex-td wider-cell"> 
                {{service.name}}
              </div>
              <div role="cell" class="nalej-flex-row-4 services-cell-2 nalej-flex-td">{{service.image}}</div>
              <div role="cell" class="nalej-flex-row-4 services-cell-3 nalej-flex-td">
                <button 
                  *ngFor="let label of objectToString(service.labels)"
                  class="label-content"
                  disabled> 
                  {{label[0]}}: {{label[1]}} 
                </button>
              </div>
              <div role="cell" class="nalej-flex-row-4 services-cell-4 nalej-flex-td">
                <div    
                  (click)="openServicesInfo(service)" 
                  tooltip="Info" 
                  placement="left">
                  <i class="material-icons info-icon">info</i>
                </div>
              </div>
            </div>
          </span>
        </div>
        <!-- No info to show -->
        <div *ngIf=
          "loadedData &&
          !requestError &&
          registeredData.groups.length === 0" 
          class="no-elements">
          No available services
        </div>
        <!-- Requested error -->
        <div *ngIf="loadedData && requestError" class="no-elements">
          <p>{{ requestError }}</p>
        </div>
        <!-- Loader -->
        <div *ngIf="!loadedData" class="nalej-loader-box">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle 
                class="path" 
                cx="50" 
                cy="50" 
                r="20" 
                fill="none" 
                stroke-width="2" 
                stroke-miterlimit="10" />
            </svg>
          </div>
        </div>
      </div>
      <div class="row row-app-rules">
          <div class="col-lg-8">
        <!-- Rules card -->
        <div class="card">
          <div class="card-title-name-mb">
            <h5>RULES</h5>
          </div>
          <div *ngIf=
            "loadedData &&
            registeredData.rules &&
            registeredData.rules.length > 0 &&
            !requestError" 
            class="row mb-3 hide-md-h">
            <!-- Sorting mesages -->
            <div class="col">
              <p *ngIf="searchTermRules && !filterFieldRules" class="sorting-message">
                Filtered by term "{{ searchTermRules }}".
                <span (click)="resetFilters('rules')" class="reset-search">Reset</span>
              </p>
              <p *ngIf="filterFieldRules && !searchTermRules" class="sorting-message">
                Sorted by {{ sortedByRules }},
                <span *ngIf="reverse">ascendant. </span>
                <span *ngIf="!reverse">descendant. </span>
                <span (click)="resetFilters('rules')" class="reset-search">Reset</span>
              </p>
              <p *ngIf="filterFieldRules && searchTermRules" class="sorting-message">
                Sorted by {{ sortedByRules }}
                <span *ngIf="reverse">ascendant </span>
                <span *ngIf="!reverse">descendant </span>
                and filtered by term "{{ searchTermRules }}".
                <span (click)="resetFilters('rules')" class="reset-search">Reset</span>
              </p>
            </div>
            <!-- Search input -->
            <div class="col-6">
              <form>
                <div class="search-box">
                  <input 
                    name="searchTermRules" 
                    [(ngModel)]="searchTermRules"
                    type="text" 
                    placeholder="Search..."
                    class="form-control"> 
                  <div *ngIf="searchTermRules === ''" class="search-icon" >
                    <i class="material-icons">search</i>
                  </div>
                  <div *ngIf="searchTermRules !== ''" class="search-icon" >
                    <i (click)="resetFilters('rules')" class="material-icons">close</i>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Rules table -->
          <div *ngIf=
            "loadedData &&
            registeredData.rules &&
            registeredData.rules.length > 0 &&
            !requestError"
            role="table" 
            aria-label="Rules table"
            class="nalej-flex-table-box hide-xs" >
            <div role="rowgroup" class="nalej-flex-table nalej-flex-th">
              <div 
                (click)="setOrder('rules','name')"
                [ngClass]="getCategoryCSSClass('rules','name')"
                role="columnheader" 
                class="nalej-flex-row-5 rules-cell-1 wider-cell">
                <span tooltip="Name" placement="bottom">Name</span>
                <span *ngIf="sortedByRules === 'name' && !reverseRules" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span *ngIf="sortedByRules === 'name' && reverseRules" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </div>
              <div 
                (click)="setOrder('rules','access')" 
                [ngClass]="getCategoryCSSClass('rules','access')"
                role="columnheader" 
                class="nalej-flex-row-5 rules-cell-2">
                <span class="reg-access-full-text">Access</span> 
                <span *ngIf="sortedByRules === 'access' && !reverseRules" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span *ngIf="sortedByRules === 'access' && reverseRules" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </div>
              <div 
                (click)="setOrder('rules','target')" 
                [ngClass]="getCategoryCSSClass('rules','target')"
                role="columnheader"  
                class="nalej-flex-row-5 rules-cell-3">
                <span tooltip="Target (group, service, port)"  placement="bottom"> 
                  Target <span class="grey typo-small">(g - s - p)</span>
                </span>
                <span *ngIf="sortedByRules === 'target' && !reverseRules" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span *ngIf="sortedByRules === 'target' && reverseRules" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </div>
              <div 
                (click)="setOrder('rules','auth')" 
                [ngClass]="getCategoryCSSClass('rules','auth')"
                role="columnheader"  
                class="nalej-flex-row-5 rules-cell-4">
                <span tooltip="Auth (group, service / device group)" placement="bottom">
                  Auth <span class="grey typo-small"> (g - s/d)</span>
                </span>
                <span *ngIf="sortedByRules === 'auth' && !reverseRules" class="expand-chevron">
                  <i class="material-icons">expand_more</i>
                </span>
                <span *ngIf="sortedByRules === 'auth' && reverseRules" class="expand-chevron">
                  <i class="material-icons">expand_less</i>
                </span>
              </div>
              <div role="columnheader"class="nalej-flex-row-5 rules-cell-4">
                <span tooltip="Info" placement="bottom">Info</span>
              </div>
            </div>
            <div *ngFor=
              "let rule of registeredData.rules |
              sortBy : sortedByRules : reverseRules : 'case-insensitive' |
              filter : searchTermRules"
              role="rowgroup" 
              class="nalej-flex-table row">
              <div role="cell" class="nalej-flex-row-5 rules-cell-1 nalej-flex-td wider-cell"> 
                  {{rule.name | truncate}}
              </div>
              <div role="cell" class="nalej-flex-row-5 rules-cell-2 nalej-flex-td">{{rule.access}}</div>
              <div role="cell" class="nalej-flex-row-5 rules-cell-3 nalej-flex-td">
                  {{rule.target_service_group_name}} - {{rule.target_service_name}} - {{rule.target_port}}
              </div>
              <div role="cell" class="nalej-flex-row-5 rules-cell-4 nalej-flex-td">
                  {{rule.auth_service_group_name}}
                  <span *ngIf="rule.auth_services"> - </span>
                  {{rule.auth_services}}
                  <span *ngIf="rule.device_group_names"></span>
                  {{rule.device_group_names}}
              </div>
              <div role="cell" class="nalej-flex-row-5 rules-cell-5 nalej-flex-td">
                <div    
                  (click)="openRulesInfo(rule)"
                  tooltip="Info" 
                  placement="left">
                  <i class="material-icons info-icon">info</i>
                </div>
              </div>
            </div>
         </div>
          <!-- Rules info button for small vieports -->
          <div *ngIf=
            "loadedData &&
            registeredData.rules &&
            registeredData.rules.length > 0 &&
            !requestError"
            class="rules-info-sm-table-box">
            <div *ngFor="let rule of registeredData.rules" class="rules-info-sm-table">
              <div class="rules-info-sm-text">{{rule.name}}</div>
              <div    
                (click)="openRulesInfo(rule)"
                tooltip="Info" 
                placement="left">
                <i class="material-icons info-icon">info</i>
              </div>
            </div>
          </div>
          <!-- No info to show -->
          <div *ngIf=
            "loadedData &&
            registeredData &&
            !registeredData.rules
            !requestError"
            class="no-elements">
            No available rules detected
          </div>
          <!-- Requested error -->
          <div *ngIf="loadedData && requestError" class="no-elements">
            <p>{{requestError}}</p>
          </div>
          <!-- Loader -->
          <div *ngIf="!loadedData" class="nalej-loader-box">
            <div class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                <circle 
                  class="path" 
                  cx="50" 
                  cy="50" 
                  r="20" 
                  fill="none" 
                  stroke-width="2" 
                  stroke-miterlimit="10" />
              </svg>
            </div>
          </div>
        </div>
        </div>
        <div class="col-lg-4">
        <!-- Configuration card -->
        <div class="card">
          <div class="card-title-name">
            <h5>CONFIGURATION</h5>
          </div>
          <div class="config-card">
            <div *ngIf="registeredData.environment_variables">
              <p class="text-left">Environment variables</p>
              <div *ngFor="let variable of objectToString(registeredData.environment_variables)" class="row mb-2">
                <div class="col-12 grey text-right">
                  {{variable[0]}} 
                </div>
                <div class="col-12 text-right">
                  {{variable[1]}}
                </div>
              </div>
            </div>
            <div *ngIf="!registeredData.environment_variables">
              <p class="text-left">Environment variables</p>
              <p class="grey">No environment variables have been set</p>
            </div>
            <div *ngIf="registeredData.configuration_options">
              <p class="text-left">Other settings</p>
              <div *ngFor="let configuration of objectToString(registeredData.configuration_options)" class="row mb-1">
                <div class="col-12 grey text-right">
                  {{configuration[0]}} 
                </div>
                <div class="col-12 text-right">
                  {{configuration[1]}}
                </div>
              </div>
            </div>
            <div *ngIf="!registeredData.configuration_options">
              <p class="text-left">Other settings</p>
              <p class="grey">No extra settings have been set</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>




