@import '../scss/variables/colors';
@import '../scss/variables/mixins';

/* - - - Card heights - - */
.row-info-app {
    height: 301px;
}
/* - - -  Tables card - - - */
.search-box {
    width: 237px;
    margin-right: 1em;
}
.show-graph-icons {
    cursor: pointer;
    color: $base-grey;
}
.mr-bars {
    margin-right: 11px;
}
@media screen and (max-height: 780px) {
    .hide-title-sm {
        display: none;
    }
}

/* - - -  Config card - - - */
.config-card {
    font-size: .8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    word-wrap: break-word;
    height: 100%;
    overflow-x: scroll;
    @include for-desktop-h {
        text-align: left;
        justify-content: end;
    }
}

/* - - -  Accordion table - - - */
.search-box {
    margin-right: 0;
}
.show-graph-icons {
    cursor: pointer;
    color: $base-grey;
}
.mr-bars {
    margin-right: 11px;
}
.info-icon {
    font-size: 30px;
}
.accordion-box 
.accordion-tabs 
.nalejAccordion 
.accordion-icons-box 
.accordion-btn {
    top: 7px;
    right: 36px;
}
.label-tbody {
    padding: .9rem 0;
    .label-td {
        float: left;
        font-size: .9em;
        color: $base-grey;
        outline: none;
    }
    .label-td-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.card-title-name-mb {
    margin-bottom: .5em;
}
