@import '../scss/variables/colors';
@import '../scss/variables/mixins';

@mixin for-md-desktop-fix {
    @media all and (max-width: 1614px) { @content; }
}

/* - - - Card heights - - */
.row-info-app {
    height: 301px;
}
.row-summary-app {
    height: 261px;
    margin-bottom: 30px;
    @include for-desktop-h {
        margin-bottom: 20px;
    }
}
.row-app-labels {
    height: 29%;
}

/* - - - Apps info card  buttons - - - */
.reg-deploy {
    border: none;
    border-radius: 5px;
    padding: .5em 1em .5em 3em;
    cursor: pointer;
    position: relative;
    font-size: .8em;
    font-weight: 500;
    outline: none; 
    background-color: $base-violet;
    color: #ffffff;
    width: 159px;
    height: 42px;
    line-height: 1.1;
    &:hover {
        color: #ffffff;
        transition: 0.3s;
        background-color: $base-violet;
        opacity: 0.6;
    }
    @include for-md-desktop-fix {
        width: 114px;
    }
}
.reg-undeploy {
    border: none;
    border-radius: 5px;
    padding-left: 2em;
    cursor: pointer;
    position: relative;
    font-size: .8em;
    font-weight: 500;
    outline: none; 
    background-color: $super-light-grey;
    color: $base-red;
    width: 159px;
    height: 42px;
    line-height: 1.1;
    &:hover {
        color: #ffffff;
        transition: 0.3s;
        background-color: $base-red;
        opacity: 0.6;
    }
    @include for-md-desktop-fix {
        width: 114px;
    }
    .i-options {
        position: absolute;
        top: 50%;
        left: 12%;
        transform: translate(-50%, -50%);
        display: block;
        font-size: 1.7em;
        @include for-md-desktop-fix {
            left: 20%;
        }
    }
}
.reg-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.reg-info-id-box {
    height: 79%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.reg-info-id {
    text-align: right;
    font-size:  .9em;
    color: $base-grey;
    display: inline;
}
.reg-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hide-reg-btn-text {
    @include for-md-desktop-fix {
        display: none; 
    }
}
/* - - -  Tables card - - - */
.search-box {
    width: 237px;
    margin-right: 1em;
    margin-right: 0;
}
.show-graph-icons {
    cursor: pointer;
    color: $base-grey;
}

@media screen and (max-height: 780px) {
    .hide-title-sm {
        display: none;
    }
}

/* - - -  Graph - - - */
.graph {
    height: 96%;
}
.show-graph-icons {
    cursor: pointer;
    color: $base-grey;
}

/* - - -  Accordion table - - - */
.card-title-name {
    color: $super-dark-grey;
    margin-bottom: 0;
}
.info-icon {
    font-size: 30px;
}
.services-card-box {
    height:96%;
    .services-table-box {
        height: 50%;
        overflow: hidden;
    }
    .label-thead {
        background-color: $super-light-grey;
    }
    .accordion-box {

        .label-tbody {
            padding: .9rem 0;
            .label-td {
                float: left;
                font-size: .9em;
                color: $base-grey;
                outline: none;
            }
            .label-td-flex {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                text-align: center;
            }
        }
    }
}
