<!-- Component title -->
<div class="row row-title">
  <div class="col-xl-12">
    <h2 class="section-title">Infrastructure</h2>
  </div>
</div>
<div class="row row-app-main">
  <div class="col infrastructure-summary-card">
    <div class="flex-col-app">
      <!-- Infrastructure summary card -->
      <div class="card">
        <div class="card-title-name">
          <h5>SUMMARY</h5>
        </div>
        <div class="summary-card">
          <div *ngIf="ecsTotal > 0" class="summary-box">
            <div class="donut-chart">
              <ngx-charts-pie-chart
                [scheme]="colorScheme" 
                [results]="infrastructurePieChart" 
                [doughnut]= "doughnut"
                [gradient]="gradient"
                [explodeSlices]="false">
              </ngx-charts-pie-chart>
              <div class="donut-number">{{ecsOnline}}/{{ecsTotal}}</div>
            </div>
            <p class="ecs-run">{{ecsOnline}} ECS online</p>
            <p class="circle-name">ECs</p>
          </div>
          <div *ngIf="ecsTotal === 0"  class="no-elements">
            <p>NO ECs DETECTED</p>
          </div>
          <div class="summary-box">
            <div class="circle">
              <span>{{cpuCores}}</span>
              <span class="circle-measure">Cores</span>
            </div>
            <span class="circle-name-sm">OVERALL</span> 
            <p class="circle-name">CPU</p>
          </div>  
          <div class="summary-box">
            <div class="circle">
              <span>{{RAM}}</span>
              <span class="circle-measure">Gb</span>
            </div>
            <span class="circle-name-sm">OVERALL</span> 
            <p class="circle-name">RAM</p>
          </div> 
          <div class="summary-box">
            <div class="circle">
              <span>{{storage}}</span>
              <span class="circle-measure">Gb</span>
            </div>
            <span class="circle-name-sm">OVERALL</span> 
            <p class="circle-name">STORAGE</p>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="col h-100">
    <div class="flex-col-app">
      <!-- Infrastructure table card -->
      <div class="card">
        <div class="card-title-name">
          <h5>INVENTORY</h5>
        </div>
        <!-- Install buttons -->
        <div class="install-options">
          <button
            (click)="installAgent()"
            [ngClass]= 
            "{
              'install-options-btn': ecsTotal > 0,
              'install-options-btn-disabled': ecsTotal === 0
            }"
            [disabled]="ecsTotal===0"
            
            >
            <i class="material-icons i-options">publish</i>
            Install agent
          </button>
          <button
            class="install-options-btn d-none">
            <i class="material-icons i-options">publish</i>
            Install Nalej
          </button>
        </div>
        <div class="row">
          <!-- Quick filters -->
          <div class="col">
            <div class="quick-filters-title">QUICK FILTERS</div>
            <button 
              (click)="addQuickFilter('EC')"     
              [ngClass]=
              "{
                'quick-filters-btn-selected': quickFilter === 'EC',
                'quick-filters-btn': '!quickFilter'
              }" 
              tooltip="ECs" 
              placement="bottom"
              class="quick-filters-btn">
              <i class="material-icons i-filters">storage</i>
              <span>ECS</span>
            </button>
            <button  
              (click)="addQuickFilter('ASSET')" 
              [ngClass]=
              "{
                'quick-filters-btn-selected': quickFilter === 'ASSET',
                'quick-filters-btn': '!quickFilter'
              }"    
              tooltip="Assets" 
              placement="bottom"
              class="quick-filters-btn">
              <i class="material-icons i-filters">computer</i>
               <span>ASSETS</span>
            </button>
            <button 
              (click)="addQuickFilter('DEVICE')" 
              [ngClass]=
              "{
                'quick-filters-btn-selected': quickFilter === 'DEVICE',
                'quick-filters-btn': '!quickFilter'
              }"    
              tooltip="Devices" 
              placement="bottom"
              class="quick-filters-btn"> 
              <i class="material-icons i-filters">devices_other</i>
               <span>DEVICES</span>
            </button>
          </div>
          <!-- Search input -->
          <div class="col-4">
            <form>
              <div class="search-box">
                <input 
                  name="searchTerm" 
                  [(ngModel)]="searchTerm"
                  type="text" 
                  placeholder="Search..."
                  class="form-control"> 
                  <div *ngIf="searchTerm === ''" class="search-icon">
                    <i class="material-icons">search</i>
                </div>     
                <div *ngIf="searchTerm !== ''" class="close-icon">
                  <i (click)="resetFilters(filterField)" class="material-icons">close</i>
                </div>
              </div>
            </form>
          </div>      
        </div>
        <!-- Sorting mesages -->
        <div class="row row-sorting-lg">      
          <div class="col">  
            <p *ngIf="searchTerm && !filterField && !quickFilter" class="sorting-message">
              {{ ( inventory | filter : quickFilter : ['type'] | filter : searchTerm : ['type', 'id', 'location', 'labels', 'status'])?.length }}  results found. Filtered by term "{{ searchTerm }}".
              <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
            </p>
            <p *ngIf="filterField && !searchTerm && !quickFilter" class="sorting-message">
              Sorted by {{ sortedBy }},
              <span *ngIf="reverse">ascendant. </span>
              <span *ngIf="!reverse">descendant. </span>
              <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
            </p>
            <p *ngIf="quickFilter && !filterField && !searchTerm" class="sorting-message">
              {{ ( inventory | filter : quickFilter : ['type'] | filter : searchTerm : ['type', 'id', 'location', 'labels', 'status'])?.length }} results found. Filtered by {{ quickFilter }}.
              <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
            </p> 
            <p *ngIf="filterField && searchTerm" class="sorting-message">
              {{ ( inventory | filter : quickFilter : ['type'] | filter : searchTerm : ['type', 'id', 'location', 'labels', 'status'])?.length }}  results found. Sorted by {{ sortedBy }}
              <span *ngIf="reverse">ascendant </span>
              <span *ngIf="!reverse">descendant </span>
              and filtered by term "{{ searchTerm }}".
              <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
            </p> 
            <p *ngIf="filterField && quickFilter && !searchTerm" class="sorting-message">
              {{ ( inventory | filter : quickFilter : ['type'] | filter : searchTerm : ['type', 'id', 'location', 'labels', 'status'])?.length }}  results found. Sorted by {{ sortedBy }}
              <span *ngIf="reverse">ascendant </span>
              <span *ngIf="!reverse">descendant </span>
              and filtered by {{ quickFilter }}.
              <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
            </p> 
            <p *ngIf="quickFilter && searchTerm && !filterField" class="sorting-message">
              {{ ( inventory | filter : quickFilter : ['type'] | filter : searchTerm : ['type', 'id', 'location', 'labels', 'status'])?.length }} results found. Filtered by term "{{ searchTerm }}" and by {{ quickFilter }}.
              <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
            </p> 
          </div>
        </div>
        <div *ngIf=
          "loadedData && 
          inventory && 
          inventory.length > 0 && 
          !requestError" 
          class="nalej-table-box">
          <table class="nalej-table">
            <thead class="nalej-thead">
              <tr>
                <th 
                  (click)="setOrder('type')"            
                  [ngClass]="getCategoryCSSClass('type')"
                  tooltip="Type" 
                  placement="bottom"
                  scope="col" 
                  class="col-1 infrastructure-type-initial-text">
                  <span class="infrastructure-type-full-text">Type</span>
                  <span *ngIf="sortedBy === 'type' && !reverse" class="expand-chevron">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span *ngIf="sortedBy === 'type' && reverse" class="expand-chevron">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  (click)="setOrder('id')"            
                  [ngClass]="getCategoryCSSClass('id')"
                  scope="col" 
                  class="col-2">
                  <span tooltip="ID" placement="bottom">ID</span>
                  <span *ngIf="sortedBy === 'id' && !reverse" class="expand-chevron">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span *ngIf="sortedBy === 'id' && reverse" class="expand-chevron">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  (click)="setOrder('location')"
                  [ngClass]="getCategoryCSSClass('location')"
                  scope="col" 
                  class="col-2">
                  <span tooltip="ID" placement="bottom">Location</span>
                  <span *ngIf="sortedBy === 'location' && !reverse" class="expand-chevron">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span *ngIf="sortedBy === 'location' && reverse" class="expand-chevron">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  (click)="setOrder('labels')" 
                  [ngClass]="getCategoryCSSClass('labels')"
                  scope="col" 
                  class="col-4">
                  <span tooltip="Labels" placement="bottom">Labels</span>
                  <span *ngIf="sortedBy === 'labels' && !reverse" class="expand-chevron">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span *ngIf="sortedBy === 'labels' && reverse" class="expand-chevron">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  (click)="setOrder('status')" 
                  [ngClass]="getCategoryCSSClass('status')"
                  scope="col" 
                  class="col-2 text-center">
                  <span tooltip="Status" placement="bottom">Status</span>
                  <span *ngIf="sortedBy === 'status' && !reverse" class="expand-chevron">
                    <i class="material-icons">expand_more</i>
                  </span>
                  <span *ngIf="sortedBy === 'status' && reverse" class="expand-chevron">
                    <i class="material-icons">expand_less</i>
                  </span>
                </th>
                <th 
                  tooltip="Actions" 
                  placement="bottom"
                  scope="col" 
                  class="col-1 text-center infrastructure-actions-initial-text">
                  <span class="infrastructure-actions-full-text">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=
                "let item of inventory |
                sortBy : sortedBy : reverse : 'case-insensitive' |
                filter : searchTerm : ['type', 'id', 'location', 'labels', 'status']|
                filter : quickFilter : ['type']" >
                <td class="col-1">
                  <span tooltip="Type" placement="top">{{item.type}}</span>
                </td>
                <td class="col-2">
                  <span tooltip="ID" placement="top">{{item.id}}</span>
                </td>
                <td class="col-2">
                  <span tooltip="Location" placement="top">
                    {{item.location}}
                  </span>
                </td>
                <td *ngIf="item.labels" class="col-4">
                  <button 
                    *ngFor="let label of item.labels | keyvalue" 
                    (click)="onLabelClick(item, label.key, label.value)"
                    [ngClass]=
                    "{
                      'label-btn-selected': indexOfLabelSelected(item.id, label.key, label.value) >= 0 ,
                      'btn-outline-primary': indexOfLabelSelected(item.id, label.key, label.value) === -1
                    }" 
                    class="btn-sm btn-outline-primary">
                      {{label.key}}: {{label.value}}
                  </button>
                  <div class="label-btns">
                    <div 
                      *ngIf="isAnyLabelSelected(item.id) === false"
                      (click)="addLabel(item)"
                      tooltip="Add" 
                      placement="right"
                      class="label-btn-blue">
                      <i class="material-icons i-add">add</i>
                    </div>
                    <div 
                      *ngIf="isAnyLabelSelected(item.id) === true"
                      (click)="deleteLabel(item)"
                      tooltip="Delete" 
                      placement="right"
                      class="label-btn-red">
                      <i class="material-icons i-delete">delete</i>
                    </div>
                  </div>
                </td>
                <td class="col-2 col-center-lowercase"> 
                  <span *ngIf="item.status"
                    [ngClass]=
                      "{
                        'status-dot': classStatusCheck(item.status, 'online'),
                        'status-dot-error': classStatusCheck(item.status, 'offline'),
                        'status-dot-process': classStatusCheck(item.status, 'process')
                      }"
                    tooltip="{{item.status}}" 
                    placement="bottom"
                    class="status-dot">
                  </span>
                  <span *ngIf="item.status" class="hide-lg">
                    {{item.status}}
                  </span>
                </td>
                <td class="col-1 text-center">
                  <button 
                    (click)="openContextualMenu(item)"
                    [ngClass]=
                      "{
                        'action-btn-grey': item.id !== activeContextMenuItemId,
                        'action-btn-grey-selected': item.id === activeContextMenuItemId
                      }" 
                    class="action-btn-grey position-relative">
                    <i class="material-icons i-black">more_vert</i>
                    <app-contextual-menu 
                      [visible]="item.id === activeContextMenuItemId" 
                      [options]=getItemOptions(item)>
                    </app-contextual-menu>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- No info to show -->
        <div *ngIf=
          "loadedData &&
          inventory.length === 0 &&
          !requestError" 
          class="no-elements">
          No available inventory detected
        </div>
        <!-- Requested error -->
        <div *ngIf="loadedData && requestError" class="no-elements">
          <p>{{requestError}}</p>
        </div>
        <!-- Loader -->
        <div *ngIf="!loadedData" class="nalej-loader-box">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle 
                class="path" 
                cx="50" 
                cy="50" 
                r="20" 
                fill="none" 
                stroke-width="2" 
                stroke-miterlimit="10"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>