<div 
  *ngIf="notifications.length > 0"
  id="alert-container" 
  class="container alert-top-right">
  <div *ngFor="let alert of notifications" class="row">
    <div class="col-12">
      <alert 
        (onClosed)="onClosed(alert)" 
        [dismissible]="dismissible" 
        [type]="alert.type" 
        [dismissOnTimeout]="alert.timeout">
        <span class="alert-icon">
          <i class="material-icons">info</i>
        </span>
        <span [innerHtml]="alert.message" class="alert-message">
          {{alert.message}}
        </span>
      </alert>
    </div>
  </div>
</div>
