<!-- Component title -->
<div class="row row-title mb-4">
  <div class="col-lg-2">
    <h2>Devices</h2>
  </div>
  <div class="col-lg-8">
    <div 
      *ngFor="let group of groups"
      class="close-group-button">
      <button  
        *ngIf="activeGroupId === group.device_group_id" 
        (click)="changeActiveGroup('ALL')"
        class="button">
        <span>{{group.name}}<span class="close-trigger">X</span></span>
      </button>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
<!-- Summary and devices status timeline row -->
<div *ngIf="devices.length === 0 ||  activeGroupId === 'ALL'"  class="row row-info">
  <!-- Summary group info card for all -->
  <div class="col-lg-4 h-100">
    <div class="card h-100">
      <div class="card-title-c">
        <h5 class="text-uppercase">Summary</h5>
      </div>
      <div *ngIf="groups.length > 0" class="summary-card">
        <div>
          <div class="circle summary-box">
            <span class="align-self-center mt-1">{{groups.length}}</span>
          </div>
          <p class="circle-name text-center text-uppercase mt-3">Groups</p>
        </div>
        <div>
          <div class="circle summary-box">
            <span class="align-self-center mt-1">{{devicesCount}}</span>
          </div>
          <p class="circle-name text-center text-uppercase mt-3">Devices</p>
        </div>
      </div>
      <div 
        *ngIf="groups.length === 0"
        class="summary-card d-flex justify-content-center align-items-center">
        No available devices detected
      </div>
    </div>
  </div>
  <!-- Devices status timeline info card for all -->
  <div class="col-lg-8 h-100">
    <div class="card p-4 h-100">
      <div class="card-title-c">
        <h5>DEVICES STATUS TIMELINE</h5>
      </div>
      <div 
        *ngIf="groups.length === 0" 
        class="h-100 d-flex justify-content-center align-items-center box-line-chart text-center"> 
        No devices
      </div>
      <div *ngIf="groups.length > 0" class="h-100 box-line-chart">
        <ngx-charts-line-chart
          [scheme]="colorScheme"
          [results]="devicesChart"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [gradient]="gradient" 
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [yScaleMin]="0"
          [yScaleMax]="100"
          [showGridLines]="showGridLines"
          [showRefLines]="showRefLines"
          [schemeType]="schemeType"
          [customColors]="customColors"
          [rangeFillOpacity]="rangeFillOpacity"
          [referenceLines]="referenceLines"
          [showRefLabels]="showRefLabels"
          >
        </ngx-charts-line-chart>
        <div class="y-axis-line-chart">
          <span class="grey">100%</span>
          <span class="grey mb-4">0%</span>
        </div>  
      </div>
    </div>
  </div>
</div>
<span *ngFor="let group of groups">
  <div *ngIf="activeGroupId === group.device_group_id"  class="row row-info">
    <!-- Summary group info card -->
    <div  class="col-lg-4 h-100">
      <div  class="card h-100">
        <div class="card-title-c">
          <h5 class="text-uppercase">Summary {{group.name}}</h5>
        </div>
        <div class="summary-card" >
          <table class="table summary-devices-table">
            <tr>
              <th class="grey">
                Availability
              </th>
              <td 
                *ngIf="group.enabled === 'enabled'" 
                class="summary-devices-availability blue">
                ENABLED
              </td>
              <td 
                *ngIf="group.enabled === 'disabled'" 
                class="summary-devices-availability red">
                DISABLED
              </td>
            </tr>
            <tr>
              <th class="grey">
                API Key
              </th>
              <td 
                class="dark-grey" 
                tooltip= "API Key" 
                placement="bottom">
                {{group.device_group_api_key}}
              </td> 
            </tr>
            <tr>
              <th class="grey">
                Devices
              </th>
              <td class="summary-devices-running">{{devicesCount}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Devices status timeline info card -->
    <div class="col-lg-8 h-100">
      <div class="card p-4 h-100">
        <div class="card-title-c">
          <h5 class="text-uppercase">{{group.name}} DEVICES STATUS TIMELINE</h5>
        </div>
        <div 
          *ngIf="groups.length === 0" 
          class="h-100 d-flex justify-content-center align-items-center box-line-chart text-center"> 
          No devices deployed yet
        </div>
        <div *ngIf="groups.length > 0" class="h-100 box-line-chart">
          <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="devicesChart"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [gradient]="gradient" 
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [yScaleMin]="0"
            [yScaleMax]="100"
            [showGridLines]="showGridLines"
            [showRefLines]="showRefLines"
            [schemeType]="schemeType"
            [customColors]="customColors"
            [rangeFillOpacity]="rangeFillOpacity"
            [referenceLines]="referenceLines"
            [showRefLabels]="showRefLabels"
            >
          </ngx-charts-line-chart>
          <div class="y-axis-line-chart">
            <span class="grey">100%</span>
            <span class="grey mb-4">0%</span>
          </div>  
        </div>
      </div>
    </div>
  </div>
</span>
<!-- Deployed devices list panel card-->
<div class="row row-main">
  <div class="col-lg-12 col-md-12 col-sm-12 h-100">
    <div class="card h-100 p-4">
      <div class="card-title-h">
        <h5>DEVICES</h5>
      </div>
      <!-- Devices tabs -->
      <div class="devices-tab-container">
        <ul>
          <li class="devices-tab devices-tab-title">
            <span class="grey">GROUPS</span>
          </li>
          <li 
            *ngIf="groups.length > 0" 
            class="devices-tab" 
            (click)="changeActiveGroup('ALL')">
            <span [ngClass]="amIactive('ALL')">ALL</span>
          </li>
          <li 
            *ngIf="groups.length === 0" 
            class="devices-tab">
            <span class="active">ALL</span>
          </li>
          <li 
            [ngClass]="haveIGroups(groups)"
            (click)="swipeLeft()" 
            class="tabs-arrow" >
            <i class="material-icons">arrow_left</i>
          </li>
          <li 
            *ngFor="let group of displayedGroups"
            class="devices-tab"
            (click)="changeActiveGroup(group.device_group_id)">
            <span *ngIf="displayedGroups.length > 0" [ngClass]="amIactive(group.device_group_id)">
              {{group.name}}
            </span>
          </li>
          <li 
            [ngClass]="haveIGroups(groups)"
            (click)="swipeRight()"
            class="tabs-arrow">
            <i class="material-icons">arrow_right</i>
          </li>
          <ul class="devices-tab-button" *ngIf="activeGroupId === 'ALL' || groups.length === 0">
            <li>
              <span class="devices-button-item blue devices-button-item-pr" (click)="addGroup()">
                <i class="material-icons">add</i>
                ADD GROUP 
              </span>
            </li>
          </ul>
          <ul class="devices-tab-button" *ngIf="activeGroupId !== 'ALL' && groups.length > 0">
            <li>
              <span class="devices-button-item blue" (click)="addGroup()">
                <i class="material-icons">add</i>
                ADD GROUP 
              </span>
            </li>
            <li>
              <span class="devices-button-item" (click)="deleteGroup()" >
                <i class="material-icons">delete</i>
                DELETE GROUP
              </span>
            </li>
            <li>
              <span 
                (click)="openGroupConfiguration()" 
                class="devices-button-item">
                <i class="material-icons">settings</i>
                CONFIGURATION
              </span>
            </li>
          </ul>
        </ul>
      </div>       
      <div class="row justify-content-between">
        <!-- Sorting mesages -->
        <div class="col-9">  
          <p *ngIf="searchTerm && !filterField" class="sorting-message">
            Filtered by term "{{ searchTerm }}".
            <span class="blue reset-search" (click)="resetFilters(filterField)">Reset</span>
          </p>
          <p *ngIf="filterField && !searchTerm" class="sorting-message">
            Sorted by {{ sortedBy }},
            <span *ngIf="reverse">ascendant. </span>
            <span *ngIf="!reverse">descendant. </span>
            <span class="blue reset-search" (click)="resetFilters(filterField)">Reset</span>
          </p>
          <p *ngIf="filterField && searchTerm" class="sorting-message">
            Sorted by {{ sortedBy }}
            <span *ngIf="reverse">ascendant </span>
            <span *ngIf="!reverse">descendant </span>
            and filtered by term "{{ searchTerm }}".
            <span class="blue reset-search" (click)="resetFilters(filterField)">Reset</span>
          </p> 
        </div>
        <!-- Search input -->
        <div class="col-3">
          <form>
            <div class="search-box">
              <input 
                type="text" 
                class="form-control" 
                name="searchTerm" 
                placeholder="Search..." 
                [(ngModel)]="searchTerm"> 
                <div class="search-icon" *ngIf="searchTerm === ''">
                  <i class="material-icons">search</i>
                </div>     
                <div class="close-icon" *ngIf="searchTerm !== ''">
                  <i class="material-icons" (click)="resetFilters(filterField)">close</i>
                </div>
            </div>
          </form>
        </div>      
      </div>
      <!-- Devices table -->
      <div class="table-h" *ngIf="loadedData && devices && devices.length > 0 && !requestError" >
        <table class="table-responsive table-fixed">
          <thead>
            <tr>
              <th 
                (click)="setOrder('id')"
                [ngClass]="getCategoryCSSClass('id')"
                scope="col" 
                class="col-2">
                ID
                <span class="expand-chevron" *ngIf="sortedBy === 'id' && !reverse">
                  <i class="material-icons">expand_more</i>
                </span>
                <span class="expand-chevron" *ngIf="sortedBy === 'id' && reverse">
                  <i class="material-icons">expand_less</i>
                </span>
              </th>
              <th 
                (click)="setOrder('date')" 
                [ngClass]="getCategoryCSSClass('date')"
                scope="col" 
                class="col-2">
                Date registered
                <span class="expand-chevron" *ngIf="sortedBy === 'date' && !reverse">
                  <i class="material-icons">expand_more</i>
                </span>
                <span class="expand-chevron" *ngIf="sortedBy === 'date' && reverse">
                  <i class="material-icons">expand_less</i>
                </span>
              </th>
              <th 
                (click)="setOrder('status')" 
                [ngClass]="getCategoryCSSClass('status')"
                scope="col" 
                class="col-2 text-center">
                Status
                <span class="expand-chevron" *ngIf="sortedBy === 'status' && !reverse">
                  <i class="material-icons">expand_more</i>
                </span>
                <span class="expand-chevron" *ngIf="sortedBy === 'status' && reverse">
                  <i class="material-icons">expand_less</i>
                </span>
              </th> 
              <th 
                (click)="setOrder('labels')" 
                [ngClass]="getCategoryCSSClass('labels')"
                scope="col" 
                class="col-5">
                Labels
                <span class="expand-chevron" *ngIf="sortedBy === 'labels' && !reverse">
                  <i class="material-icons">expand_more</i>
                </span>
                <span class="expand-chevron" *ngIf="sortedBy === 'labels' && reverse">
                  <i class="material-icons">expand_less</i>
                </span>
              </th>
              <th scope="col" class="col-1 text-center">
                Enabled
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let devicesGroup of devices">
              <span *ngFor="let device of devicesGroup  | sortBy : sortedBy : reverse : 'case-insensitive' | filter : searchTerm">
                <span *ngIf="activeGroupId === 'ALL'">
                    <td class="col-2">{{device.device_id}}</td>
                    <td class="col-2">{{device.register_since}}</td>  
                    <td 
                      class="text-lowercase col-2 text-center"
                      [ngClass]=
                      "{'status-dot':classStatusCheck(device.status_name, 'connected'),
                      'status-dot-error':classStatusCheck(device.status_name, 'disconnected'),
                      'status-dot-process':classStatusCheck(device.status_name, 'process')}"> 
                      <span 
                        tooltip="{{device.status_name}}" 
                        class="tooltip-fix text-capitalize" 
                        placement="auto">
                      </span>
                      <span class="hide text-capitalize">
                        {{device.status_name}}
                      </span>
                    </td>
                    <td class="col-5">
                      <button 
                        *ngFor="let label of labelsToString(device.labels)" 
                        class="btn-sm btn-outline-primary" 
                        disabled>
                        {{label[0]}}: {{label[1]}}
                      </button>
                    </td>
                    <td class="col-1 text-center">
                      <span 
                        *ngIf="!device.enabled" 
                        (click)="enableSwitcher(device)">
                        <i class="material-icons grey">check_box_outline_blank</i>
                      </span>
                      <span 
                        *ngIf="device.enabled"  
                        (click)="enableSwitcher(device)" 
                        class="devices-checkbox">
                        <i class="material-icons blue">check_box</i>
                      </span>
                    </td>
                </span>
                <span *ngIf="activeGroupId === devicesGroup[0].device_group_id">
                  <td class="col-2">{{device.device_id}}</td>
                  <td class="col-2">{{device.register_since}}</td>  
                  <td 
                    class="text-lowercase col-2 text-center"
                    [ngClass]=
                    "{'status-dot':classStatusCheck(device.status_name, 'connected'),
                    'status-dot-error':classStatusCheck(device.status_name, 'disconnected'),
                    'status-dot-process':classStatusCheck(device.status_name, 'process')}"> 
                    <span 
                      tooltip="{{device.status_name}}" 
                      class="tooltip-fix text-capitalize" 
                      placement="auto">
                    </span>
                    <span class="hide text-capitalize">
                      {{device.status_name}}
                    </span>
                  </td>
                  <td class="col-5">
                    <button 
                      *ngFor="let label of labelsToString(device.labels)" 
                      class="btn-sm btn-outline-primary" 
                      disabled>
                      {{label[0]}}: {{label[1]}}
                    </button>
                  </td>
                  <td class="col-1 text-center">
                    <span 
                      *ngIf="!checkBox" 
                      (click)="enabled()">
                      <i class="material-icons grey">check_box_outline_blank</i>
                    </span>
                    <span 
                      *ngIf="checkBox"  
                      (click)="enabled()" 
                      class="devices-checkbox">
                      <i class="material-icons blue">check_box</i>
                    </span>
                  </td>
                </span>
              </span>
            </tr>
          </tbody>
        </table>
      </div>
        <!-- No info to show -->
      <div 
        *ngIf="loadedData && devices && devices.length === 0 && !requestError"
        class="no-devices d-flex justify-content-center align-items-center">
        No available devices detected
      </div>
        <!-- Requested error -->
      <div
        *ngIf="loadedData && requestError"
        class="no-elements d-flex justify-content-center align-items-center">
        <p>{{ requestError }}</p>
      </div>
      <!-- Loader -->
      <div class="nalej-loader-container" *ngIf="!loadedData">
        <div class="loader">
          <svg 
            class="circular" 
            viewBox="25 25 50 50">
            <circle 
              class="path" 
              cx="50" 
              cy="50" 
              r="20" 
              fill="none" 
              stroke-width="2" 
              stroke-miterlimit="10"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>