/* - - - Summary device card - - - */
.devices-availability-size {
    font-size: 0.8em!important;
    text-transform: uppercase;
}
/* - - - Device Status card - - - */
.box-line-chart {
    width:93%;
}
/* - - - Devices list table card - - - */
.no-devices {
    height: 70%;
}
.no-devices-in-group {
    position: absolute;
    bottom: 33%;
    left: 33%;
}
/* - - - Medias Devices list card - - - */
@media  screen and (max-height: 967px) {
    .no-devices {
        height: 60%;
    }
}

/* - - - Devices tabs buttons - - - */
.devices-tab-buttons-container {
    font-size: .6em;
    margin-bottom: 1em;
    .devices-tab-button {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        float: right;
        color: #949494;
        li {
            font-size: 1em;
            float: left;
            padding: 0rem 1.5rem;
            cursor: pointer;
            position: relative;
        }
        span {
            display: block;
            text-decoration: none;
            display: block;
            transition: .3s background-color;
            &.active {
                color: #0937FF;
                &::before {
                    content: "";
                    height: 5px;
                    width: 100%;
                    display: block;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    background-color: #0937FF;
                }
            }
        }
        .devices-button-item {
            i {
                font-size: 1.4em;
                margin-right: .2em;
                vertical-align: middle;
            }
        }
        .devices-button-item-pr {
            padding-right: 3em;
        }
    }
}

/* - - - Devices tabs - - - */
.devices-tab-container {
    margin-bottom: 2em;
    margin-right: 3em;
    font-size: .6em;
    border-bottom: 1px solid #ececec;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    li {
        font-size: 1em;
        float: left;
        padding: 0.5rem 2.5rem;
        cursor: pointer;
        position: relative;
    }
    .tabs-arrow {
        color: #949494;
        padding: 0rem 2rem;
    }
    .devices-tab-title {
        cursor: default;
        padding-right: 8em;
    }
    .devices-tab {
        text-transform: uppercase;
    }
    span {
        display: block;
        text-decoration: none;
        display: block;
        transition: .3s background-color;
        &.active {
          color: #0937FF;
          &::before {
            content: "";
            height: 5px;
            width: 100%;
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            background-color: #0937FF;
          }
        }
    }
}
/* - - -Summary card devices table - - - */
.summary-devices-table {
    margin-bottom: -1em;
    td {
        padding: 0.2rem;
        vertical-align: middle;
        font-size:  .9em;
        border: none;
        text-align: right;
        max-width: 180px;
    }
    th {
        padding: 0.2em;
        border: none;
        font-size:  .9em;
        font-weight: 200;
    }
    tr {
        border: none;
    } 
}
.summary-devices-availability {
    font-size: 1.4em !important;
    text-transform: uppercase;
}
.devices-availability-size {
    font-size: 1.0em!important;
    text-transform: uppercase;
}
.summary-devices-running {
    font-size: 2em !important;
}
.summary-card-small {
    display: none;
}

/* - - - Medias summary card devices table - - - */
@media screen and (max-width:1720px), screen and (max-height: 780px) {
    .summary-card {
        .devices-availability-size {
            font-size: 0.8em!important;
        }
        .summary-devices-availability, 
        .summary-devices-running {
            font-size: 1em !important;
        }
    }
    .devices-tab-container li {
        padding: 0.5rem 1.2rem;
    }
    .devices-tab-button {
        li {
            padding: 0rem 1.2rem !important;
        }
    }
}
@media screen and (max-width:1440px) {
    .summary-card{
        th {
            display: none;
        } 
        td {
            font-size: .7em;
        }
    }
    .devices-tab-container li {
        padding: 0.5rem .9rem;
    }
    .devices-button-item-pr {
        padding-right: 0em !important;
    }
    .devices-tab-title {
        padding-right: 4em !important;
    }
    .devices-tab-button {
        li {
            padding: 0rem .9rem !important;
        }
    }
}

/* - - - Close group button - - - */
.close-group-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .button {
        outline: none;
        display: inline-block;
        background-color: #0937FF;
        border-radius: 50px;
        border: none;
        color: #FFFFFF;
        font-size: .8em;
        font-weight: 100;
        padding-bottom: .5em;
        padding-top: .6em;
        width: 161px;
        transition: all 0.5s;
        cursor: pointer;
        text-transform: uppercase;
        span.close-trigger {
            font-size: 1.2em !important;
            margin-left: 40px;
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
    }
}
.devices-checkbox {
    cursor: pointer;
}
.opacity {
    opacity: 0;
    pointer-events: none;
}