@mixin for-quarter-only {
    @media all and (max-width:1720px), all and  (max-height: 780px) { @content; }
}
@mixin for-desktop-up {
    @media all and (max-width: 1440px) { @content; }
}
/* - - - Device Status card - - - */
.line-chart-box {
    width: 93%;
}
/* - - - Devices tabs buttons - - - */
.devices-tab-btns-box {
    font-size: .6em;
    margin-bottom: 1em;
        .devices-tab-btn {
        list-style: none;
        float: right;
        color: #949494;
        li {
            font-size: 1em;
            float: left;
            padding: 0rem 1.5rem;
            cursor: pointer;
            position: relative;
            @include for-quarter-only {
                padding: 0 1.2rem;
            }
            @include for-desktop-up {
                padding: 0 .9rem;
            }
        }
        span {
            display: block;
            text-decoration: none;
            display: block;
            transition: .3s background-color;
            &.active {
                color: #0937FF;
                &::before {
                    content: "";
                    height: 5px;
                    width: 100%;
                    display: block;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    background-color: #0937FF;
                }
            }
            i {
                font-size: 1.4em;
                margin-right: .2em;
                vertical-align: middle;
            }
        }
        .devices-button-item-pr {
            padding-right: 3em;
            @include for-desktop-up {
                padding-right: 0;
            }
        }
    }
}

/* - - -Summary card devices table - - - */
.summary-devices-table {
    margin-bottom: -1em;
    color: #949494;
    tr {
        border: none;
    } 
    th {
        padding: .2em;
        border: none;
        font-size:  .9em;
        font-weight: 200;
        @include for-desktop-up {
            display: none;
        }
    }
    td {
        padding: .2rem;
        vertical-align: middle;
        font-size:  .9em;
        border: none;
        text-align: right;
        max-width: 180px;
        @include for-desktop-up {
            font-size:  .7em;
        }
    }
    .summary-devices-lh {
        line-height: 1;
    }
    .summary-devices-availability {
        font-size: 1.4em;
        text-transform: uppercase;
        @include for-quarter-only {
            font-size: 1em;
        }
    }
    .summary-devices-running {
        font-size: 2em;
        color: black;
        @include for-quarter-only {
            font-size: 1em;
        }
    }
    .summary-devices-conectivity {
        font-size: 1.0em;
        text-transform: uppercase;
        @include for-quarter-only {
            font-size: .8em;
        }
    }
}

/* - - - Close group button - - - */
.close-group-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .button {
        outline: none;
        display: inline-block;
        background-color: #0937FF;
        border-radius: 50px;
        border: none;
        color: #FFFFFF;
        font-size: .8em;
        font-weight: 100;
        padding-bottom: .5em;
        padding-top: .6em;
        width: 161px;
        transition: all 0.5s;
        cursor: pointer;
        text-transform: uppercase;
        span.close-trigger {
            font-size: 1.2em !important;
            margin-left: 40px;
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
    }
}
.devices-checkbox {
    cursor: pointer;
}
.opacity {
    opacity: 0;
    pointer-events: none;
}