<!-- Component title -->
<div class="row row-title">
  <div class="col-12">
    <h2 class="section-title">{{'devices.title' | translate}}</h2>
  </div>
</div>
<!-- Summary and devices status timeline row -->
<div class="row row-info">
  <div class="col-lg-4 h-100">
    <div class="card">
      <div class="card-title-name">
        <h5>{{'devices.summary.title' | translate}}</h5>
      </div>
      <div *ngIf="groups && groups.length > 0" class="summary-card">
        <div class="summary-box">
          <div class="circle">
              <span >{{groups.length}}</span>
          </div>
          <p class="circle-name">{{'devices.summary.groups.title' | translate}}</p>
        </div>        
        <div class="summary-box">
          <div class="circle">
            <span>{{countDevices()}}</span> 
          </div>
            <p class="circle-name">{{'devices.title' | translate}}</p>
        </div>
      </div>
      <div *ngIf="groups && groups.length === 0" class="no-elements">
        {{'devices.summary.noAvailable' | translate}}
      </div>
    </div>
  </div>
  <div class="col-lg-8 h-100">
    <div class="card p-4">
      <div class="card-title-name">
        <h5>{{'devices.status.title' | translate}}</h5>
      </div>
      <div *ngIf="countDevices() === 0" class="no-elements"> 
        {{'devices.noDevices' | translate}}
      </div>
      <div *ngIf="countDevices() > 0" class="line-chart-box">
        <ngx-charts-line-chart
          [scheme]="colorScheme"
          [results]="devicesChart"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [gradient]="gradient" 
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [yScaleMin]="0"
          [yScaleMax]="100"
          [showGridLines]="showGridLines"
          [showRefLines]="showRefLines"
          [schemeType]="schemeType"
          [customColors]="customColors"
          [rangeFillOpacity]="rangeFillOpacity"
          [referenceLines]="referenceLines"
          [showRefLabels]="showRefLabels">
        </ngx-charts-line-chart>
        <div class="line-chart-y-axis">
          <span class="grey">100%</span>
          <span class="grey mb-4">0%</span>
        </div>  
      </div>
    </div>
  </div>
</div>
<!-- Deployed devices list panel card-->
<div class="row row-main">
  <div class="col-lg-12 h-100">
    <div class="card p-4">
      <div class="row mb-15">
        <div class="col-10 card-title-name-mb">
          <h5>{{'devices.title' | translate}}</h5>
        </div>
        <!-- Add group -->
        <div class="col-2 add-group-box">
          <button (click)="addGroup()" class="add-group-btn">
            <i class="material-icons i-add">add</i>
            {{'devices.addGroup' | translate}}
          </button>
        </div>
      </div>
      <span *ngIf="loadedData" class="loaded-devices">
        <!-- Search box -->
        <div  
          *ngIf=
          "groups && groups.length > 0 &&
          countDevices() != 0 &&
          loadedData"
          class="row mb-15">
          <!-- Sorting messages -->
          <div class="col-8">  
            <p *ngIf="searchTerm && !filterField" class="sorting-message">
              {{'sortingMessage.filteredBy' | translate:{value: searchTerm} }}
              <span (click)="resetFilters(filterField)" class="reset-search">
                {{'sortingMessage.reset' | translate}}
              </span>
            </p>
            <p *ngIf="filterField && !searchTerm" class="sorting-message">
              {{'sortingMessage.sortedBy' | translate:{value: getBeautyCategoryName(sortedBy)} }}
              <span *ngIf="reverse">ascendant. </span>
              <span *ngIf="!reverse">descendant. </span>
              <span (click)="resetFilters(filterField)" class="reset-search">
                {{'sortingMessage.reset' | translate}}
              </span>
            </p>
            <p *ngIf="filterField && searchTerm" class="sorting-message">
              {{'sortingMessage.sortedBy' | translate:{value: getBeautyCategoryName(sortedBy)} }}
              <span *ngIf="reverse">ascendant </span>
              <span *ngIf="!reverse">descendant </span>
              {{'sortingMessage.andFilteredBy' | translate:{value: searchTerm} }}.
              <span (click)="resetFilters(filterField)" class="reset-search">
                {{'sortingMessage.reset' | translate}}
              </span>
            </p> 
          </div>
          <!-- Search input -->
          <div class="col-4">
            <form>
              <div class="search-box">
                <input 
                  name="searchTerm" 
                  [(ngModel)]="searchTerm"
                  type="text" 
                  placeholder="{{'searcher.placeholder' | translate }}"
                  class="form-control"> 
                  <div *ngIf="searchTerm === ''" class="search-icon">
                    <i class="material-icons">search</i>
                  </div>     
                  <div *ngIf="searchTerm !== ''" class="close-icon">
                    <i (click)="resetFilters()" class="material-icons">close</i>
                  </div>
              </div>
            </form>
          </div>      
        </div>
        <!-- Devices tabs -->
        <div class="row h-100">
          <div *ngIf="groups.length > 0" class="col accordion-box accordion-devices">
            <accordion 
              *ngFor="let group of groups"
              class="accordion-tabs">
              <accordion-group
                heading="{{group.name}}"
                [panelClass]="nalejAccordion"
                [isOpen]="group.isFirstOpen">
                  <span
                    accordion-heading 
                    class="accordion-icons-box">
                    <i class="material-icons accordion-arrow">arrow_drop_down</i>
                    <div class="accordion-btn">
                      <button 
                        (click)="openContextualMenu($event, group)"
                        [ngClass]=
                          "{
                            'action-btn-grey': group.device_group_id !== activeContextMenuGroupId,
                            'action-btn-grey-selected': group.device_group_id === activeContextMenuGroupId
                          }" 
                        class="action-btn-grey position-relative"
                        >
                        <i class="material-icons i-black">more_vert</i>
                        <app-contextual-menu 
                          [visible]="group.device_group_id === activeContextMenuGroupId" 
                          [options]="getDevicesGroupOptions(group)"
                          (closed)="onContextualMenuClose(group)">
                        </app-contextual-menu>
                      </button> 
                    </div>
                  </span>
                  <!-- Devices table -->
                  <div *ngIf=
                    "devices &&
                    devices.length > 0 &&
                    groups && 
                    groups.length > 0 &&
                    getGroupDevices(group.device_group_id).length !== 0 &&
                    !requestError" 
                    class="nalej-table-box no-p-col no-m-row">
                    <div class="label-nalej-table">
                      <div *ngIf="!searchTerm" class="label-thead row">
                        <div class="col-11">
                          <div class="row">
                            <div 
                              *ngIf="countDevices() > 0"
                              (click)="setOrder('name')"
                              [ngClass]="getCategoryCSSClass('name')"
                              class="label-th col-4">
                              <span tooltip="{{'devices.tableName' | translate}}" placement="bottom">{{'devices.tableName' | translate}}</span>
                              <span *ngIf="sortedBy === 'name' && !reverse" class="expand-chevron">
                                <i class="material-icons">expand_more</i>
                              </span>
                              <span *ngIf="sortedBy === 'name' && reverse" class="expand-chevron">
                                <i class="material-icons">expand_less</i>
                              </span>
                            </div>
                            <div 
                              *ngIf="countDevices() > 0"
                              (click)="setOrder('date')" 
                              [ngClass]="getCategoryCSSClass('date')"
                              class="label-th col-4">
                              <span tooltip="{{'devices.tableDate' | translate}}" placement="bottom">{{'devices.tableDate' | translate}}</span>
                              <span *ngIf="sortedBy === 'date' && !reverse" class="expand-chevron">
                                <i class="material-icons">expand_more</i>
                              </span>
                              <span *ngIf="sortedBy === 'date' && reverse" class="expand-chevron">
                                <i class="material-icons">expand_less</i>
                              </span>
                            </div>
                            <div 
                              *ngIf="countDevices() > 0"
                              (click)="setOrder('status')" 
                              [ngClass]="getCategoryCSSClass('status')"
                              class="label-th col-4 text-center">
                              <span tooltip="{{'devices.tableStatus' | translate}}" placement="bottom">{{'devices.tableStatus' | translate}}</span>
                              <span *ngIf="sortedBy === 'status' && !reverse" class="expand-chevron">
                                <i class="material-icons">expand_more</i>
                              </span>
                              <span *ngIf="sortedBy === 'status' && reverse" class="expand-chevron">
                                <i class="material-icons">expand_less</i>
                              </span>
                            </div> 
                            <div 
                              *ngIf="countDevices() > 0"
                              (click)="setOrder('labels')" 
                              [ngClass]="getCategoryCSSClass('labels')"
                              class="label-th col-12">
                              <span tooltip="{{'devices.tableLabels' | translate}}" placement="bottom">{{'devices.tableLabels' | translate}}</span>
                              <span *ngIf="sortedBy === 'labels' && !reverse" class="expand-chevron">
                                <i class="material-icons">expand_more</i>
                              </span>
                              <span *ngIf="sortedBy === 'labels' && reverse" class="expand-chevron">
                                <i class="material-icons">expand_less</i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div 
                          *ngIf="countDevices() > 0"
                          class="label-th col-1 text-center">
                          <span tooltip="{{'devices.tableActions' | translate}}" placement="bottom">{{'devices.tableActions' | translate}}</span> 
                        </div>
                      </div>
                      <span *ngIf="
                          groups && groups.length > 0 &&
                          countDevices() !== 0 &&
                          loadedData">
                        <div *ngFor=
                          "let device of getGroupDevices(group.device_group_id) |
                          sortBy : sortedBy : reverse : 'case-insensitive' |
                          filter : searchTerm">
                          <div class="label-tbody row">
                            <div class="col-11">
                              <div class="row mb-2">
                                <div class="col-4 label-td">{{device.device_id}}</div> 
                                <div *ngIf="device.register_since" class="col-4 label-td">{{parseTimestampToDate(device.register_since) | date: 'dd/MM/yyyy'}}</div>  
                                <div 
                                  class="col-4 label-td col-center-lowercase"
                                  [ngClass]=
                                  "{
                                    'status-dot':classStatusCheck(device.device_status_name, 'status.online' | translate),
                                    'status-dot-error':classStatusCheck(device.device_status_name, 'status.offline' | translate),
                                    'status-dot-process':classStatusCheck(device.device_status_name, 'status.process' | translate)
                                  }"> 
                                  <span 
                                    tooltip="{{device.device_status_name}}" 
                                    placement="bottom"
                                    class="tooltip-fix">
                                  </span>
                                  <span class="hide-lg">
                                    {{device.device_status_name}}
                                  </span>
                                </div>
                              </div>
                              <div class="row">
                                <div *ngIf="!device.labels" class="col-12">
                                  <div 
                                    (click)="addLabel(device)"
                                    tooltip="{{'label.add' | translate}}" 
                                    placement="right"
                                    class="label-btn-blue">
                                      <i class="material-icons i-add">add</i>  
                                  </div>
                                </div>
                                <div *ngIf="device.labels" class="col-12">
                                  <button 
                                    *ngFor="let label of device.labels| keyvalue" 
                                    (click)="onLabelClick(device.device_id, label.key, label.value)"
                                    [ngClass]=
                                    "{
                                      'label-content-selected': indexOfLabelSelected(device.device_id, label.key, label.value) >= 0 ,
                                      'label-content': indexOfLabelSelected(device.device_id, label.key, label.value) === -1
                                    }" 
                                    class="label-content">
                                    {{label.key}}: {{label.value}}
                                  </button>
                                  <div class="label-btns"> 
                                    <div 
                                      *ngIf="isAnyLabelSelected(device.device_id); else isNotAnyLabelSelected" 
                                      (click)="deleteLabel(device)" 
                                      tooltip="{{'label.deleteUp' | translate}}" 
                                      placement="right" 
                                      class="label-btn-red"> 
                                      <i class="material-icons i-delete">delete</i> 
                                    </div>
                                    <ng-template #isNotAnyLabelSelected> 
                                      <div 
                                        (click)="addLabel(device)" 
                                        tooltip="{{'label.addUp' | translate}}" 
                                        placement="right" 
                                        class="label-btn-blue">
                                        <i class="material-icons i-add">add</i>
                                      </div> 
                                    </ng-template> 
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-1 label-td-flex">
                              <div class="actions-col actions-col-fix">
                                <button 
                                  *ngIf="device.enabled"
                                  (click)="enableSwitcher(device)"
                                  tooltip="{{'devices.enabled' | translate}}" 
                                  placement="left"
                                  class="action-btn-blue-2">
                                  <i class="material-icons i-white-2">play_arrow</i>
                                </button>
                                <button
                                  *ngIf="!device.enabled" 
                                  (click)="enableSwitcher(device)"
                                  tooltip="{{'devices.disabled' | translate}}" 
                                  placement="left"
                                  class="action-btn-grey-2 position-relative">
                                  <i class="material-icons i-black-2">pause</i>
                                </button>
                                <button 
                                  (click)="unlinkDevice(device)"
                                  tooltip="{{'devices.unlinkDevice' | translate}}" 
                                  placement="bottom" 
                                  class="action-btn-red-2">
                                  <i class="material-icons i-red-2">delete</i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </span>
                    </div>
                  </div> 
                  <!-- No devices to show -->
                  <div *ngIf=
                    "getGroupDevices(group.device_group_id).length === 0 &&
                    loadedData"
                    class="no-elements-in-group">
                    {{'devices.noDevicesRegistered' | translate}}
                  </div>
                  <!-- Requested error -->
                  <div *ngIf="requestError" class="no-elements">
                    <p>{{ requestError }}</p>
                  </div>
              </accordion-group>
            </accordion>
          </div>
          <!-- No info to show -->
          <div *ngIf="loadedData && groups.length === 0" class="col no-elements-in-group">  
            {{'devices.noGroupsCreated' | translate}}
          </div>
        </div>
      </span>
      <!-- Loader -->
      <div *ngIf="!loadedData" class="nalej-loader-box h-100 w-100">
        <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle 
              class="path" 
              cx="50" 
              cy="50" 
              r="20" 
              fill="none" 
              stroke-width="2" 
              stroke-miterlimit="10"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
