<!-- Component title -->
<div class="row row-title">
    <div class="col-lg-2">
      <h2 class="section-title">DEVICES</h2>
    </div>
    <div class="col-lg-8">
      <div class="close-group-button">
        <button  
          *ngIf="activeGroupId !== 'ALL'" 
          (click)="changeActiveGroup('ALL')"
          class="button">
          <span>{{getGroupName(activeGroupId) | abbreviate}}<span class="close-trigger">X</span></span>
        </button>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <!-- Summary and devices status timeline row -->
  <div *ngIf="groups.length === 0 ||  activeGroupId === 'ALL'" class="row row-info">
    <!-- Summary group info card for all -->
    <div class="col-lg-4 h-100">
      <div class="card">
        <div class="card-title-name">
          <h5>SUMMARY</h5>
        </div>
        <div *ngIf="groups && groups.length > 0" class="summary-card">
          <div class="summary-box">
            <div class="circle">
                <span >{{groups.length}}</span>
            </div>
            <p class="circle-name">GROUPS</p>
          </div>        
          <div class="summary-box">
            <div class="circle">
              <span>{{countDevices()}}</span> 
            </div>
              <p class="circle-name">DEVICES</p> 
          </div>
        </div>
        <div *ngIf="groups && groups.length === 0" class="no-elements">
          No available groups detected
        </div>
      </div>
    </div>
    <!-- Devices status timeline info card for all -->
    <div class="col-lg-8 h-100">
      <div class="card p-4">
        <div class="card-title-name">
          <h5>DEVICES STATUS TIMELINE</h5>
        </div>
        <div *ngIf="countGroupDevices(activeGroupId) === 0" class="no-elements"> 
          No devices
        </div>
        <div *ngIf="countGroupDevices(activeGroupId) > 0" class="line-chart-box">
          <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="devicesChart"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [gradient]="gradient" 
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [yScaleMin]="0"
            [yScaleMax]="100"
            [showGridLines]="showGridLines"
            [showRefLines]="showRefLines"
            [schemeType]="schemeType"
            [customColors]="customColors"
            [rangeFillOpacity]="rangeFillOpacity"
            [referenceLines]="referenceLines"
            [showRefLabels]="showRefLabels">
          </ngx-charts-line-chart>
          <div class="line-chart-y-axis">
            <span class="grey">100%</span>
            <span class="grey mb-4">0%</span>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <span *ngIf="groups && groups.length > 0">
    <span *ngFor="let group of groups">
      <div *ngIf="activeGroupId === group.device_group_id" class="row row-info">
        <!-- Summary group info card -->
        <div class="col-lg-4 h-100">
          <div class="card">
            <div class="card-title-name">
              <h5 class="text-uppercase">Summary {{group.name}}</h5>
            </div>
            <div class="summary-card">
              <table class="table summary-devices-table">
                <tr>
                  <th>Availability</th>
                  <td *ngIf="group.enabled" class="summary-devices-availability blue">
                   <span tooltip="Availability" placement="bottom">ENABLED</span> 
                  </td>
                  <td *ngIf="!group.enabled" class="summary-devices-availability red">
                    <span tooltip="Availability"placement="bottom">DISABLED</span> 
                  </td>
                </tr>
                <tr>
                  <th>API Key</th>
                  <td>
                    <span tooltip= "API Key" placement="bottom">{{group.device_group_api_key}}</span>
                  </td> 
                </tr>
                <tr>
                  <th>Devices</th>
                  <td class="summary-devices-running">
                    <span  tooltip= "Devices" placement="bottom">{{countGroupDevices(group.device_group_id)}}</span> 
                  </td>
                </tr>
                <tr>
                  <th class="summary-devices-lh">Device connectivity</th>
                  <td *ngIf="group.default_device_connectivity" class="summary-devices-conectivity blue">
                    <span tooltip="Device connectivity" placement="top">ENABLED</span>
                  </td>
                  <td *ngIf="!group.default_device_connectivity" class="summary-devices-conectivity red">
                    <span tooltip="Device connectivity" placement="top">DISABLED</span> 
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- Devices status timeline info card -->
        <div class="col-lg-8 h-100">
          <div class="card">
            <div class="card-title-name">
              <h5 class="text-uppercase">{{group.name}} DEVICES STATUS TIMELINE</h5>
            </div>
            <div *ngIf="countGroupDevices(activeGroupId) === 0" class="no-elements"> 
              No devices
            </div>
            <div *ngIf="countGroupDevices(activeGroupId) > 0" class="line-chart-box">
              <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="devicesChart"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [gradient]="gradient" 
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [yScaleMin]="0"
                [yScaleMax]="100"
                [showGridLines]="showGridLines"
                [showRefLines]="showRefLines"
                [schemeType]="schemeType"
                [customColors]="customColors"
                [rangeFillOpacity]="rangeFillOpacity"
                [referenceLines]="referenceLines"
                [showRefLabels]="showRefLabels">
              </ngx-charts-line-chart>
              <div class="line-chart-y-axis">
                <span class="grey">100%</span>
                <span class="grey mb-4">0%</span>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </span>
  </span>
  <!-- Deployed devices list panel card-->
  <div class="row row-main">
    <div class="col-lg-12 h-100">
      <div class="card p-4">
        <div class="row">
          <div class="col-2 card-title-name-mb">
            <h5>DEVICES</h5>
          </div>
          <!-- Devices tabs buttons -->
          <div class="col-10 devices-tab-btns-box">
            <ul *ngIf="activeGroupId === 'ALL' || groups && groups.length === 0" class="devices-tab-btn">
              <li>
                <span (click)="addGroup()" class="blue devices-button-item-pr">
                  <i class="material-icons">add</i>
                  ADD GROUP 
                </span>
              </li>
            </ul>
            <ul *ngIf="activeGroupId !== 'ALL' && groups && groups.length > 0" class="devices-tab-btn">
              <li>
                <span (click)="addGroup()" class="blue" >
                  <i class="material-icons">add</i>
                  ADD GROUP 
                </span>
              </li>
              <li>
                <span (click)="deleteGroup()">
                  <i class="material-icons">delete</i>
                  DELETE GROUP
                </span>
              </li>
              <li>
                <span (click)="openGroupConfiguration()">
                  <i class="material-icons">settings</i>
                  CONFIGURATION
                </span>
              </li>
            </ul> 
          </div>
        </div>
        <span *ngIf="loadedData" class="loaded-devices">
          <!-- Devices tabs -->
          <div class="row">
            <div class="col">
              <div class="nalej-tab-box">
                <ul>
                  <li *ngIf="displayedGroupsNamesLength < maxLabelsLength" class="nalej-tab-title">
                    <span>GROUPS</span>
                  </li>
                  <li *ngIf="groups && groups.length > 0" (click)="changeActiveGroup('ALL')">
                    <span [ngClass]="amIactive('ALL')">ALL</span>
                  </li>
                  <li *ngIf="groups && groups.length === 0">
                    <span class="active">ALL</span>
                  </li>
                  <li 
                    [ngClass]="haveIGroups(groups)"
                    (click)="swipeLeft()" 
                    class="tabs-arrow" >
                    <i class="material-icons">arrow_left</i>
                  </li>
                  <li *ngFor="let group of displayedGroups" (click)="changeActiveGroup(group.device_group_id)">
                    <span *ngIf="displayedGroups.length > 0" [ngClass]="amIactive(group.device_group_id)">
                      {{group.name}}
                    </span>
                  </li>
                  <li 
                    [ngClass]="haveIGroups(groups)"
                    (click)="swipeRight()"
                    class="tabs-arrow">
                    <i class="material-icons">arrow_right</i>
                  </li>
                </ul>
              </div>  
            </div>
          </div>
          <div  
            *ngIf=
            "groups && groups.length > 0 &&
            countGroupDevices(activeGroupId) != 0 &&
            loadedData"
            class="row mb-3">
            <!-- Sorting mesages -->
            <div class="col-8">  
              <p *ngIf="searchTerm && !filterField" class="sorting-message">
                Filtered by term "{{ searchTerm }}".
                <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
              </p>
              <p *ngIf="filterField && !searchTerm" class="sorting-message">
                Sorted by {{ getBeautyCategoryName(sortedBy) }},
                <span *ngIf="reverse">ascendant. </span>
                <span *ngIf="!reverse">descendant. </span>
                <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
              </p>
              <p *ngIf="filterField && searchTerm" class="sorting-message">
                Sorted by {{ getBeautyCategoryName(sortedBy) }}
                <span *ngIf="reverse">ascendant </span>
                <span *ngIf="!reverse">descendant </span>
                and filtered by term "{{ searchTerm }}".
                <span (click)="resetFilters(filterField)" class="reset-search">Reset</span>
              </p> 
            </div>
            <!-- Search input -->
            <div class="col-4">
              <form>
                <div class="search-box">
                  <input 
                    name="searchTerm" 
                    [(ngModel)]="searchTerm"
                    type="text" 
                    placeholder="Search..."
                    class="form-control"> 
                    <div *ngIf="searchTerm === ''" class="search-icon">
                      <i class="material-icons">search</i>
                    </div>     
                    <div *ngIf="searchTerm !== ''" class="close-icon">
                      <i (click)="resetFilters(filterField)" class="material-icons">close</i>
                    </div>
                </div>
              </form>
            </div>      
          </div>
          <!-- No devices to show -->
          <div *ngIf=
            "groups && groups.length > 0 &&
            countGroupDevices(activeGroupId) === 0 &&
            loadedData"
            class="no-elements-in-group">
            No available devices registered in this group
          </div>
           <div *ngIf=
            "devices &&
            devices.length > 0 &&
            groups && 
            groups.length > 0 &&
            !requestError" 
            class="nalej-table-box">
            <table class="nalej-table">
              <thead class="nalej-thead">
                <tr>
                  <th 
                    *ngIf="activeGroupId !== 'ALL' && countGroupDevices(activeGroupId) > 0 "
                    (click)="setOrder('device_id')"
                    [ngClass]="getCategoryCSSClass('device_id')"
                    scope="col" 
                    class="col-3">
                    <span tooltip="ID" placement="bottom">ID</span>
                    <span *ngIf="sortedBy === 'device_id' && !reverse" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedBy === 'device_id' && reverse" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    *ngIf="activeGroupId === 'ALL' && countGroupDevices(activeGroupId) > 0"
                    (click)="setOrder('device_id')"
                    [ngClass]="getCategoryCSSClass('device_id')"
                    scope="col" 
                    class="col-2">
                    <span tooltip="ID" placement="bottom">ID</span>
                    <span *ngIf="sortedBy === 'device_id' && !reverse" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedBy === 'device_id' && reverse" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    *ngIf="activeGroupId === 'ALL' && countGroupDevices(activeGroupId) > 0"
                    (click)="setOrder('group')"
                    [ngClass]="getCategoryCSSClass('group')"
                    scope="col" 
                    class="col-2">
                    <span tooltip="Group" placement="bottom">Group</span>
                    <span *ngIf="sortedBy === 'group' && !reverse" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedBy === 'group' && reverse" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    *ngIf="activeGroupId !== 'ALL' && countGroupDevices(activeGroupId) > 0"
                    (click)="setOrder('register_since')" 
                    [ngClass]="getCategoryCSSClass('register_since')"
                    scope="col" 
                    class="col-2">
                    <span tooltip="Date" placement="bottom">Date</span>
                    <span *ngIf="sortedBy === 'register_since' && !reverse" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedBy === 'register_since' && reverse" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    *ngIf="activeGroupId === 'ALL' && countGroupDevices(activeGroupId) > 0"
                    (click)="setOrder('register_since')" 
                    [ngClass]="getCategoryCSSClass('register_since')"
                    scope="col" 
                    class="col-2">
                    <span tooltip="Date" placement="bottom">Date</span>
                    <span *ngIf="sortedBy === 'register_since' && !reverse" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedBy === 'register_since' && reverse" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    *ngIf="activeGroupId === 'ALL' && countGroupDevices(activeGroupId) > 0"
                    (click)="setOrder('device_status_name')" 
                    [ngClass]="getCategoryCSSClass('device_status_name')"
                    scope="col" 
                    class="col-2 text-center">
                    <span tooltip="Status" placement="bottom">Status</span>
                    <span *ngIf="sortedBy === 'device_status_name' && !reverse" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedBy === 'device_status_name' && reverse" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th> 
                  <th 
                    *ngIf="activeGroupId !== 'ALL' && countGroupDevices(activeGroupId) > 0"
                    (click)="setOrder('device_status_name')" 
                    [ngClass]="getCategoryCSSClass('device_status_name')"
                    scope="col" 
                    class="col-2 text-center">
                    <span tooltip="Status" placement="bottom">Status</span>
                    <span *ngIf="sortedBy === 'device_status_name' && !reverse" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedBy === 'device_status_name' && reverse" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th> 
                  <th 
                    *ngIf="activeGroupId === 'ALL' && countGroupDevices(activeGroupId) > 0"
                    (click)="setOrder('labels')" 
                    [ngClass]="getCategoryCSSClass('labels')"
                    scope="col" 
                    class="col-3">
                    <span tooltip="Labels" placement="bottom">Labels</span>
                    <span *ngIf="sortedBy === 'labels' && !reverse" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedBy === 'labels' && reverse" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    *ngIf="activeGroupId !== 'ALL' && countGroupDevices(activeGroupId) > 0"
                    (click)="setOrder('labels')" 
                    [ngClass]="getCategoryCSSClass('labels')"
                    scope="col" 
                    class="col-4">
                    <span tooltip="Labels" placement="bottom">Labels</span>
                    <span *ngIf="sortedBy === 'labels' && !reverse" class="expand-chevron">
                      <i class="material-icons">expand_more</i>
                    </span>
                    <span *ngIf="sortedBy === 'labels' && reverse" class="expand-chevron">
                      <i class="material-icons">expand_less</i>
                    </span>
                  </th>
                  <th 
                    *ngIf="activeGroupId === 'ALL' && countGroupDevices(activeGroupId) > 0"
                    tooltip="Actions" 
                    placement="bottom"
                    scope="col" 
                    class="col-1 text-center enabled-initial-text">
                    <span class="enabled-full-text">Actions</span> 
                  </th>
                  <th
                    *ngIf="activeGroupId !== 'ALL' && countGroupDevices(activeGroupId) > 0"
                    tooltip="Actions" 
                    placement="bottom"
                    scope="col" 
                    class="col-1 text-center enabled-initial-text">
                    <span class="enabled-full-text">Actions</span> 
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor=
                  "let device of getDevices() |
                  sortBy : sortedBy : reverse : 'case-insensitive' |
                  filter : searchTerm">
                  <span *ngIf="activeGroupId === 'ALL'">
                    <td class="col-2">{{device.device_id}}</td>
                    <td class="col-2">{{getGroupName(device.device_group_id)}}</td>
                    <td class="col-2">{{parseTimestampToDate(device.register_since) | date: 'dd/MM/yyyy'}}</td>  
                    <td 
                      class="col-2 col-center-lowercase"
                      [ngClass]=
                      "{
                        'status-dot':classStatusCheck(device.device_status_name, 'online'),
                        'status-dot-error':classStatusCheck(device.device_status_name, 'offline'),
                        'status-dot-process':classStatusCheck(device.device_status_name, 'process')
                      }"> 
                      <span 
                        tooltip="{{device.device_status_name}}" 
                        placement="bottom"
                        class="tooltip-fix">
                      </span>
                      <span class="hide-lg">
                        {{device.device_status_name}}
                      </span>
                    </td>
                    <td *ngIf="!device.labels" class="col-3">
                      <div 
                        (click)="addLabel(device)"
                        tooltip="Add" 
                        placement="right"
                        class="label-btn-blue">
                          <i class="material-icons i-add">add</i>  
                      </div>
                    </td>
                    <td *ngIf="device.labels" class="col-3">
                      <button 
                        *ngFor="let label of labelsToString(device.labels)" 
                        (click)="onLabelClick(device.device_id, label[0], label[1])"
                        [ngClass]=
                        "{
                          'label-btn-selected': indexOfLabelSelected(device.device_id, label[0], label[1]) >= 0 ,
                          'btn-outline-primary': indexOfLabelSelected(device.device_id, label[0], label[1]) === -1
                        }" 
                        class="btn-sm btn-outline-primary">
                        {{label[0]}}: {{label[1]}} 
                      </button>
                      <div class="label-btns">
                        <div 
                          *ngIf="isAnyLabelSelected(device.device_id) === false"
                          (click)="addLabel(device)"
                          tooltip="Add" 
                          placement="right"
                          class="label-btn-blue">
                          <i class="material-icons i-add">add</i>
                        </div>
                        <div 
                          *ngIf="isAnyLabelSelected(device.device_id) === true"
                          (click)="deleteLabel(device)"
                          tooltip="Delete" 
                          placement="right"
                          class="label-btn-red">
                          <i class="material-icons i-delete">delete</i>
                        </div>
                      </div>
                    </td>
                    <td class="col-1 actions-col actions-col-fix">
                      <button 
                        *ngIf="device.enabled"
                        (click)="enableSwitcher(device)"
                        tooltip="Disabled" 
                        placement="left"
                        class="action-btn-blue-2">
                        <i class="material-icons i-white-2">play_arrow</i>
                      </button>
                      <button
                        *ngIf="!device.enabled" 
                        (click)="enableSwitcher(device)"
                        tooltip="Disabled" 
                        placement="left"
                        class="action-btn-grey-2 position-relative">
                        <i class="material-icons i-black-2">pause</i>
                      </button>
                      <button 
                        (click)="unlinkDevice(device)"
                        tooltip="Unlink device" 
                        placement="bottom" 
                        class="action-btn-red-2">
                        <i class="material-icons i-red-2">delete</i>
                      </button>
                    </td>
                  </span>
                  <span *ngIf="activeGroupId === device.device_group_id">
                    <td *ngIf="groups && groups.length > 0 && countGroupDevices(device.device_group_id) === 0" class="col-12">
                        No available devices registered in this group
                    </td>
                    <td class="col-3">{{device.device_id}}</td>
                    <td class="col-2">{{parseTimestampToDate(device.register_since) | date: 'dd/MM/yyyy'}}</td>
                    <td  
                      class="col-2 col-center-lowercase"
                      [ngClass]=
                      "{
                        'status-dot':classStatusCheck(device.device_status_name, 'online'),
                        'status-dot-error':classStatusCheck(device.device_status_name, 'offline'),
                        'status-dot-process':classStatusCheck(device.device_status_name, 'process')
                      }"> 
                      <span 
                        tooltip="{{device.device_status_name}}" 
                        placement="bottom"
                        class="tooltip-fix">
                      </span>
                      <span class="hide-lg">
                        {{device.device_status_name}}
                      </span>
                    </td>
                    <td *ngIf="!device.labels" class="col-4">
                      <div 
                        (click)="addLabel(device)"
                        tooltip="Add" 
                        placement="right"
                        class="label-btn-blue">
                          <i class="material-icons i-add">add</i>  
                      </div>
                    </td>
                    <td *ngIf="device.labels" class="col-4">
                      <button 
                        (click)="onLabelClick(device.device_id, label[0], label[1])"
                        [ngClass]=
                        "{
                          'label-btn-selected': indexOfLabelSelected(device.device_id, label[0], label[1]) >= 0 ,
                          'btn-outline-primary': indexOfLabelSelected(device.device_id, label[0], label[1]) === -1
                        }" 
                        *ngFor="let label of labelsToString(device.labels)" 
                        class="btn-sm btn-outline-primary">
                        {{label[0]}}: {{label[1]}}
                      </button>
                      <div class="label-btns">
                        <div 
                          *ngIf="isAnyLabelSelected(device.device_id) === false"
                          (click)="addLabel(device)"
                          tooltip="Add" 
                          placement="right"
                          class="label-btn-blue">
                          <i class="material-icons i-add">add</i>
                        </div>
                        <div 
                          *ngIf="isAnyLabelSelected(device.device_id) === true"
                          (click)="deleteLabel(device)"
                          tooltip="Delete" 
                          placement="right"
                          class="label-btn-red">
                          <i class="material-icons i-delete">delete</i>
                        </div>
                      </div>
                    </td>
                    <td class="col-1 actions-col actions-col-fix">
                      <button 
                        *ngIf="device.enabled"
                        (click)="enableSwitcher(device)"
                        tooltip="Disabled" 
                        placement="left"
                        class="action-btn-blue-2">
                        <i class="material-icons i-white-2">play_arrow</i>
                      </button>
                      <button
                        *ngIf="!device.enabled" 
                        (click)="enableSwitcher(device)"
                        tooltip="Disabled" 
                        placement="left"
                        class="action-btn-grey-2 position-relative">
                        <i class="material-icons i-black-2">pause</i>
                      </button>
                      <button 
                        (click)="unlinkDevice(device)"
                        tooltip="Unlink device" 
                        placement="bottom" 
                        class="action-btn-red-2">
                        <i class="material-icons i-red-2">delete</i>
                      </button>
                    </td>
                  </span>
                </tr>
              </tbody>
            </table>
          </div> 
          <!-- No info to show -->
          <div *ngIf="groups && groups.length === 0 && !requestError" class="no-elements">
            No available groups have been created. Add a new group to be able to register devices in it.
          </div>
          <!-- Requested error -->
          <div *ngIf="requestError" class="no-elements">
            <p>{{ requestError }}</p>
          </div>
        </span>
        <!-- Loader -->
        <div *ngIf="!loadedData" class="nalej-loader-box h-100 w-100">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle 
                class="path" 
                cx="50" 
                cy="50" 
                r="20" 
                fill="none" 
                stroke-width="2" 
                stroke-miterlimit="10"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>