/* - - - Summary device card - - - */
.summary-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-top: 1em;
}
.summary-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.circle {
    width:112px;
    height: 112px;
    border: 1px solid #949494; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}
.circle span {
    text-align: center;
    color: black;
    font-size: 1.7em;
}
.circle-name {
    font-size: 1.2em;
    color:#949494;
}

/* - - - Medias Summary devices card - - - */
@media screen and (max-width:1500px) {
    .circle {
        margin-top: 2em;
        max-width: 65px;
        max-height: 65px;
    }
    .circle span {
        font-size: 1em !important;
        top: 21px;
        left: 25px;
    }
    .circle-name {
        font-size: .9em !important;
    }
    .summary-card {
        margin-top: 0em;
        height: 82%;
    }
    h2 {
        font-size: 1.5rem;
    }
}
@media screen and (min-width:2560px) {
    .circle {
        min-width: 140px;
        min-height: 140px;
    }
    .circle span {
        top: 54px;
        left: 58px;
    }
}

/* - - - Device Status card - - - */
.box-line-chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:93%;
    height: 100%;
}
.y-axis-line-chart {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

/* - - - Media Device Status card - - - */
@media screen and (max-width:1500px) {
    .y-axis-line-chart span {
        font-size: .8em;
    }
}

/* - - - Devices list table card - - - */
.status-dot:before {
    content:'\A';
    width:10px;
    height:10px;
    border-radius:50%;
    background: #0937FF;
    display:inline-block;
    margin: 0 5px 0 0;
}
.status-dot-error:before {
    content:'\A';
    width:10px;
    height:10px;
    border-radius:50%;
    background: #F25272;
    display:inline-block;
    margin: 0 5px 0 0;
}
.status-dot-process:before {
    content:'\A';
    width:10px;
    height:10px;
    border-radius:50%;
    background: #FFC40D;
    display:inline-block;
    margin: 0 5px 0 0;
}
.no-devices {
    height: 70%;
}
/* - - - Medias Devices list card - - - */
@media screen and (max-width:1500px) {
    .card-title-h h5, .card-title-c h5 {
        font-size: 1em;
    }
    .status-dot, 
    .status-dot-error, 
    .status-dot-process {
        text-align: center;
    }
    .status-dot:before, 
    .status-dot-error:before, 
    .status-dot-process:before {
        margin: 0 23px;
    }
}
@media screen and (max-width:1680px) {
    .summary-card {
        margin-top: 0em;
    }
    .circle {
        width: 90px;
        height: 90px;
    }
}

/* - - - Devices tabs - - - */
.devices-tab-container {
    margin-bottom: 2em;
    margin-right: 3em;
    font-size: .6em;
    border-bottom: 1px solid #ececec;
    margin-left: 1em;
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    li {
        font-size: 1em;
        float: left;
        padding: 0.5rem 2.5rem;
        cursor: pointer;
        position: relative;
    }
    .tabs-arrow {
        color: #949494;
        padding: 0rem 2rem;
    }
    .devices-tab-title {
        cursor: default;
        padding-right: 8em;
    }
    .devices-tab {
        text-transform: uppercase;
    }
    span {
        display: block;
        text-decoration: none;
        display: block;
        transition: .3s background-color;
    }
    span.active{
        color: #0937FF;
    }
    span.active::before {
        content: "";
        height: 5px;
        width: 100%;
        display: block;
        position: absolute; 
        bottom: -1px;        
        left: 0;
        background-color: #0937FF;
    }
    .devices-tab-button {
        float: right;
        color: #707070;
        li {
            padding: 0.5rem 1.5rem;
        }
        .devices-button-item {
            i {
                font-size: 1.4em;
                margin-right: .2em;
                vertical-align: middle;
            }
        }
        .devices-button-item-pr {
            padding-right: 3em;
        }
    }
}
/* - - -Summary card devices table - - - */
.summary-devices-table {
    margin-bottom: -1em;
    td {
        padding: 0.2rem;
        vertical-align: middle;
        font-size:  .9em;
        border: none;
        margin-left: 20%;
        text-align: right;
    }
    th {
        padding: 0.2em;
        border: none;
        font-size:  .9em;
        font-weight: 200;
    }
    tr {
        border: none;
    } 
}
.summary-devices-availability {
    font-size: 1.4em !important;
    text-transform: uppercase;
}
.summary-devices-running {
    font-size: 3em !important;
}
.summary-card-small {
    display: none;
}

/* - - - Medias summary card devices table - - - */
@media screen and (max-width:1779px) {
    .summary-card {
        .summary-devices-availability {
            font-size: 1em !important;
        }
        .summary-devices-running {
            font-size: 1em !important;
        }
    }
    .devices-tab-container li {
        padding: 0.5rem 1.2rem;
    }
    .devices-tab-button {
        li {
            padding: 0.5rem 1.2rem !important;
        }
    }
}
@media screen and (max-width:1570px) {
    .summary-card{
        th {
            display: none;
        } 
        td {
            font-size: .7em;
        }
    }
    .devices-tab-container li {
        padding: 0.5rem .9rem;
    }
    .devices-button-item-pr {
        padding-right: 0em !important;
    }
    .devices-tab-title {
        padding-right: 4em !important;
    }
    .devices-tab-button {
        li {
            padding: 0.5rem .9rem !important;
        }
    }
}

/* - - - Close group button - - - */
.close-group-button {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .button {
        outline: none;
        display: inline-block;
        background-color: #0937FF;
        border-radius: 50px;
        border:none;
        color: #FFFFFF;
        font-size: .8em;
        font-weight: 100;
        padding-bottom: .5em;
        padding-top: .6em;
        width:161px;
        transition: all 0.5s;
        cursor: pointer;
        text-transform: uppercase;
    }
    .button span.close-trigger {
        font-size: 1.2em !important;
        margin-left: 40px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
}
.devices-checkbox {
    cursor: pointer;
}

.opacity {
    opacity: 0;
}